.mobile_application {
  tbody {
    width: 100%;
    display: inline-block;
  }
  tr {
    width: 100%;
    display: inline-block;
  }
  td {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .data {
    border-radius: 5px;
    background-color: rgb(230,230,230);
    border: 1px solid rgb(200,200,200);
    float: right;
    max-width: 60%;
  }
  &:not(.data) {
    vertical-align: middle;
    text-align: left;
  }
}

#mobile_application-form {
  margin: 2em;

    fieldset {
      margin: 1em 0;

      &.rounded {
        background-color: $joomahlite;
        @include border-radius(1em);

        input, select {
          width: 100%;
          padding: 0.5em;
          border: none;
          border-bottom: 1px solid $joomahgrey;
          background-color: transparent;
          color: #34495E;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    input[type=text],
    input[type=password],
    input[type=submit] {
      display: block;
      width: 100%;
    }

    label {
      color: #fff;
    }

    label + input {
      margin-left: 2em;
    }

    select.standalone {
      background-color: $joomahlite;
      @include border-radius(0.5em);
      width: 70%;
      color: #34495E;
      padding: 0.25em;
    }

    input[type=submit] {
      padding: 0.4em;
      border: none;
      background-color: $joomahblue;
      color: white;
      font-size: 2em;
    }
  }
