& {
  font-size: medium; 
}

html,body {
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

header,
footer {
  height: auto;
  padding: 0.4em;
  text-align: center;
  background-color: $joomahblue;
  color: #fff;
  .left { float: left; }
  .right { float: right; }

  h1 {
    font-size: 2em;
  }
  
  div {
    font-size: 1.6em;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  padding-top: 80px;
}


.push {
  height: 2.4em;
}

.wrapper {
  margin-bottom: -2.4em;
}


