/* Blog page */
.page-blog {
    > div {
        padding-left: 20%;
        padding-right: 20%;
        > a {
            &:hover { text-decoration: none; opacity: 0.6; }
            border-radius: 10px;
            border: 1px solid black;
            padding: 10px;
            color: black;
            display: block;
            margin-bottom: 20px;
            h1 {
                font-size: 1.5em;
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
    }
}

.page-blog-entry {
    .blog-content {
        line-height: 1.5em;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 5%;
        border: 1px solid black;
        border-radius: 20px;
        margin-top: 30px;
        position: relative;
        top: 20px;
    }
}