&.page-form, .page-form {
  
  &.page-register {
    background-color: #34495E;
  }
  &.page-signin,
  &.page-setup {
    background-color: $joomahlite;

    h2 {
      color: $joomahgrey;
    }

    h3.join {
      color: white;
      > a { 
        padding: 0.4em;
        margin-top: 20px;
        border: none;
        background-color: #1abc9c;
        color: white;
        font-size: 1.7em;
      }
    }    

    fieldset.rounded {
      background-color: #fff;

      input {
        border-bottom: 1px solid $joomahlite;
      }
    }
  }
  &.page-settings {
    label {
      font-weight: bolder;
      display: block;
      padding: 10px;
    }
    input::-webkit-file-upload-button {
        -webkit-appearance: none;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 5px;
        font-size: 18px;
        text-align: center;
        border: none;
        background-color: rgba(84,187,232,1);
        color: white;
        }
    input[type="file"] {
      width:273px;
      font-size: 18px;
      line-height: 18px;
      padding: 5px;
    }
    button#forgotPassword {
      padding-right: 20px;
        padding-left: 20px;
        height:40px;
        margin-top:30px;
        font-size: 24px;
        border-radius: 5px;
        text-align: center;
        border: none;
        background-color: rgba(84,187,232,1);
        color: white;
    }
    select {
        -moz-appearance: none; 
        text-indent: 0.01px;
        text-overflow: "";
        background: rgba(84,187,232,1) url(../img/select-arrow.png) no-repeat 95% center;

        // background-
        width: 80%;
        min-width: 100px;
        -webkit-appearance:none;
        max-width: 500px;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        border: none;
        color: white;
    }
    p {
      border-bottom-color: $joomahgrey;
      border-bottom-width: 1px;
      border-bottom-style: ridge;
      width:100%;
      padding-bottom: 20px;
      margin-left:auto;
      margin-right:auto;
    }
    fieldset {
      width:100%;
      padding-bottom: 15px;
      margin-left:auto;
      margin-right:auto;
    }
    select[multiple="multiple"], textarea  {
      width: 80%;
      max-width: 500px;
      padding: 10px;
      text-align: center;
      background: white;
      color: black;
    }
    input[type="submit"] {
      padding: 0.4em;
      padding-right:30px;
      padding-left:30px;
      border-radius: 10px;
      margin-top: 20px;
      border: none;
      background-color: rgba(211,84,0,1);
      color: white;
      font-size: 2em;
    }
    *:nth-child(3) select {
      display: inline-block;
      width: auto;
      max-width: 30%;
    }
  }
  text-align: center;

  h2 {
    font-size: 1.2em;
    color: white;

    &.left {
      text-align: left;
      margin: 1em 0 -0.5em 0;
    }

    &.right {
      text-align: right;
      margin: -0.5em 0 1em 0;
    }
  }

  h3 {
    font-size: 0.8em;
    color: #999999;
  }

  h4 {
    font-size: 0.6em;
    color: #999999;
  }

  input,
  label,
  select {
    font-size: 1.6em;
  }

  h3,
  h4 {
    margin: 0.4em 0;
  }

  a {
    color: $joomahblue;
  }

  
    fieldset {
      margin: 1em 0;

      &.rounded {
        background-color: $joomahlite;
        @include border-radius(1em);

        input, select {
          width: 80%;
          max-width: 90%;
          padding: 0.5em;
          border: none;
          border-bottom: 1px solid $joomahgrey;
          background-color: transparent;
          color: #34495E;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    input[type=submit] {
      -webkit-appearance: none;
      padding: 0.4em;
      margin-top: 20px;
      border: none;
      background-color: $joomahblue;
      color: white;
      font-size: 2em;
    }
  }
