.page-history {
  li {
    margin: 0.8em 0;
    border: 1px solid $joomahgrey;
    @include border-radius(0.5em);

    h3 {
      padding: 0.2em 1em;
      font-size: 1.6em;

      &:first-child {
        border-bottom: 1px solid $joomahgrey;
      }
    }
  }
}

