&.page-home {
  background-color: #F2F2F2;
  text-align: center;

  .logo {
    width: 60%;
  }

  .buttons {
    margin: 3em auto;

    a {
      display: block;
      font-size: 2em;
      margin: 0.5em auto;
      padding: 0.2em;
      width: 80%;
      color: #fff;
      @include border-radius(0.2em);
    }

    .register {
      background-color: #E74C3C;
    }
    .signin {
      background-color: #16A085;
    }
  }

  .call {
    font-size: 1.3em;
    color: #34495E;
  }
}

