&.page-landing, .page-landing {
  header {
    .landing-header {
       display: inline-block;
    }
  }
  .content {
    padding-top: 60px;
  }
  .content-div {
    border-bottom: 1px solid $joomahgrey;
    margin: 0px auto 0px auto;
    padding: 10px 0px 10px 0px;
    width: 90%;
    div {
      text-align: center;
      padding: 5px 5%;
      > a { 
        color: white;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        width: 50%;
      }
    }
    &.register {
      > div > a {
        background-color: #E74C3C;
      }
    }
    &.create-cv {
      > div > a {
        background-color: #29ABE2;
      }
    }
    &.signin {
      > div > a {
        background-color: #1ABC9C;
      }
    }
    &.whatis {
      h4 {
        font-family: bolder;
      }
      > div > div {
        font-size: 0.8em;
      }
    }
    &.blog {
      padding: 0px;
      > div > a {
        width: 100%;
        padding: 0px;
        color: $joomahblue;
        font-size: 0.7em;
      }
    }
  }

}
