.page-notice {
  li {
    padding: 1em;
    color: #4D4D4D;
    border-bottom: 1px solid $joomahlite;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      border-top: 1px solid $joomahgrey;
    }

    img {
      margin: -1em 0.5em -1em 0;
      height: 2em;
      vertical-align: middle;
    }
  }
  li:nth-child(even) {
    background: #ECF0F1;
  }
}
