&.page-register {
  form {
    label {
      display: none;
    }
    p {
      input {
        margin-left: 0px;
        text-align: center;
      }
    }
    ul {
      position: absolute;
      width: 96%;
    }
  } 
}