form.search {
  input { display: block; }
  table,input {
    margin-right: auto;
    margin-left: auto;
  }
  tr > td {
    padding: 10px 0;
  }
  tr:first-child {
    th {
      display: none;
    }
    td input {
      width: 200%;
    }
  }
}