&.page-section {
  .content {
    h2 {
      text-align: center;
      margin-bottom: 0.5em;
      font-size: 1.6em;
      color: $joomahblue;
    }
  }

  header {
    a {
      display: inline-block;

      .arrow {
        margin-right: 0.2em;
        display: inline-block;
        height: 0;
        width: 0;
        border-right: 0.3em solid #fff;
        border-top: 0.3em solid transparent;
        border-bottom: 0.3em solid transparent;
      }
    }
  }
}

