.page-start {
  .profile {
    > * {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      width: 35%;
      max-width: 150px;
    }

    h2 {
      margin: 0.2em 0.5em;
      font-size: 1.3em;
      color: #34495E;
    }
    .info {
      width:60%;
    }
  }

  .links {
    margin: 1em;

    a {
      display: block;
      margin: 0.6em 0;
      border: 1px solid $joomahblue;
      padding: 0.6em;
      color: $joomahblue;
      font-size: 1.6em;
      text-align: center;
      @include border-radius(0.5em);
    }
  }
}
#overlay {
  position: fixed;
  background: rgba(0,0,0,0.6);
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
#notification {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 220px;
  height: auto;
  margin-left: -110px;
  margin-top: -75px;
  z-index: 100;
  border-radius: 20px;
  text-align: center;
  background: #FFFFFF;
  font-size: 12px;
  .title {
    color: #c0392b;
    margin: 15px auto 10px auto;
  }
  .body {
    margin: 10px auto;
    a {
      text-decoration: none;
      color: $joomahblue;
    }
  }
  button {
    display: inline-block;
    background: rgb(166,166,166);
    color: #FFFFFF;
    padding: 3px 5px;
    border-radius: 3px;
    border: none;
    margin: 0 auto 10px auto;
  }
}


