/* Terms page */
.page-terms {
  padding: 80px 10px 0px 10px;
  h1 {
    font-size: 18px !important;
  }
  h2 {
    font-size: 14px !important;
    padding-top: 10px;
  }
  p {
    font-size: 10px !important;
    padding-bottom: 5px;
    text-align: justify;
  }
}
