.job-list,.job-element {
  border-radius: 10px;
  border: 1px solid #6BA3B6;
  margin-top: 10px;
  select,input,textarea {
    color: #34495e; 
    height: 2em;
    font-size: 18px;
  }
  textarea {
    width: 90%;
    height: 200px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  p:first-child {
    padding-bottom: 5px;
    display: inline-block;
    select {
      font-size: 18px;
    }
  }

  p:first-child:after {
    content: '-';
    font-size: 18px;
  } 
  p:nth-child(2) {
    display: inline-block;
    margin-left: 0px;
    select {
      margin-left: 0px;
      font-size: 18px;
      &:not([disabled]) {
        right: 1px;
      }
    }
  }
  
  p:nth-child(3) {
    border-top: 1px solid #6BA3B6;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 13px;
    input {
      margin-top: 5px;
      font-size: 18px;
    }
  }
  
  p:nth-child(4) {
    right: 0px;
    select {
      font-size: 18px;
      margin-left: 2px;
      &[disabled] {
        display: none;
      }
    }
  }

  p:nth-child(5) {
    margin-left: 3px;
    right: 0px;
    input {
      font-size: 18px;
      &:not([disabled]) {
        margin-left: 10px;
      }
    }
  }

  p:nth-child(6) {
    margin-left: 0px;
    padding-left: 13px;
    padding-right: 13px;
    right: 0px;
    font-size: 18px;
    textarea {
      width: 100%;
      border-radius: 5px;
    }
  }
  input[type=text], textarea, select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF
  }
                   
  input[type=text]:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px $joomahblue;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid $joomahblue;
  }
}
#save-changes {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF
}
#save-changes:focus {
  box-shadow: 0 0 5px $joomahblue;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $joomahblue;
}
