.school-list,.school-element {
  border: 1px solid #6BA3B6;
  border-radius: 10px;
  margin-top: 10px;
  select,input,textarea {
    color: #34495e;
    font-size: 18px;
    height: 2em;
  }
  #itemforms > div {
    padding: 0px;
  }
  p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p:first-child {
    select {
      font-size: 18px;
    }
  }
  
  p:first-child:after {
    content: '-';
    font-size: 18px;
  }
  
  p:nth-child(2) {
    select {
      position: relative;
      right: 5px;
      margin-left: 0px;
      font-size: 18px;
      &:not([disabled]) {
        right: 1px;
      }
    }
  }
  
  p:nth-child(3) {
    border-top: 1px solid #6BA3B6;
    display: block;
    margin-left: 0px;
    padding-left: 13px;
  }
  
  p:nth-child(3) input {
    font-size: 18px;
    width: 80%;
  }
  
  p:nth-child(4) {
    display: block;
    right: 0px;
    select {
      width: 80%;
      &:not([disabled]) {
        margin-left: 2px;
      }
    }
  }

  p:nth-child(5),p:nth-child(6),p:nth-child(7),p:nth-child(8) {
    margin-left: 13px;
    display: block;
    right: 0px;
    input {
      width: 80%;
      &:not([value])[disabled] {
        display: none;
      }
    }
  }

  input[type=text], textarea, select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF
  }
                   
  input[type=text]:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px $joomahblue;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid $joomahblue;
  }
}
#save-changes {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF
}
#save-changes:focus {
  box-shadow: 0 0 5px $joomahblue;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $joomahblue;
}
