.item-list {
  text-align: center;
  margin-top: 10px;
  label {
    display: none;
  }
  
  #edit {
    color: $joomahblue;
    font-weight: bold;
    text-decoration: underline;
    margin: 50px;
  }
  #add-item, #remove-item {
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    > span {
      padding: 10px;
      border-radius: 5px;
      font-size: 1.5em;
    }
  }
  #add-item > span {
    border: 1px solid $joomahblue;
    color: $joomahblue;
    display: inline-block;
  }
  #remove-item > span {
    border: 1px solid red;
    color: red;
    display: inline-block;
  }
  
  #save-changes {
    margin-left: auto;
    margin-right: auto;
  }
  
  p {
    display: inline-block;
    margin-left: 10px;
  }

  #itemforms div {
    border: 1px solid gray;
    width: 90%;
    border-radius: 10px;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  textarea {
    font-family: inherit;
    resize: none;
  }

  select[disabled],input[disabled],textarea[disabled] {
    border: none;
    background-color: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
  }
}
