{% extends base %}
{% block title %}{{ entry.title }}{% endblock %}
{% block class %}page-blog-entry{% endblock %}
{% block back %}/mobile/blog/{% endblock %}
{% block content %}
  <div>
    {% if base != 'mobile/basic.html' %}<a class='back' href="/blog/">Back</a>
    <h1 class='title'>{{ entry.title }}</h1>{% endif %}
    <div class='blog-content'>{{ entry.content | safe }}</div>
  </div>
{% endblock %}
