{% extends base %}
{% block title %}Blog{% endblock %}
{% block class %}page-blog{% endblock %}
{% block content %}
  <div>
    {% for entry in entries %}
        <a href="{% if base == 'mobile/basic.html' %}/mobile{% endif %}/blog/{{ entry.id }}" class="entry">
        <h1>{{ entry.title }}</h1>
        <p>{{ entry.content | striptags | truncatechars:100 }}</p>
        </a>
    {% empty %}
        <p>Blog coming soon!</p>
    {% endfor %}
  </div>
{% endblock %}
