{% extends base %}
{% block title %}FAQ{% endblock %}
{% block class %}page-about{% endblock %}
{% block content %}
<style>
h3 { font-size: 1.2em; font-weight: bold; }
.desktop .page-about > div { padding-top: 40px;}
p { line-height: 1.5em;}
</style>
<h1>Frequently Asked Questions</h1>

<div>
<h3>- How do I sign up? </h3>
  <p>To sign up, go to jobs.joomah.com and register using the sign up form on the home page. </p>
</div>
<div>
<h3>- Why do no listings appear?</h3>
<p>Job listings will only appear if they are in an industry that you have selected, so make sure you have enabled every industry you are interested in.  If there are still none available, it is possible that we are still recruiting employers in that field.</p>
</div>
<div>
<h3>- How do I apply for a job? </h3>
<p>To apply for a job you have been matched with, click on the Apply button for that particular job from your Notice Board. 
You will be redirected to the application page where you can write a cover letter and upload a CV if you have not already done so. 
Once you apply, your profile information, CV and cover letter are sent to the employer’s account where they can review them and may contact you for an interview. </p>
</div>
<div>
<h3>- How do I enable SMS notifications?</h3>
<p>You can text-in to receive notifications from JooMah. To enable SMS notifications, make sure you have entered your correct mobile phone number on your JooMah settings page. 
To check if you have been matched with any jobs via SMS, text 1234 to shortcode 9999 to receive the notices. </p>
</div>
<div>
<h3>- How do I search for jobs?</h3>
<p>To search for available job listings on JooMah, click on the Search tab on the menu bar at the top of your JooMah account page. 
Search for job opportunities by typing in an employer’s name or a job title or by using the provided filters in the right-hand column.</p>
</div>
<div>
<h3>- Can an employer see my profile?</h3>
<p>Yes. Employers are able to search for and see any user profile on JooMah. 
This why it is important to completely fill out your profile and upload your CV. 
You never know where you next job might come from. </p>
</div>
<div>
<h3>- How do I see jobs I already applied for?</h3>
<p>To see the jobs you already applied for, click on the History tab on the menu bar at the top of your JooMah account page. </p>
</div>
<div>
<h3>- Can I select multiple industries?</h3>
<p>Yes you can select multiple industries you will like to receive job opportunities from. You may do so from your Account Settings page. 
You can also select multiple skills you have and multiple languages you speak. </p>
</div>
<div>
<h3>- How do I upload a CV?</h3>
<p>To upload a CV, sign into your JooMah account and on the settings page, click Upload CV to upload one to your profile. 
Uploading a CV boosts your chances of being matched with a job opportunity.</p>
</div>
<div>
<h3>- How do I upload a profile picture?</h3>
<p>To upload a profile picture, sign into your JooMah account and at the top of the settings page, click Upload Profile Picture. </p>
</div>
<div>
<h3>- How do I add my education history?</h3>
<p>To add your education history, sign into your JooMah account and click on the Account Settings tab on the menu bar at the top of your JooMah page. 
On the left hand side, navigate to the SCHOOLS tab to add and edit your education history. </p>
</div>
<div>
<h3>- How do I add my work history?</h3>
<p>To add your education history, sign into your JooMah account and click on the Account Settings tab on the menu bar at the top of your JooMah page. 
On the left hand side, navigate to the JOBS tab to add and edit your career history.</p>
</div>
<div>
<h3>- How do I change my password?</h3>
<p>If you forgot your password, you can click on the forgot password link at the top of the JooMah sign in page (jobs.joomah.com). 
However, if you wish to change your password while signed into your account, click on the Account Settings tab on the menu bar at the top of your JooMah page. 
On the left hand side, navigate to the ACCOUNT tab to enter in a new password.
Click save when you are done to save the new password. </p>
</div>
<div>
<h3>- How do I delete my JooMah account?</h3>
<p>If you wish to discontinue use of the JooMah platform, you can delete your JooMah account by navigating to the ACCOUNT tab and clicking on the delete button. 
Once you delete your account, all data associated with your JooMah profile including personal information, CV and email address are deleted. 
You cannot regain your JooMah account information once you delete it. 
You will need to sign up on JooMah again to be able to use the platform. </p>
</div>
{% endblock %}
