{% extends base %}

{% block title %}{{ title }}{% endblock %}
{% block class %}}{{ title }}{% endblock %}

{% block content %}
<div class='item-list'>
    <form class='{{ item_name }}-list' enctype="multipart/form-data" autocomplete="off" method="POST">{% csrf_token %}
        <div id='itemforms'>
            {% for form in item_forms %}
              <div>{{ form.as_p }}</div>
            {% empty %}
              You have not added any {{ item_name }} information, please click edit to add some!
            {% endfor %}
        </div>
        <input type='hidden' id='number_of_items' name='{{ item_name }}-number' value="{{number_of_items}}" />
        <input type='submit' id='save-changes' value='Save Changes' />
    </form>
    <div id='add-item' onclick='addItem();'><span>&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
    <div id='remove-item' onclick='removeItem();'><span>Remove</span></div>
    <div id='item-sample' style='display: none;'>
        {{ item_sample.as_p }}
    </div>
    <span style='position: absolute; left: -1000px;' id='text-sample'></span>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var number_of_items = {{ number_of_items }};

  function addItem(){
    var item_sample = document.getElementById('item-sample').cloneNode(true);
    item_sample.id = number_of_items;
    item_sample.style.display = 'block';
    var item_forms = document.getElementById('itemforms');
    item_forms.appendChild(item_sample);
    var inputs = item_sample.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].name = number_of_items + '-' + inputs[i].name;
    }
    var selects = item_sample.getElementsByTagName('select');
    for (var i = 0; i < selects.length; i++) {
      selects[i].name = number_of_items + '-' + selects[i].name;
    }
    number_of_items++;
    document.getElementById('number_of_items').value = number_of_items;
  }

  function removeItem(){
    if (number_of_items > 0) {
        number_of_items--;
        var el = document.getElementById('itemforms').getElementsByTagName("div");
        el = el[el.length - 1];
        el.parentNode.removeChild(el);
        document.getElementById('number_of_items').value = number_of_items;
    }
  }
</script>
{% endblock %}
