{% load extras %}
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body class="desktop">
  <div class="wrapper page-front">
    <header id="about-header">
      <div id="signin"><a style="color:#35A9D0;" href="/"><< Sign In / Register</a></div>
      <div class="title">About J&oacute;&ograve;Mah</div>
    </header>

    <div id="info">
      <div class="jobseeker-blurb">
      <div style="color:#54BBE8" class="titles">Get Discovered</div>
        <span>J&oacute;&ograve;Mah is all about one thing: Getting you discovered so you can get hired. By making you more visible to employers, your chances of finding the right job are greatly improved.</br>Sign up, build your profile and let J&oacute;&ograve;Mah help you get discovered.</br></span>
      </div>
      <div class="jobseeker-blurb">
        <div style="color:#F47C4F" class="titles">Get Matched</div>
        <span>Finding a job in Ghana should not be a hassle.</br>J&oacute;&ograve;Mah only matches you with the right job opportunities by analysing your profile and identifying employers who are looking for someone like you.</span>
      </div>
      <div class="jobseeker-blurb">
        <div style="color:#CD5358" class="titles">Get Hired</div>
        <span>Get notified about job opportunities and apply with one click.</br>You can even do this on mobile or via SMS.</br>It's that simple.</span>
      </div>

      <div class="team">
        <div class="titles">The Team.</div>
        <div class="members">
          <div><span>Kwaku Akoi</span>, Chief Executive Officer</div>
          <div><span>Maxwell Dietz</span>, Chief Technology Officer</div>
          <div><span>Sam Giagtzoglou</span>, JóòMah Mobile</div>
          <div><span>Olayinka Lawal</span>, Lead Strategist</div>
          <div><span>Oladoyin Oladapo</span>, Chief Finance Officer</div>
          <div><span>Justin Raymond</span>, Front End Developer</div>
          <div><span>Assoh Akoi</span>, General Manager (Ghana)</div>
          <div><span>Nehemiah Samwini</span>, Marketing Officer (KNUST)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="bottom-links">
      <div><a href="/about-us">About J&oacute;&ograve;Mah</a></div>
      <div><a href="/terms">Terms and Conditions</a></div>
      <div>Contact us at <a href="mailto:info@joomah.com">info@joomah.com</a></div>
      <div>Connect on <a target='_blank' href="https://www.facebook.com/pages/J%C3%B3%C3%B2Mah/827539130595240">Facebook</a>
        or <a target='_blank' href="https://twitter.com/JoomahAfrica">Twitter</a></div>
      </div>
    </div>
  </body>
  </html>
