{% extends "desktop/basic.html" %}
{% block title %}About{% endblock %}
{% block class %}page-about{% endblock %}

{% block content %}
<div>
    <div style='background-color:transparent;position:fixed;left:80.5%;top:200px;width:0;height:0;border-style:solid;border-width:5px 10px 5px 0;border-color: transparent rgba(0,0,0,0.9) transparent transparent;'></div>
      <div style='background-color:rgba(0,0,0,0.9);border-radius:10px;color:white;padding:10px;position:fixed;left:81%;width:16%;font-size:1.2em;line-height:1.5em;'>This is what employers see when they search for you. Make sure you have completely filled out your profile. Click Account Settings to edit your profile.</div>

  <div class="blurb">
    <div class="photo"><img src="{{ MEDIA_URL }}{{ user.profile_photo }}" /></div>
    <div class="who">
      <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
      <div class="position" style='font-weight:bold;margin:5px 0;'>{{ user.email }}</div>
      <div class="position">{% if occupation %}{{ occupation }} at {{ employer }}{% else %}Currently looking for job opportunities in {% for ind in user.industries.all|slice:":4" %}{{ind.name}}{% if not forloop.last%},{%endif%}{%empty%} any field{%endfor%}.{% endif %}</div>
      <div class="position">{% if user.location %}{{ user.location }}{% endif %}</div>
      {% if user.resume %}<a class="resume2" href="{{ MEDIA_URL }}{{ user.resume }}">Resume</a>{% endif %}
    </div>
    <div class="resume">
      <a href="/resume">DOWNLOAD AS A CV</a>
    </div>
    <div class="description">
      {{ user.abstract }}
    </div>
  </div>
  <div class="list-box education">
    <a href="/settings/#/school/"><div>Education</div></a>
    <ul>
      {% for e in education %}
      <li>
        <div class="ed-title">{{ e.institution_name }}</div>
        <div class="ed-desc">{{ e.qualification }}</div>
        <div class="ed-time">{{ e.start_date }} - {{ e.end_date | default:"Present" }}</div>
      </li>
      {% empty %}
      <li><div class="ed-title">No Education History</div></li>
      {% endfor %}
    </ul>
  </div>
  <div class="list-box career">
    <a href="/settings/#/job/"><div>Career</div></a>
    <ul>
      {% for o in occupation_history %}
      <li>
        <div class="ed-title">{{ o.employer_name }}</div>
        <div class="ed-title">{{ o.job_title }}</div>
        <div class="ed-desc">{{ o.description }}</div>
        <div class="ed-time">{{ o.start_date }} - {{ o.end_date | default:"Present" }}</div>
      </li>
      {% empty %}
      <li><div class="ed-title">No Occupation History</div></li>
      {% endfor %}
    </ul>
  </div>
  <div class="list-box skills">
    <a href="/settings/"><div>Skills</div></a>
    <ul>
      {% for s in skills %}
      <li>
        <div class="ed-title">{{ s.name }}</div>
      </li>
      {% empty %}
      <li><div class="ed-title">No Skills</div></li>
      {% endfor %}
    </ul>
  </div>
  <div class="list-box languages">
    <a href="/settings/"><div>Languages</div></a>
    <ul>
      {% for l in languages %}
      <li>
        <div class="ed-title">{{ l.name }}</div>
      </li>
      {% empty %}
      <li><div class="ed-title">No Languages</div></li>
      {% endfor %}
    </ul>
  </div>
  <div class="list-box references">
    <a href="/settings/"><div>References</div></a>
    <ul>
      {% for r in references %}
      <li>
        <div class="ref-name">{{ r.name }}</div>
      </li>
      {% empty %}
      <li><div class="ed-title">No References</div></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
