{% extends "desktop/basic.html" %}
{% load app_tags %}
{% block title %}Application History{% endblock %}
{% block class %}page-noticeboard{% endblock %}
{% block content %}
<div style="padding-top: 50px;">
  <div class='notice-content'>
    {% for job, open, start_date in jobs %}
      <div class="notice">
        <div class='container'>
          <div class="owner"> <strong>{{job.owner}}</strong> hiring <a>{{job.title}}</a>.</div>
          {% if job.descripton %}<div class="description">{{job.description}}.</div>{% endif %}
          {% if job.deadline %}<div class="deadline"> Qualified applicants to submit applications by {{job.deadline}}.</div>{% endif %}
          {% if open %}Job is still open.{% else %}Applications are no longer being accepted.{% endif %}
          Applied on {{ start_date }}
        </div>
      </div>
    {% empty %}
      <p>You have yet to apply for a job.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
