{% extends "desktop/basic.html" %}
{% load app_tags %}
{% block content %}
{#l% if True %#}
{% if message %}<h1 style="margin-top: 80px; text-align: center">{{message}}</h1>{%else%}
<header class='header'><h2>Hello {{user.first_name}}, you are applying for {{listing.title}} with {{listing.owner.name}}</h2></header>
<form action='/apply3/{{listing.id}}/' id='application-form' method='POST'>{% csrf_token %}
  <div class='form-container' id='objective-list'>
    <h1 class='complete'>Objective For Applying</h1>
    <p class="form-description">Tell the employer about yourself and what makes you a great candidate</p>

    <!-- <form method='POST' action='/settings/' autocomplete="off">{% csrf_token %} -->
    <div id='objective-forms' class='item-list'>
      <div class='objective-element'>
        {{ form.abstract }}
      </div>
    </div>
  </div>
  <div class='form-container' id='contact-list'>
    <h1 class='complete'>Contact Info</h1>
    <p class="form-description">Enter your phone number so you can be contacted for an interview</p>

    <!-- <form method='POST' action='/settings/' autocomplete="off">{% csrf_token %} -->
    <div id='contact-forms' class='item-list'>
      <div class='contact-element'>
        <p>
        {{ form.country_code }} {{ form.phone_number }}
        </p>
      </div>
    </div>
  </div>

  {% for item in items %}
  <div class='form-container' id='{{ item.name }}-list'>
    <h1 class='complete'>{{ item.title }}</h1>
    <p class="form-description">{{ item.description }}</p>

    <!-- <form method='POST' action='/settings/' autocomplete="off">{% csrf_token %} -->
    <div id='{{ item.name }}-forms' class='item-list'>
      {% for form in item.forms %}
      <div class='{{ item.name}}-element'>
        {{ form.as_p }}
      </div>
      {% empty %}
      <p class='empty'>You have not added any {{ item.name }} information, please add some!</p>
      {% endfor %}
    </div>
    {% if initial %}<input type='hidden' name='initial' value='True' />{% endif %}
    <input type='hidden' name='{{ item.name}}-number' id='{{ item.name }}-number' />
    <input type='hidden' name='name' value='{{ item.name }}' />
    <input type='hidden' id='number_of_items' value='{{ number_of_items }}' />
    <div class='icon-holder'>
      <div id='{{ item.name}}-add' class='add-button' onclick='addItem("{{ item.name }}");'>Add</div>
      <div id='{{ item.name}}-remove' onclick='removeItem("{{ item.name }}");'>Remove</div>
    </div>
    <!-- </form> -->
    <div id='{{ item.name}}-sample' style='display: none; opacity: 0;'>
      {{ item.sample.as_p }}
    </div>
  </div>
  {% endfor %}
  <div class='infoBox form-container'>
    <p>Congratulations! You have made it to the end of the job application process.</br>
      Click the blue button below to apply for this job
    </br>
    Note: Applying for a job through our platform is free of charge.</br>
    Please report any employer who asks for payment from you for a job application.</br>
    Send us an email at info@joomah.com with the name of the employer so we can quickly de-list the job posting and employer.
    </p>
  </div>
  <input id='saveMain' type='submit' value='Submit' />
</form>


{% endif %}
<script>
  function addItem(item_name){
    var emptyMessage = document.getElementById(item_name + '-forms').getElementsByClassName('empty');
    if (emptyMessage && emptyMessage.length) {
      emptyMessage[0].parentNode.removeChild(emptyMessage[0]);
    }
    var item_sample = document.getElementById(item_name + '-sample').cloneNode(true);
    item_sample.style.display = 'block';
    item_sample.id = '';
    item_sample.className = item_name + '-element';
    var item_forms = document.getElementById(item_name + '-forms');
    item_forms.appendChild(item_sample);
    var inputs = item_sample.getElementsByTagName('input');
    var number_of_items = document.getElementsByClassName(item_name + '-element').length - 1;
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].name = number_of_items + '-' + inputs[i].name;
    }
    var selects = item_sample.getElementsByTagName('select');
    for (var i = 0; i < selects.length; i++) {
      selects[i].name = number_of_items + '-' + selects[i].name;
    }
    var texts = item_sample.getElementsByTagName('textarea');
    for (var i = 0; i < texts.length; i++) {
      texts[i].name = number_of_items + '-' + texts[i].name;
    }
    updateNumber(item_name);
    setTimeout(function(){ fadeIn(item_sample); }, 100);
  }
  
  function removeItem(item_name) {
    var el = document.getElementsByClassName(item_name + '-element');
    var i = el.length - 1;
    el[i].parentNode.removeChild(el[i]);
  }

  function updateNumber(item_name) {
    document.getElementById(item_name + '-number').value = document.getElementsByClassName(item_name + '-element').length
  }

  function fadeOut(element) {
    if (!element) return;
    opacity = parseFloat(element.style.opacity);
    if (!opacity) {
      opacity = 1;
    }
    opacity -= 0.05;
    element.style.opacity = opacity;
    if (opacity > 0) {
      setTimeout(function(){fadeOut(element);}, 50);
    }
  }

  function fadeIn(element) {
    opacity = parseFloat(element.style.opacity);
    opacity += 0.05;
    element.style.opacity = opacity;
    if (opacity < 1) {
      setTimeout(function(){fadeIn(element);}, 50);
    }
  }

  function navigate(item_name) {
    form_containers = document.getElementsByClassName("form-container");
    for (var i = 0; i < form_containers.length; i++) {
      form_containers[i].style.display = 'none';
    }
    document.getElementById(item_name + '-list').style.display = 'block';
    document.location = '#/' + item_name + '/';
    var links = document.getElementById('nav').getElementsByTagName('a');
    for (var i = 0; i < links.length; i++) {
      links[i].className = '';
    }
    document.getElementById(item_name + '-link').className = 'selected';
  }

  document.getElementsByClassName('add-button')[0].click();

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48107662-1', 'joomah.com');
  ga('send', 'pageview');

    //setTimeout(function(){ fadeOut(document.getElementById('disappear')); }, 500);

  </script>
  {% endblock %}
