<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
	<meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body class="desktop page-apply-register">
  <div class="wrapper" style='margin-bottom:0;'>
    <header>
      <div>J&oacute;&ograve;Mah</div>
    </header>

    <form id="register" method="POST">{% csrf_token %}
      <div class="call"><span>Fill out the form below to apply to {{ job.title }} with {{ job.owner }}</span></div>
  
      <fieldset class="rounded">
        <table> {{ form.as_table }} </table>
      </fieldset>

      <div class='legal'>By clicking register, you agree to J&oacute;&ograve;Mah's 
        <a href="">user agreement</a>, 
        <a href="">privacy policy</a>, and 
        <a href="">cookie policy</a>
      </div>

      <div><input type="submit" value="Register" /></div>
    </form>
    <form id='register2' method="POST" action="/authenticate/?next=/apply/{{job.id}}/">
      <h3>Already on J&oacute;&ograve;Mah?</h3>
      {% csrf_token %}
      <input type='text' name='username' placeholder='Email' style='margin:10px auto;display:block;width:60%;padding:10px;'>
      <input type='password' name='password' placeholder='Password' style='margin:10px auto;display:block;width:60%;padding:10px;'>
      <input type='submit' value='Sign In'>
    </form>
  </div>
<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48107662-1', 'joomah.com');
      ga('send', 'pageview');
</script>

</body>

</html>
