<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
    <meta name="description" content="J&oacute;&ograve;Mah, the place to find jobs near you. Join Africa's largest
    professional network.">
    <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block includes %}
    {% endblock %}
  </head>
  <body class="desktop">
    <div class="wrapper {% block class %}default{% endblock %}">
      <header>
        <a href='/'><img src='/static/img/thumb.png' ></a>
        <ul>
          <li><a href="/notice/" {% if selected == 'notice' %}class='selected'{% endif %}>Notice Board</a></li>
          <li><a href="/search/" {% if selected == 'search' %}class='selected'{% endif %}>Search</a></li>
          <li><a href="/about/" {% if selected == 'about' %}class='selected'{% endif %}>About Me</a></li>
          <li><a href="/job-history/" {% if selected == 'history' %}class='selected'{% endif %}>History</a></li>
          <li><a href="/settings/" {% if selected == 'settings' %}class='selected'{% endif %}>Account Settings</a></li>
          <li><a href="/logout/">Sign Out</a></li>
        </ul>
      </header>
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      <div class="left">J&oacute;&ograve;Mah Inc. 2014</div>
      <div class="right">Contact: <a href="mailto:info@joomah.com">info@joomah.com</a></div>
    </div>
    <script>
      {% if not NO_MOBILE_REDIRECT %}
      if (screen.width <= 800) {
        window.location.pathname = "/mobile" + window.location.pathname;
      }
      {% endif %}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48107662-1', 'joomah.com');
      ga('send', 'pageview');
    </script>
    {% block script %}
    {% endblock %}
  </body>

</html>
