{% extends "desktop/basic.html" %}
{% block title %}Post a Blog Entry{% endblock %}
{% block class %}page-blog-post{% endblock %}
{% block content %}
  <style>
  form {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  form label, form input, form textarea {
    font-size: 1.5em;
    padding: 10px;
    width: 300px;
  }
  form input[type="submit"] {
    margin-left: 10px;
  }
  form textarea {
    font-size: 1em;
  }
  </style>
  <form method='POST' action='/blog/post/'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Post' />
  </form>
{% endblock %}
