{% load extras app_tags %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies,latest jobs, employers, jobs, graduate jobs, aviation jobs, mtn Ghana, oil and gas jobs, accounting jobs, jobs banks, engineering jobs, teaching jobs, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs, Jobs, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
    <meta name="description" content="J&oacute;&ograve;Mah, the place to find jobs near you. Join Africa's largest
    professional network.">
    <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
    <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="background-color: rgba(0,0,0,0.3); background: url('/static/img/background.png') no-repeat;background-size: 100%;" class="desktop">
    <div class="wrapper page-front">
      <header style='border-bottom: 1px solid gainsboro;' class='page-front-header'>
        <div class="right">
          <form id="sign_in" action="/authenticate/" method="POST">{% csrf_token %}
            <div>
              <input {% if retries %}style="border: 1px solid red"{% endif %} type="text" name="username" placeholder="Email" />
            </div>
            <div>
              <input {% if retries %}style="border: 1px solid red"{% endif %} type="password" name="password" placeholder="Password" />
              <label><a href="/recover/">Forgot password?</a></label>
              <input type="checkbox" id="remember" name="remember_me" />
              <label for="remember">Keep me logged in</label>
            </div>
            <div>
              <input type="hidden" value="{{retries}}" name="retries" />
              <input type="hidden" value="{{next}}" name="next" />
              <input type="submit" value="Sign In" />
            </div>
          </form>
        </div>
        <div class="left"><a style='font-weight: bold;' href="/">J&oacute;&ograve;Mah</a></div>
      </header>
      {% if retries %}
        <span style='color: red; margin-left: 70%; position: relative; top: 60px;'>Incorrect username/password</span>
      {% endif %}
      <div class="circles" style='height: 230px; padding: 0;'>
        <h1 style='font-weight: bold;font-size:1.5em;'>Welcome to J&oacute;&ograve;Mah</h1>
        <div>J&oacute;&ograve;Mah brings you a new and better way of finding the right job. All you need to do is sign up, build your profile and get matched with jobs.</div>
      </div>
      <div class="form">
        <form id="sign_up" action="/" autocomplete="off" method="POST">{% csrf_token %}
          <h1>Looking for a job?</h1>
          <fieldset>
            {{ form.first_name.errors }}
            {{ form.last_name.errors }}
            <input class="half" type="text" name="first_name" value="{{ form.first_name.value | check_empty }}" placeholder="First Name" />
            <input class="half" type="text" name="last_name" value="{{ form.last_name.value | check_empty }}" placeholder="Last Name" />
          </fieldset>  
          <fieldset>
            {{ form.email.errors }}
            <input type="text" name="email" value="{{ form.email.value | check_empty }}" placeholder="Email" />
          </fieldset>  
          <fieldset>
            {{ form.non_field_errors }}
            {{ form.password.errors }}
            <input class="half" type="password" name="password" placeholder="Password" />
            <input class="half" type="password" name="password1" placeholder="Re-enter Password" />
          </fieldset>  
          <input type="submit" value="Register" />
        </form>
      </div>
      <div style='display: none;' class='newest-jobs' id='displayMsg'>Create an account or log in to apply to these and many more job opportunities near you</div>
      <div class="newest-jobs" id='job-list'>
        <h2>Recently posted jobs:</h2>
        <ul>
        {% for job in jobs %}
          <li>{{job.owner}} hiring {{job.title}} by {{job.end_date}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div style='background-color: transparent;' class="footer">
        <style scoped>.bottom-links > div {  } .bottom-links > div a { color: #fff;  }</style>
        <div class="bottom-links">
          <div><a href="/about-us">About J&oacute;&ograve;Mah</a></div>
          <div><a href="/terms">Terms and Conditions</a></div>
          <div><a href="mailto:info@joomah.com">info@joomah.com</a></div>
          <div><a target='_blank' href="https://www.facebook.com/pages/J%C3%B3%C3%B2Mah/827539130595240">Facebook</a>
          or <a target='_blank' href="https://twitter.com/JoomahAfrica">Twitter</a></div>
        </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-48107662-1', 'joomah.com', { 'siteSpeedSampleRate': 75 });
      ga('send', 'pageview');
    
      if (screen.width <= 800) {
        window.location.pathname = "/mobile/";
      }
    </script>
    <script>
    var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '//fonts.googleapis.com/css?family=Raleway:400,700';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
      
      displayHover = function(evt) {
        document.getElementById('displayMsg').style.display='block';
        document.getElementById('job-list').style.display='none';
        setTimeout(hideHover, 2500);
      }

      hideHover = function(evt) {
        document.getElementById('displayMsg').style.display='none';
        document.getElementById('job-list').style.display='block';
      }

      var jobs = document.getElementById('job-list');
      jobs.onmousedown = displayHover;
    </script>
  </body>
</html>
