{% extends "desktop/basic.html" %}
{% load app_tags %}
{% block title %}{% if not selected == 'search' %}Notice Board{% else %}Search Results{% endif %}{% endblock %}
{% block class %}page-noticeboard{% endblock %}
{% block content %}
<div>
  <div class='welcome'>
    {% if not selected == 'search' %}Welcome back, {{ user.first_name }}{%else%} Search Results{% endif %}
  </div>
  
  <div class='notice-content'>
    {% for job in notices %}
      <div class="notice">
        <div class="apply"><a href="/apply/{{job.id}}/">Apply</a></div>
        <div class="icon">J</div>
        <div class='container'>
          <div class="owner"> <strong>{{job.owner}}</strong> is hiring a <a href="/apply/{{job.id}}/">{{job.title}}</a> ({{job.commitment|b}}).</div>
          {% if job.descripton %}<div class="description">{{job.description}}</div>{% endif %}
          {% if job.end_date %}<div class="deadline"> Apply by <span>{{job.end_date}}</span>.</div>{% endif %}
        </div>
      </div>
    {% empty %}
      {% if selected == 'search' %}
        <p>No results</p>
      {% else %}
        <p>You'll be notified once you match with a job you're most qualified for!</p>
      {% endif %}
    {% endfor %}
  </div>
  <div style='background-color:transparent;position:fixed;left:76.5%;top:300px;width:0;height:0;border-style:solid;border-width:5px 10px 5px 0;border-color: transparent rgba(0,0,0,0.9) transparent transparent;'></div>
  <div style='background-color:rgba(0,0,0,0.9);border-radius:10px;color:white;padding:10px;position:fixed;left:77%;width:16%;font-size:1.2em;line-height:1.5em;'>The Notice Board is where all available jobs will appear for you to apply to.  If you don't see many jobs, make sure that you have selected every industry you are interested in, as you will only see jobs offered by employers in those industries.</div>
  {% if selected == 'search' %}
  <form class='search' style="margin-bottom: 0px; bottom: 0px;" method='GET' action='/search/'>
    {{ search_form.as_p }}
    <input type='submit' value='Search' />
  </form>
  {% endif %}
</div>
{% if incomplete %}
  <div id='overlay'></div>
  <div id='notification'>
    <div class='title'>Your account profile is incomplete!</div>
    <div class='todos'>Employers cannot see your 
    {% for todo in incomplete %}
      {% if forloop.first and not forloop.last %}
        <span>{{ todo }}</span>
      {% endif %}
      {% if forloop.first and forloop.last %}
        <span>{{ todo }}.</span>
      {% endif %}
      {% if not forloop.first and forloop.last %}
        <span>and {{ todo }}.</span>
      {% endif %}
      {% if not forloop.first and not forloop.last %}
        <span>{{ todo }}, </span>
      {% endif %}
    {% endfor %}
    </div>
    <div class='body'>Finish setting up your account <a href="/settings"/>here</a></div>
    <button type="button" onclick='close_notification()'>Close</div>
  </div>
{% endif %}
{% endblock %}
{% block script %}
{% if incomplete %}
<script>
function close_notification() {
  console.log('closign');
  var overlay = document.getElementById("overlay");
  var notification = document.getElementById("notification");
  overlay.parentNode.removeChild(overlay)
  notification.parentNode.removeChild(notification);
}
</script>
{% endif %}
{% endblock %}
