{% load app_tags %}
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  <title>Your J&oacute;&ograve;Mah Resume</title>
  <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="jobseeker/static/css/resume.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="desktop" style="background:white">
    <div class="wrapper page-resume">
      {% load app_tags %}
      <div>
        <div class="blurb" style="border-bottom:solid 1px">

          <div class="name" style="font-size:22px; text-align: center; border:none; font-weight:bolder;">{{ user.first_name }} {{ user.last_name }}</div>
          <div class="location" style="font-size:12px; text-align: center; border:none">{% if user.street_address %}{{ user.street_address }}{% endif %}</div>
          <div class="location" style="font-size:12px; text-align: center; border:none">{% if user.location %}{{ user.location }}{% endif %}</div>
          <div class="location" style="font-size:12px; text-align: center; border:none">{% if user.nationality %}Nationality: {{ user.nationality }}{% endif %}</div>
          
          <div class="phone" style="font-size:12px;text-align: center;border:none" >{% if user.phone_number %}{{ user.phone_number }}{% endif %}</div>
          <div class="email" style="font-size:12px;text-align: center;">{{ user.email }}</div>

          
        </div>
        {%if user.abstract %}<div class="list-box">
        <h3 href="/settings/#/school/" style="font-size:16px;"><div>Summary</div></h3>
        <div class="description" style="font-size:12px;">
          {{ user.abstract }}
        </div>
      </div>{% endif %}
      <div class="list-box education">
        <h3 href="/settings/#/school/" style="font-size:16px;"><div>Education</div></h3>
        <ul>

          {% for e in user.educationevent_set.all %}
          <li>
            <div style="display:inline-block;font-size:12px;">
              <p class="ed-title" style="font-weight:bolder;display:inline-block">{{ e.institution_name }}{% if e.location %}, {{e.location}} {% endif %}</p>
              <p class="ed-time" style="text-align:right;display:inline-block">({{ e.start_date }} - {{ e.end_date | default:"Present" }})</p>
            </div>
            <div class="ed-title" style="font-style:italic;font-size:12px;margin-bottom:20px;">{{ e.qualification }} ({{e.level | edu}})</div>
            <div class="ed-title" style="font-style:italic;font-size:12px;margin-bottom:20px;">{% if e.honors %}Honors: {{ e.honors }}{% endif %}</div>
            <div class="ed-title" style="font-style:italic;font-size:12px;margin-bottom:20px;">{% if e.activities %}Activities: {{ e.activities }}{% endif %}</div>
          </li>
          {% empty %}
          <li><div class="ed-title" style="font-size:12px;">No Education History</div></li>
          {% endfor %}
        </ul>
      </div>
      <div class="list-box career">
        <h3 href="/settings/#/job/"style="font-size:16px;"><div>Career</div></h3>
        <ul>

          {% for o in user.careerevent_set.all %}
          <li>
            <div style="display:inline-block; font-size:12px;">
              <p class="ed-title" style="font-weight:bolder;display:inline-block">{{ o.job_title }},</p>
              <p class="ed-title" style="font-style:italic;display:inline-block">{{ o.employer_name }}</p>
              <p class="ed-time"style="text-align:right;display:inline-block;">({{ o.start_date | date }} - {{ o.end_date | date | default:"Present" }})</p>

            </div>
            
            <div class="ed-desc" style="font-size:12px; margin-bottom:20px;">{{ o.job_description }}</div>
          </li>
          {% empty %}
          <li><div class="ed-title" style="font-size:12px;margin-bottom:20px;">No Occupation History</div></li>
          {% endfor %}
        </ul>
      </div>
      <div class="list-box skills">
        <h3 href="/settings/"style="font-size:16px;"><div>Skills</div></h3>
        <table style="margin-left:20px;">
          {% for row in user.skills.all|columns:3 %}
          <tr style="margin-left:20px;">
            {% for s in row %}
            <td class="ed-title" style="font-size:12px;">{{ s.name }}</td>
            {% endfor %}
          </tr>
          {% empty %}
          <tr style="margin-left:20px;"><div class="ed-title" style="font-size:12px;">No Skills</div></tr>
          {% endfor %}
        </table>
      </div>
      <div class="list-box languages">
        <h3 href="/settings/"style="font-size:16px;"><div>Languages</div></h3>
        <table style="margin-left:20px;">
          {% for row in user.languages.all|columns:3 %}
          <tr>
            {% for l in row %}
            <td class="ed-title"style="font-size:12px;">{{ l.name }}</td>
            {% endfor %}
          </tr>
          {% empty %}
          <tr style="margin-left:20px;"><div class="ed-title"style="font-size:12px;">No Languages</div></tr>
          {% endfor %}
        </table>
      </div>
      {% if user.reference_set.all %}
      <div class="list-box references">
        <h3 href="/settings/"style="font-size:16px;"><div>References</div></h3>
        <ul>
          {% for r in user.reference_set.all %}
          <li style="list-style-type:none">
            <div style="display:inline-block; font-size:12px;">
              <p class="ed-title" style="font-weight:bolder;display:inline-block">{{ r.name }},</p>
              {% if r.phone_number %}<p class="ed-time"style="text-align:right;display:inline-block;">{{ r.phone_number }},</p>{% endif %}
              {% if r.email %}<p class="ed-time"style="text-align:right;display:inline-block;">{{ r.email }}</p>{% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</body>
</html>
