{% extends "desktop/basic.html" %}
{% load app_tags %}
{% block content %}
  <div style='position: relative; top: 10%;'>
    <form action='/schedule/{{listing.id}}/' id='application-form' method='POST'>{% csrf_token %}
      <div style='width:400px;margin-right:420px;'>What time works best for your interview?</div>
      <select name='time' style='display:block;margin-left:auto;margin-right:auto;'>
        {% for key,val in times.items %}
        <option value='{{key}}'>{{val}}</option>
        {% endfor %}
      </select> 
      <input style="position: relative; z-index: 10000; cursor: pointer; cursor: hand;" type='submit' value='Apply' />
    </form>
  </div>
{% endblock %}

