{% extends "desktop/basic.html" %}
{% block title %}Search for Jobs{% endblock %}
{% block content %}
  <div class="info">
    <div class="col">
      <form class="box" id="findjobs" action="/searchjobs/" method="GET">
        <h1>Find Jobs:</h1>
    
        <div>
          <label>Search Criteria:</label>
          <input type="text" name="search" />
        </div>
  
        <div>
          <input type="submit" value="Search" />
        </div> 
      </form>
    </div>
  </div>
{% endblock %}