{% extends "desktop/basic.html" %}
{% block includes %} 
{% if initial %}
<!-- Facebook Conversion Code for JooMah Sign Ups -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6016639233541', {'value':'0.01','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6016639233541&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
{% endif %}
{% endblock %}
{% block class %}page-settings{% endblock %}

{% block content %}
  {% if successful %}<p id='disappear'>Saved changes!</p>{% endif %}
  <div id='nav'>
    <a href='#/' id='main-link' onclick='navigate("main");'>MAIN</a>
    {% for item in items %}
      <a href="#/{{ item.name }}/" id='{{ item.name }}-link' onclick='navigate("{{ item.name }}");'>{{ item.name | upper }}S</a>
    {% endfor %}
    <a href='#/personality/' id='personality-link' onclick='navigate("personality");'>ASSESSMENT</a>
    <a href='#/account/' id='account-link' onclick='navigate("account");'>ACCOUNT</a>
  </div>
  <div id='main-list' class='form-container'>
    <form action="/settings/" enctype="multipart/form-data" autocomplete="off" method="POST" id="main-form">{% csrf_token %}  
      <h1 class="complete">{% if initial %}Complete your profile!{% else %}Main{% endif %}</h1>
        {% for field,errors in main_form.errors.items %}{% for err in errors %}<div class='errorlist'>{{err| safe}}</div>{%endfor%}{% endfor %}
        <table>
          <tbody>
            <tr><td id="profile_upload">{{main_form.profile_photo}}</td><td><img src='{{MEDIA_URL}}{{user.profile_photo}}' width="200" height="200" id='pro_pic' /></td></tr>
            <tr><td>First name: {{ main_form.first_name }}</td><td>Last name: {{ main_form.last_name }}</td></tr>
            <tr><td>Date of birth: {{ main_form.date_of_birth }}</td><td>Gender: {{ main_form.gender }}</td></tr>
	    <tr><td>Email: {{ main_form.email }}</td><td>Phone number: {{main_form.country_code }}{{ main_form.phone_number }}</a></td></tr>
	    <tr><td>Location: {{ main_form.location }}</td><td class="joomahblue">CV: <a class='tooltip'><div class='tip-text' style='top:32%;'>Either upload a CV from your computer or else you can create one after completing the rest of your profile</div>{{ main_form.resume }}</a></td></tr>
	    <tr><td>Street Address: {{ main_form.street_address }}</td><td>Nationality: {{ main_form.nationality }}</td></tr>
	    <tr><td>Skills: <a class='tooltip'><div class='tip-text'>Select every skill you would like employers to know about</div>{{ main_form.skills }}</a></td><td>Industries: <a class='tooltip'><div class='tip-text'>Select every industry you would like to see job opportunities in. You can choose as many as you would like.</div>{{ main_form.industries }}</a></td></tr>
	    <tr><td>Languages: <a class='tooltip'><div class='tip-text'>Select every language you speak</div>{{ main_form.languages }}</a></td><td><a class='tooltip'><div class='tip-text'>Write a short summary about yourself.  This is a great way to stand out from other candidates.</div>{{ main_form.abstract }}</a></td></tr>
          </tbody>
        </table>
        {% if initial %}<input type='hidden' name='initial' value='True' />{% endif %}
        <input type='hidden' name='name' value="main" />
        <input id='saveMain' type='submit' value='Save Changes' />
    </form>
  </div>
  <div id='account-list' class='form-container'>
    <h1 class="complete">Account Settings</h1>
    <form action="/settings/" autocomplete="off" method="POST" class="settings-box">{% csrf_token %}  
      <h3 class="change-password">Change Password</h3>
      <div class="main" id="password-form">
        {{ password_form.as_p }}
        <input type='hidden' name='name' value="password" />
        <input id='savePassword' type='submit' value='Change Password' />
      </div>
    </form>
    <div class="settings-box">
      <h3 class="delete-account">Delete Account</h3>
      <div>
        <span>Clicking this button will delete your account</span>
      <a href='/deregister/' class='dangerous'>Delete Account</a>
      </div>
    </div>
  </div>
  <div id='personality-list' class='form-container'>
    {% if not user.enneagram_results %}
    <form action="/settings/" autocomplete="off" method="POST">{% csrf_token %}
      <h1 class="complete">Assessment</h1>
      <h3>Answer the following questions to the best of your ability and as quickly as you can:</h3>
      <div class="personality" id="personality-form">
        {{ personality_form.as_p }}
        {% if initial %}<input type='hidden' name='initial' value='True' />{% endif %}
        <input type='hidden' name='name' value='personality' />
        <input id='savePersonality' type='submit' value='Save Changes' />
      </div>
    </form>
    {% else %}
      <p>You have already submitted your assessment.  Thank you for your participation!  This form will become available again if we improve our quiz, otherwise feel great knowing you helped us and yourself find you a better job.</p>
    {% endif %}
  </div>
  {% for item in items %}
    <div class='form-container' id='{{ item.name }}-list'>
      <h1 class='complete'>{{ item.title }}</h1>
      <form method='POST' action='/settings/' autocomplete="off">{% csrf_token %}
          <div id='{{ item.name }}-forms' class='item-list'>
          {% for form in item.forms %}
            <div class='{{ item.name}}-element'>
              {{ form.as_p }}
            </div>
          {% empty %}
            <p class='empty'>You have not added any {{ item.name }} information, please add some!</p>
          {% endfor %}
          </div>
          {% if initial %}<input type='hidden' name='initial' value='True' />{% endif %}
          <input type='hidden' name='{{ item.name}}-number' id='{{ item.name }}-number' />
          <input type='hidden' name='name' value='{{ item.name }}' />
          <div class='icon-holder'>
            <input type='submit' id='{{ item.name }}-save' value='  Save  ' onclick='updateNumber("{{ item.name }}");'/>
            <div id='{{ item.name}}-add' onclick='addItem("{{ item.name }}");'>Add</div>
            <div id='{{ item.name}}-remove' onclick='removeItem("{{ item.name }}");'>Remove</div>
          </div>
      </form>
      <div id='{{ item.name}}-sample' style='display: none; opacity: 0;'>
        {{ item.sample.as_p }}
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block script %}
  <script>
    {% if default_page %}
      navigate("{{ default_page }}");
    {% else %}
      var hash = document.location.hash;
      if (hash && hash.split('/') && hash.split('/')[1]) {
        navigate(hash.split('/')[1]);
        console.log(hash.split('/')[1])
      } else {
        navigate("main");
      }
    {% endif %}
    /*
      Functions for building the main settings page.
    */
    var reader = new FileReader();
    function readFile(imageFile) {
        reader.readAsDataURL(imageFile)
    }

    reader.onloadend = function(e) {
        document.getElementById('pro_pic').src = e.target.result;
    };

    document.getElementById('id_profile_photo').onchange = function(){readFile(this.files[0]);}
    document.getElementById('id_industry').getElementsByTagName('option')[0].text = 'Industry'

    //manipulate the first widget in the form so that it renders properly
    var td = document.getElementById('profile_upload');
    //td.removeChild(td.childNodes[0]);
    //td.removeChild(td.childNodes[1]);
    //td.removeChild(td.childNodes[1]);
    //td.removeChild(td.childNodes[1]);
    /*
        Functions for adding and removing items from their sections.
    */
    function addItem(item_name){
      var emptyMessage = document.getElementById(item_name + '-forms').getElementsByClassName('empty');
      if (emptyMessage && emptyMessage.length) {
        emptyMessage[0].parentNode.removeChild(emptyMessage[0]);
      }
      var item_sample = document.getElementById(item_name + '-sample').cloneNode(true);
      item_sample.style.display = 'block';
      item_sample.id = '';
      item_sample.className = item_name + '-element';
      var item_forms = document.getElementById(item_name + '-forms');
      item_forms.appendChild(item_sample);
      var inputs = item_sample.getElementsByTagName('input');
      var number_of_items = document.getElementsByClassName(item_name + '-element').length - 1;
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].name = number_of_items + '-' + inputs[i].name;
      }
      var selects = item_sample.getElementsByTagName('select');
      for (var i = 0; i < selects.length; i++) {
        selects[i].name = number_of_items + '-' + selects[i].name;
      }
      var texts = item_sample.getElementsByTagName('textarea');
      for (var i = 0; i < texts.length; i++) {
        texts[i].name = number_of_items + '-' + texts[i].name;
      }
      setTimeout(function(){ fadeIn(item_sample); }, 100);
    }
  
    function removeItem(item_name) {
        var el = document.getElementsByClassName(item_name + '-element');
        var i = el.length - 1;
        el[i].parentNode.removeChild(el[i]);
    }

    function updateNumber(item_name) {
      document.getElementById(item_name + '-number').value = document.getElementsByClassName(item_name + '-element').length
    }

    function fadeOut(element) {
      if (!element) return;
      opacity = parseFloat(element.style.opacity);
      if (!opacity) {
        opacity = 1;
      }
      opacity -= 0.05;
      element.style.opacity = opacity;
      if (opacity > 0) {
        setTimeout(function(){fadeOut(element);}, 50);
      }
    }

    function fadeIn(element) {
      opacity = parseFloat(element.style.opacity);
      opacity += 0.05;
      element.style.opacity = opacity;
      if (opacity < 1) {
        setTimeout(function(){fadeIn(element);}, 50);
      }
    }

    function navigate(item_name) {
      form_containers = document.getElementsByClassName("form-container");
      for (var i = 0; i < form_containers.length; i++) {
        form_containers[i].style.display = 'none';
      }
      document.getElementById(item_name + '-list').style.display = 'block';
      document.location = '#/' + item_name + '/';
      var links = document.getElementById('nav').getElementsByTagName('a');
      for (var i = 0; i < links.length; i++) {
        links[i].className = '';
      }
      document.getElementById(item_name + '-link').className = 'selected';
    }
    //setTimeout(function(){ fadeOut(document.getElementById('disappear')); }, 500);
  </script>
{% endblock %}
