 {% load extras %}
<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
  <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
</head>

<body class="desktop page-front">

  <div class="wrapper">
    <div class="row header-row">
      <div class="cell header-cell">
        <header>
          <div class="pull">
            <div class="left"><a href="/">J&oacute;&ograve;Mah</a></div>
            <div class="right">
              <form id="sign_in" action="/authenticate/" method="POST">{% csrf_token %}
                <div>
                  <input {% if retries %}style="border: 1px solid red"{% endif %} type="text" name="username" placeholder="Email" />
                </div>
                <div>
                  <input {% if retries %}style="border: 1px solid red"{% endif %} type="password" name="password" placeholder="Password" />
                  <label><a href="">Forgot password?</a></label>
                  <input type="checkbox" id="remember" name="remember_me" />
                  <label for="remember">Keep me logged in</label>
                </div>
                <div>
                  <input type="hidden" value="{{retries}}" name="retries" />
                  <input type="submit" value="Sign In" />
                </div>
              </form>
            </div>
          </div>
        </header>
                        {% if retries %}
                  <span style='color: red; margin-left: 60%; position: relative; top: 10px;'>Incorrect username/password</span>
                {% endif %}
      </div>
    </div>

    <div class="row content-row">
      <div class="cell content-cell">
        <div class="content pull"style="background:white; padding: 20px; padding-right: 100px; padding-left: 100px;">
          <h1 style="text-align: center; font-size: 2em; padding-bottom:10px;color: #498FBC;">General Terms and Conditions</h1>
          <p>Welcome to Joomah.com (the "Site"). The site is comprised of various web pages operated by Joomah Inc. Joomah.com is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). Your use of the site constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference. </p>
<h2>Privacy </h2>
<p>Your use of the Site is subject to Joomah Inc's Privacy Policy. Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices. </p>
<h2>Electronic Communications </h2>
<p>Visiting the Site or sending emails to Joomah Inc constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing. </p>
<h2>Your account </h2>
<p>If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that Joomah Inc is not responsible for third party access to your account that results from theft or misappropriation of your account. Joomah Inc and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion. </p>
<p>Joomah Inc does not knowingly collect, either online or offline, personal information from persons under the age of thirteen.</p>
<p>If you are under 18, you may use the Site only with permission of a parent or guardian. </p>
<h2>Links to third party sites/Third party services </h2>
<p>The site may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Joomah Inc and Joomah Inc is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Joomah Inc is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Joomah Inc of the site or any association with its operators. </p>
<p>Certain services made available via the site may be delivered by third party sites and organizations. By using any product, service or functionality originating from the Joomah.com domain, you hereby acknowledge and consent that Joomah Inc may share such information and data with any third party with whom Joomah Inc has a contractual relationship to provide the requested product, service or functionality on behalf of Joomah.com users and customers.<p>
<h2>No unlawful or prohibited use/Intellectual Property</h2> 
<p>You are granted a non-exclusive, non-transferable, revocable license to access and use Joomah.com strictly in accordance with these terms of use. As a condition of your use of the Site, you warrant to Joomah Inc that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.</p> 
<p>All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Joomah Inc or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto. </p>  
<p>You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Joomah Inc content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Joomah Inc and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Joomah Inc or our licensors except as expressly authorized by these Terms.</p>
<h2>Use of communication services</h2>
<p>The Site may contain message or communication facilities designed to enable you to communicate with the public at large or with a group (collectively, "Communication Services"), you agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication Service. </p>
<p>By way of example, and not as a limitation, you agree that when using a Communication Service, you will not: defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others; publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information; upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents; upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer; advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages; conduct or forward surveys, contests, pyramid schemes or chain letters; download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner; falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded, restrict or inhibit any other user from using and enjoying the Communication Services; violate any code of conduct or other guidelines which may be applicable for any particular Communication Service; harvest or otherwise collect information about others, including e-mail addresses, without their consent; violate any applicable laws or regulations.</p>
<p>Joomah Inc has no obligation to monitor the Communication Services. However, Joomah Inc reserves the right to review materials posted to a Communication Service and to remove any materials in its sole discretion. Joomah Inc reserves the right to terminate your access to any or all of the Communication Services at any time without notice for any reason whatsoever.</p>
<p>Joomah Inc reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Joomah Inc's sole discretion.</p>
<p>Always use caution when giving out any personally identifying information about yourself or your children in any Communication Service. Joomah Inc does not control or endorse the content, messages or information found in any Communication Service and, therefore, Joomah Inc specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Service. Managers and hosts are not authorized Joomah Inc spokespersons, and their views do not necessarily reflect those of Joomah Inc.</p>  
<p>Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. You are responsible for adhering to such limitations if you upload the materials.</p>
<h2>Materials provided to Joomah.com or posted on any Joomah Inc web page </h2>
<p>Joomah Inc does not claim ownership of the materials you provide to Joomah.com (including feedback and suggestions) or post, upload, input or submit to any Joomah Inc Site or our associated services (collectively "Submissions"). However, by posting, uploading, inputting, providing or submitting your Submission you are granting Joomah Inc, our affiliated companies and necessary sublicensees permission to use your Submission in connection with the operation of their Internet businesses including, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; and to publish your name in connection with your Submission.</p>
<p>No compensation will be paid with respect to the use of your Submission, as provided herein. Joomah Inc is under no obligation to post or use any Submission you may provide and may remove any Submission at any time in Joomah Inc's sole discretion.</p>
<p>By posting, uploading, inputting, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions.</p>
<h2>International Users</h2>
<p>The Service is controlled, operated and administered by Joomah Inc from our offices within the USA. If you access the Service from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not use the Joomah Inc Content accessed through Joomah.com in any country or in any manner prohibited by any applicable laws, restrictions or regulations.</p>
<h2>Indemnification</h2>
<p>You agree to indemnify, defend and hold harmless Joomah Inc, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys' fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. Joomah Inc reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Joomah Inc in asserting any available defenses.</p>
<h2>Liability disclaimer</h2>
<p>THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. JOOMAH INC AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.</p>
<p>JOOMAH INC AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. JOOMAH INC AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. </p>
<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL JOOMAH INC AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF JOOMAH INC OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</p>
<h2>Termination/access restriction</h2>
<p>Joomah Inc reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the State of Delaware and you hereby consent to the exclusive jurisdiction and venue of courts in Delaware in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section. </p>
<p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and Joomah Inc as a result of this agreement or use of the Site. Joomah Inc's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Joomah Inc's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by Joomah Inc with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.</p>  
<p>Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Joomah Inc with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Joomah Inc with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent an d subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.</p>
<h2>Changes to Terms</h2>
<p>Joomah Inc reserves the right, in its sole discretion, to change the Terms under which Joomah.com is offered. The most current version of the Terms will supersede all previous versions. Joomah Inc encourages you to periodically review the Terms to stay informed of our updates.</p>
<h2>Contact Us</h2>
<p>Joomah Inc welcomes your questions or comments regarding the Terms. Feel free to send us an email at <a href="mailto:info@joomah.com">info@joomah.com</a>.</p>

          
        </div>
<a href='/' style='font-size: 16; text-align: center; display: block; color: #498FBC; text-decoration: underline;'>Back</a>
      </div>
    </div>
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48107662-1', 'joomah.com');
  ga('send', 'pageview');

  if (screen.width <= 800) {
    window.location.pathname = "/mobile" + window.location.pathname;
  }

</script>
</body>

</html>
