/* About page */
.page-about.content {
  min-width: 800px;
  padding-right: 200px;
  margin-top: 160px;
  .about-block {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    .blurb {
      @include border-radius(20px);
      background: white;
      padding: 40px;
      margin: 10px 10px 17px 10px;
      .photo {
        display: inline-block;
        vertical-align: middle;
        img {
          height: 100px;
          width: 100px;
          @include border-radius(50px);
        }
      }
      .who {
        display: inline-block;
        margin-left: 40px;
        .name {
          font-weight: bolder;
          font-size: 1.5em;
          margin: 5px;
        }
        .position {
          margin: 5px;
        }
        #resume {
          margin: 5px;
        }
        #resume:hover {
          color: $joomahblue;
        }
      }
      .description {
        margin-top: 20px;
        text-align: justify;
      }
    }
    .education {
      margin-left: 1%;
      > div {
        background: #33BBB1;
      }
    }
    .skills {
      margin-left: 1%;
      > div {
        background: rgba(211, 84, 0, 0.51);
      }
    }
    .career {
      margin-left: 4%;
      > div {
        background: #75A8BB;
      }
    }
    .languages {
      margin-left: 4%;
      > div {
        background: rgba(41, 128, 185, 0.5);
      }
    }
    .list-box {
      padding-top: 0px;
      @include border-radius(20px);
      background: white;
      display: inline-block;
      width: 47%;
      vertical-align: top;
      margin-bottom: 20px;
      > div {
        color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 1.5em;
        text-align: center;
        padding: 10px 0;
      }
      ul {
        margin: 10px 20px 20px 20px;
        li {
          margin-bottom: 10px;
          .ed-title {
            font-weight: bolder;
          }
          .ed-time {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
