/* About page */
#about-header {
  background-color: #344A5D;
  text-align: center;
  #signin {
      float:left;
      line-height:70px;
      padding-left:30px;
    }
    #register {
      float:right;
      line-height:70px;
      padding-right:30px;
    }
  div {
    display: inline-block;
    // line-height:70px;
    a {
      font-size: 0.75em;
      // border: 1px solid #FFFFFF;
      padding: 10px;
    }
  }

}
img {
  margin-left: auto;
  margin-right: auto;
  display:block;
}
#info {
  width: 70%;
  margin: 2*$header_height auto 2*$header_height auto;
  background: #FFFFFF;
  padding: 10px 80px;
  text-align: center;
  #info-title {
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: $joomahblue;
  }
  .titles {
    margin-bottom: 10px;
    font-size: 1.3em;
  }
  .jobseeker-blurb {
    color: $joomahgreen;
    margin-top: 20px;
    margin-bottom: 40px;
    span {
      color: rgba(0,0,0,0.6);
      line-height: 1.3;
    }
  }
  .employer-blurb {
    color: $joomahblue;
    margin-bottom: 40px;
    span {
      color: rgba(0,0,0,0.6);
      line-height: 1.3;
    }
  }
  .team {
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom: 30px;
    .titles {

      color: #f47c4f;
    }
    .members {
      div {
        margin-top: 20px;
        color:#5C6D7E;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
