#shortlisted {
  background-color: #ffffff;
}

#interview {
  background-color: #ffffff;
}

.person-details {
  text-align: center;
  background-color: #ffffff;
  padding: 15px 15px 0 15px;
}

.circle-person {
  border-radius: 50%;
  border: 2px solid;
  padding: 20px 25px 20px 25px;
  background-color: #808080;
}

.profile-photo {
  width: 150px;
  margin: 0 auto;
  color: #ffffff;
}

.person-name {
  font-size: 1.25em;
  color: #34495e;
  font-weight: 700;
  padding-top: 15px;
}

.candidate-rank {
  color: rgb(57, 181, 74);
}

.tracking {
  font-weight: 700;
}

.tracking-cta {
  background-color: rgba(52, 73, 94, 1.0);
  /*text-align: center;*/
  padding: 14px;
}

.radio-inline {
  font-size: 1.15em;
  margin-right: 25px;
  font-weight: 700;
  color: #ffffff;
}

.skills-section {
  background-color: #ffffff;
  margin-top: 10px;
  padding-bottom: 15px;
}

.skills-section-title {
  padding: 5px;
  border-bottom: 2px solid #34495e;
  text-align: center;
}

.skills-section ul li {
  padding: 7px;
  background-color: rgba(63, 169, 245, 0.1);
  display: inline-block;
  margin-top: 10px;
  list-style-type: none;
  border-radius: 5px;
}

.experience-section {
  background-color: #ffffff;
  margin-top: 10px;
}

.experience-details {
  padding: 10px 10px 0 10px;
}

.exp-info {
  text-align: right;
}

.coverletter {
  background-color: #ffffff;
  margin-top: 10px;
}

.coverletter details {
  padding:10px;
  width: 80%;
  margin-left: 10%;
}

summary {
  color: #29abe2;
  text-align: center;
}

.educ-ref-section {
  /*background-color: #ffffff;*/
  /*margin-top: 60px;*/
  padding-bottom: 10px;
}

.educ-ref-section ul li {
  list-style-type: none;
  opacity: 0.8;
  color: #34495e;
}

.edu-section-top {
  background-color: #ffffff;
  margin-top: 10px;
  padding-bottom: 15px;
}

.education-section {
  border-bottom: 1px solid #34495e;
}

.references-section {
  padding-top: 5px;
}