.table-header-blue {
  background-color: rgba(0, 113, 188, 0.2);
  border-left: 1px solid white;
  color: #34495e;
}

#delete-job-modal-title {
  color: #ed1c24;
  text-align: center;
}

.links-centered {
  text-align: center;
  font-size: 12px;
}
