.error-header {
  height: $header_height;
  line-height: $header_height;
  width: 100%;
  background: $joomahblue;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}
.page-error {
  text-align:center;
  .error-name {
    font-size: 1.5em;
    margin: 20px 200px;
    color: #333333;
  }
  .error-description {
    text-align: justify;
    margin: 20px auto;
    width: 600px;
    line-height: 1.5em;
    color: #666666;
    a {
      color: $joomahblue;
    }
  }
}
