.box {
  /*width: 580px;
  margin: 0 auto;
  background: #ffffff;*/
  padding: 10%;
}

#job-posting-form {
	width:80%;
	max-width:580px;
	margin-left:10%;
}

#id_commitment {
	width: 50%;
	height: 30px;
	padding-left: 5px;
}

#id_end_date_month {
	height: 30px;
	padding-left: 5px; 
}

#id_end_date_day {
	height: 30px;
	padding-left: 10px;
	text-align: center; 
	width: 45px;
}

#id_end_date_year {
	height: 30px;
	padding-left: 10px; 
	width: 60px;
}

select {
	height: 30px;
}


