.table-header-red {
  background-color: rgba(237, 28, 36, 0.2);
  border-left: 1px solid white;
  color: #34495e;
}

#reopen-job-modal-title {
  color: #39b54a;
  text-align: center;
}

.modal-body {
  text-align: center;
}

.modal-footer button {
  width: 200px;
  margin: 0 auto;
}