/* Payment submission */
.payment_submission {
  &#ps-header {
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    > div {
      display: inline-block;
    }
    #ps-back {
      float: left;
      padding-left: 30px;
      font-size: 1em;
      font-weight: 100;
    }
    #ps-title {
      font-size: 2em;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      margin-left: -10%;
    }
    #ps-forward {
      float: right;
      padding-right: 30px;
      font-size: 1em;
      font-weight: 100;
    }
  }
  &.ps-content {
    width: 70%;
    margin: 160px auto 160px auto;
    background: #FFFFFF;
    padding: 10px 80px;
    line-height: 2;
    color: #888888;
    .ps-info {
      text-align: center;
    }
    form {
      width: 50%;
      text-align: center;
      margin: 10px auto;
      .form-field {
        border: 1px solid #888888;
        border-radius: 5px;
        padding: 5px;
      }
      .form-field-wrapper {
        margin: 15px 0px;
      }
      .form-pair-wrapper {
        margin: 10px 0px;
        div {
          display: inline-block;
          width: 49.5%;
        }
      }
      input[type=submit] {
        background: $joomahblue;
        color: #FFFFFF;
        font-size: 1.5em;
        border: 0px;
        border-radius: 5px;
        width: 100%;
        padding: 5px 0px;
        font-weight: bolder;
      }
    }
  }
}
