/* Payment confirmation */
.payment_confirmation {
  &#pc-header {
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    #pc-back {
      float: left;
      padding-left: 30px;
      font-size: 1em;
      font-weight: 100;
    }
    #pc-title {
      font-size: 2em;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      margin-left: -10%;
    }
  }
  &.pc-content {
    width: 70%;
    margin: 160px auto 160px auto;
    background: #FFFFFF;
    padding: 10px 80px;
    line-height: 2;
    color: #888888;
    .pc-c-title {
      font-size: 1.4em;
      font-weight: bold;
      color: $joomahblue;
    }
    #pc-c-return > div {
      background: $joomahblue;
      color: #FFFFFF;
      padding: 5px 10px;
      font-weight: bolder;
      display: inline-block;
      margin: 10px 0px 20px 0px;
    }
    #pc-c-error {
      color: #111111;
      font-size: 0.75em;
      line-height: 1;
      border-top: 1px solid #888888;
      padding-top: 5px;
      a {
        color: $joomahblue;
      }
    }
  }
}
