.page-pricing {
  background-color: #ECF0F1;
  .pr-container {
    width: 100%;
  }
  .pr-col {
    width: 33.333333333%;
    float: left;
    height: 100%;
    .pr-col-footer {
      margin: 10px 15%;
      padding: 10px 15px;
      font-weight: bolder;
      text-align: center;
      border-top: 1px solid grey;
      font-size: 0.8em;
      color: #565656;
    }
    .pr-inner  {
      height: 100%;
      background: #FFFFFF;
      margin: 0px 15% 20px 15%;
      padding: 0px 0px 10px 0px;
      color: #5c6d7e;
      > form {
        text-align: center;
        > input {
          display: inline-block;
        }
      }
      div {
        text-align: center;
      }
      .pr-col-header {
        font-size: 1.4em;
        padding: 20px 40px;
        margin-bottom: 20px;
        color: #FFFFFF;
      }
      .pr-col-middle {
        font-size: 1.1em;
        margin: 0px 10px;
        border-bottom: 1px solid grey;
        padding: 20px 0px;
      }
      .pr-col-bottom {
        font-size: 0.8em;
        margin: 0px 10px;
        line-height: 3;
        padding-top: 20px;
      }
      .pr-col-descr {
        line-height: 1.5;
      }
      .pr-space {
        padding: 20px;
      }
      .pr-bolder {
        font-weight: bolder;
      }
      .pr-125x {
        font-size: 1.25em;
      }
      .pr-paywith {
        padding: 10px 20px;
        font-size: 1.3em;
        margin: 10px;
      }
      .pr-green {
        background: #4cc2ba;
        color: #FFFFFF;
      }
      .pr-green-outline {
        color: #4cc2ba;
        border: 1px solid #4cc2ba
      }
      .pr-orange {
        color: #FFFFFF;
        background: #f26a39;
      }
      .pr-orange-outline {
        color:#f26a39;
        border: 1px solid #f26a39;
      }
      .pr-blue {
        background: #3db3e4;
        color: #FFFFFF;
      }
      .pr-blue-outline {
        color:  #3db3e4;
        border: 1px solid  #3db3e4;
      }
      .pr-3x {
        font-size: 3em;
      }
    }
  }
  .colored-header {
    text-align: center;
    margin-bottom: 40px;
    > div {
      display: inline-block;
      background-color: grey;
      color: #FFFFFF;
      padding: 20px;
    }
  }

}
