.register-header {
  color: #FFFFFF;
  background: #29abe2;
  padding: 10px 20px;
  > div {
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    margin: 0px 10px;
    div {
      display: inline-block;
      font-weight: bolder;
    }
    a {
      float: right;
    }
  }
}
.page-register {
  background-color: #29abe2;
  .content {
    color: #FFFFFF;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    min-width: 960px;
    overflow: auto;
    margin-top: 0px !important;
    .main-title {
      font-weight: bold;
      font-size: 2.5em;
      text-align: center;
      margin: 30px 0px 0px 0px;
    }
    .main-subtitle {
      font-size: 1.5em;
      text-align: center;
      margin: 10px 0px 20px 0px;
    }
    .main {
      margin-bottom: 80px;
    }
    .form {
      margin-left:auto;
      margin-right:auto;
      width: 800px;
      text-align: center;
      color: #111111;
      .form-errors {
        font-weight: bolder;
      }
      .form-field-wrapper {
        margin: 15px 0px;
        input {
          width: 50%;
        }
        #id_name, #id_email, #id_tax_id, #id_phone_number,
        #id_primary_address, #id_password, #id_password1, #id_category {
          @include transition(0.3s);
          @include border-radius(5px);
          padding: 5px 0px 5px 5px;
          border: 1px solid #DDDDDD;
        }
        #id_name:focus, #id_email:focus, #id_phone_number:focus,
        #id_tax_id:focus, #id_primary_address:focus,
        #id_password:focus, #id_password1:focus,
        #id_category:focus {
          box-shadow: 0 0 5px $joomahblue;
          padding: 5px 0px 5px 5px;
          border: 1px solid $joomahblue;
        }
      }
      .form-category {
        .chosen-container {
          text-align: left;
        }
      }
      .form-pair-wrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        .form-pair {
          width: 49.4%;
          margin: 0px;
          display: inline-block;
          input {
            width: 100%;
          }
        }
      }
      .chosen-container-active .chosen-choices {
        box-shadow: 0 0 5px $joomahblue;
        border: 1px solid $joomahblue;
      }
      .chosen-container {
        .chosen-choices {
          @include border-radius(5px);
          //font-size: 20px;
          .search-choice {
            line-height: 20px;
          }
          .search-field > input {
            height: auto;
          }
        }
      }
      .chosen-container-multi .chosen-choices li.search-choice {
        background: #FFFFFF;
        .search-choice-close {
          top: 8px;
        }
      }
      .main-agreement {
        font-size: 0.8em;
        font-weight: bolder;
        padding: 0% 30%;
        color: #FFFFFF;
      }
      #sign-up {
        margin: 50px;
        font-size: 25px;
        background: #f15a24;
        color: white;
        font-weight: bold;
        padding: 5px 30px;
        border: 1px solid #FFFFFF;
      }
      p {
        margin-top: 15px;
        margin-bottom: 15px;
        label {
          display: inline-block;
          width: 300px;
          padding: 5px;
          font-size: 20px;
          color: #666666;
          text-align: left;
          margin-right: 20px;
        }
        > input {
          display: inline-block;
          width: 300px;
          padding: 5px;
          font-size: 20px;
        }
        select {
        }
        #id_name, #id_email, #id_tax_id, #id_primary_address, #id_password, #id_password1 {
          @include transition(0.3s);
          @include border-radius(5px);
          padding: 5px 0px 5px 5px;
          border: 1px solid #DDDDDD;
          background: #FFFFFF
        }
        #id_name:focus, #id_email:focus,
        #id_tax_id:focus, #id_primary_address:focus,
        #id_password:focus, #id_password1:focus {
          box-shadow: 0 0 5px $joomahblue;
          padding: 5px 0px 5px 5px;
          border: 1px solid $joomahblue;
        }
        .chosen-container-active .chosen-choices {
          box-shadow: 0 0 5px $joomahblue;
          border: 1px solid $joomahblue;
        }
        .chosen-container {
          .chosen-choices {
            @include border-radius(5px);
            font-size: 20px;
            .search-choice {
              line-height: 20px;
            }
            .search-field > input {
              height: auto;
            }
          }
        }
        .chosen-container-multi .chosen-choices li.search-choice {
          background: #FFFFFF;
          .search-choice-close {
            top: 8px;
          }
        }
      }
    }

    .aboutjoomah {
      margin: 1em 0;
      background-color: $white;
      padding: 1em 3em;

      h1 {
        text-align: center;
        font-size: 1.3em;
        color: $joomahblue;
      }

      h2 {
        font-size: 1.1em;
        margin-top: 2em;

        &.h2-0 { color: $l-circle0 }
        &.h2-1 { color: $l-circle1 }
        &.h2-2 { color: $l-circle2 }
      }

      p {
        margin: .5em 0;
        color: $joomahgrey;

        span {
          color: $black;
        }
      }
    }
  }
}
.push {
  height: 1em;
}
