/* Job Application Manager Styles */
.page-search-results {
  width: 80%;
  margin-top: 80px;
  padding-top: 20px;
  ul.jobseeker-list {
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    li.list-header {
      background: white;
      border-radius: 20px;
      font-size: 20px;
      > div {
        display: inline-block;
        width: 18%;
        text-align: center;
        height: 70px;
        padding-top: 30px;
      }
    }
    li.jobseeker {
      margin: 20px 0;
      height: auto;
      max-height: 140px;
      border-radius: 20px;
      padding: 20px 0px;
      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      @include transition(0.3s);
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
      > div {
        display: inline-block;
        vertical-align: middle;
        width: 18%;
        text-align: center;
        max-height: 100px;
        overflow-y: auto;
        padding: 1px;
      }
      .name {

      }
      .title {

      }
      .last_job {

      }
      .education {

      }
      .documents {

      }
    }
    li.jobseeker:hover {
      box-shadow: 0 0 5px $joomahblue;
      border: 1px solid $joomahblue;
    }
    .no-results {
      text-align: center;
      margin-top: 200px;
      font-size: 2em;
    }
    .no-results-error {
      text-align: center;
      margin-top: 200px;
      color: $joomahred;
      font-size: 2em;
    }
  }
}
#navbar.sidebar-search {
  padding-top: 50px;
  padding-bottom: 50px;
  form {
    input, select {
      display: block;
      margin: 10px 0;
      margin-left: auto;
      margin-right: auto;
    }
    input[type=text], select {
      @include transition(0.3s);
      background-color: white;
      border: 1px solid #259360;
      border-radius: 5px;
      color: #6d6869;
      font-size: 1em;
      padding: 0.2em;
      width: 80%;
    }
    input[type=submit] {
      background: $joomahgreen;
      border: 0 none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 1em;
      font-weight: bold;
      padding: 0.2em;
    }
  }
  li {
    margin-left: 10%;
  }
}
