#account-settings {
  background-color: #f2f2f2;
}

.account-settings-header {
  background-color: #3cc63f;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25em;
}

.account-settings-info {
  padding: 15px;
}

.settings-label {
  color: #34495e;
  font-weight: 700;
}

.settings-detail {
  text-align: center;
}

.account-cta {
  border: 2px solid #3cc63f;
  background: #ffffff;
  width: 240px;
  text-align: center;
  font-weight: 700;
  color: #3cc63f;
  padding: 5px;
  margin: 0 auto;
}

.preference-settings-header {
  background-color: #3fa9f5;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25em;
}

.preference-cta {
  border: 2px solid #3FA9F5;
  background: #ffffff;
  width: 240px;
  text-align: center;
  font-weight: 700;
  color: #3FA9F5;
  padding: 5px;
  margin: 0 auto;
}

.modal-body-settings {
  padding: 15px;
  color: #34495e;
}

.modal-body-settings input[type="email"] {
  width: 80%;
  height: 30px;
}

.settings-label-modal {
  font-weight: 700;
}

.btn {
  font-weight: 700;
}