.main-table {
  border-bottom: 1px solid #d3d3d3;
}

.table-header {
  background-color: #f7931e;
  border-left: 1px solid white;
  color: #ffffff;
}

.delete-link a {
  color: #ec644b;
}

.delete-link {
  text-align: center;
}

.acc-summary {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 15px;
}

.acc-summary ul {
  list-style-type: none;
  text-align: center;
}

.acc-header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #888888;
  font-weight: 700;
  background-color: #f2f2f2;
}

.num-new-apps {
  color: #29abe2;
}

.num-new-apps h1 {
  font-weight: 700;
}

.active-jobs {
  color: #009245;
}

.active-jobs h1 {
  font-weight: 700;
}

.expiring-jobs {
  color: #f15a24;
}

.expiring-jobs h1 {
  font-weight: 700;
}


.circle-icons {
  color: #34495e;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.circle-icons a {
  color: #34495e;
  text-decoration: none;
}

.circle-icons p:hover {
  color: #29abe2;
}

.circle {
  border-radius: 50%;
  border: 2px solid;
  padding: 1em;
}

.circle:hover {
  background-color: #29abe2;
  color: #ffffff;
}

#recent-apps {
  background-color: rgba(34, 49, 63, 0.15);
  color: #888888;
  padding: 14px;
  text-align: center;
  font-weight: 700;
}

.summary {
  background-color: rgba(236, 240, 241, 0.2);
  padding-bottom: 25px;
  margin-top: 10px;
}

.else-text {
  color: #b3b3b3;
  text-align: center;
  padding-bottom: 20px;
}

.else-text a {
  color: #ffffff;
}

.else-text:hover {
  color: #34495e;
}

.else-text button:hover {
  background-color: #29abe2;
  color: #ffffff;
}

.else-table {
  width: 100%;
}