.terms-content {
  width: 60%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: 30%;
  h2 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  p {
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    padding: 0 10px;
  }
  .important {
    color: $joomahblue;
    font-weight: bold;
  }
  fieldset {
    margin-bottom: 3em;
    line-height: 1.5em;
    h2 {
      font-size: 1.5em;
    }
  }
  a {
    color: $joomahblue;
    font-weight: bold;
  }
}
