.desktop {
  /* Defines sticky footer with vertically aligned content */
}
.desktop html {
  font-family: 'Raleway', sans-serif;
}
.desktop {
  background: #ECF0F1;
}
.desktop a {
  color: #0096c9;
}
.desktop a:hover {
  text-decoration: underline;
}
.desktop h2 {
  font-size: large;
  margin-top: 10px;
}
.desktop header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  background-color: #58BCE9;
  overflow: hidden;
  z-index: 1000;
}
.desktop header > a {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  z-index: 10002;
}
.desktop header > a img {
  margin-left: 25px;
  position: relative;
  top: 5px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid white;
}
.desktop header ul {
  display: inline;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1001;
}
.desktop header ul .selected {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
.desktop header ul li {
  display: inline-block;
  margin: 0 10px;
}
.desktop header ul li:hover {
  text-decoration: underline;
}
.desktop header ul li a {
  height: 100%;
  display: inline-block;
  padding: 0 10px;
  color: white;
}
.desktop html, .desktop body, .desktop .wrapper {
  min-height: 100%;
  overflow: hidden;
  height: 100%;
  margin-bottom: -50px;
}
.desktop .wrapper {
  overflow: auto;
  margin-bottom: -50px;
}
.desktop .wrapper > * {
  /*padding-top: 60px;*/
}
.desktop .footer {
  color: #ADAFB1;
  display: block;
  position: relative;
  height: 50px;
}
.desktop .footer .left {
  float: left;
  margin-left: 20px;
  line-height: 3;
}
.desktop .footer .right {
  line-height: 3;
  float: right;
  margin-right: 20px;
}

html, body {
  height: 100%;
}

body,input,textarea,select {
  font-family: 'Raleway', sans-serif;
}

a[href] {
  color: inherit;
  text-decoration: none;
}


.errorlist {
    color: red;
}

header.page-front-header {
  min-width: 900px;
}
header.page-front-header * {
  color: white;
}
header.page-front-header div, header.page-front-header form {
  height: 50px;
}
header.page-front-header .left {
  font-size: 2em;
  display: inline-block;
  margin-left: 60px;
}
header.page-front-header .left > a {
  text-decoration: none;
}
header.page-front-header .right {
  float: right;
  display: inline-block;
}
header.page-front-header .right div {
  display: inline-block;
}
header.page-front-header .right div input {
  color: black;
}
header.page-front-header .right div input[type=text],
header.page-front-header .right div input[type=password] {
  font-size: 1em;
  width: 13em;
  border: 0;
  padding: .2em;
  margin-right: .3em;
  position: relative;
  bottom: 5px;
}
header.page-front-header .right div label {
  font-size: .7em;
  color: #ccc;
  position: relative;
  top: 15px;
  right: 280px;
}
header.page-front-header .right div input[type=checkbox] {
  position: relative;
  top: 17px;
  right: 145px;
}
header.page-front-header .right div input[type=submit] {
  background: none;
  border: 0;
  font-weight: 700;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
}

.bottom-links div {
  display: inline-block;
  width: 19%;
  max-width: 19%;
  text-align: center;
  margin-top: 15px;
}

.page-front {
  padding-left: 20%;
  padding-right: 20%;
  height: auto;
}
.page-front + .footer {
  background-color: #34495e;
  color: white;
  height: 50px;
}
.page-front .pull {
  width: 960px;
  margin: 20px auto;
}
.page-front .circles {
  color: #fff;
  position: absolute;
  margin-top: -15%;
  padding: 2% 5%;
  padding-bottom: 1%;
  line-height: 2em;
  font-size: 1.2em;
  height: 400px;
  width: 400px;
  margin-left: -200px;
  top: 50%;
  left: 25%;
  max-width: 40%;
  min-width: 400px;
}
.page-front .form {
  position: absolute;
  text-align: center;
  margin-top: -135px;
  top: 50%;
  left: 75%;
  margin-left: -200px;
  width: 400px;
  height: 270px;
}
.page-front .form h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #e67e22;
}
.page-front .form fieldset {
  margin: .5em auto;
  width: 375px;
}
.page-front .form input {
  width: 100%;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: white;
}
.page-front .form input.half {
  width: 40%;
}
.page-front .form input.half:first-child {
  float: left;
}
.page-front .form input.half:last-child {
  float: right;
}
.page-front .form input[type=text], .page-front .form input[type=password] {
  color: #6d6869;
  background-color: white;
  padding: .8em;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 1em;
}
.page-front .form input[name=email] {
  width: 93%;
}
.page-front .form input[type=submit] {
  color: #0096c9;
  font-size: 2em;
  font-weight: bold;
  border: 0;
  background: none;
  cursor: pointer;
}
.page-front .form input:focus {
  box-shadow: 0 0 5px #0096c9;
  border: 1px solid #0096c9;
}

