@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-79qm0s');
	src:url('fonts/icomoon.eot?#iefix-79qm0s') format('embedded-opentype'),
		url('fonts/icomoon.woff?-79qm0s') format('woff'),
		url('fonts/icomoon.ttf?-79qm0s') format('truetype'),
		url('fonts/icomoon.svg?-79qm0s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-1x {
  font-size: 1em;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
.icon-6x {
  font-size: 6em;
}
.icon-7x {
  font-size: 7em;
}

.icon-clock:before {
	content: "\e607";
}
.icon-user:before {
	content: "\e608";
}
.icon-users:before {
	content: "\e609";
}
.icon-user2:before {
	content: "\e60a";
}
.icon-users2:before {
	content: "\e60b";
}
.icon-user3:before {
	content: "\e60c";
}
.icon-user4:before {
	content: "\e60d";
}
.icon-cog:before {
	content: "\e60e";
}
.icon-cogs:before {
	content: "\e60f";
}
.icon-cog2:before {
	content: "\e610";
}
