.headerlogo {
  padding-left: 49px;
  background-color: rgba(0, 153, 255, 0);
  color: white;
  text-align: center;
  text-decoration: none;
}

.signin {
  display: inline;
  float: none;
}

.logininname {
  width: 244px;
  margin-top: 15px;
  margin-bottom: 11px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.sign-in {
  position: absolute;
  display: inline-block;
  overflow-x: visible;
  overflow-y: visible;
  float: left;
  clear: none;
}

.employername {
  display: block;
  margin-top: 17px;
  padding-top: 3px;
}

.loginform {
  display: block;
  margin-top: 16px;
  opacity: 0.76;
}

.background {
  position: fixed;
  display: inline;
  width: 1658px;
  margin-top: -75px;
}

.headline {
  position: relative;
  top: -420px;
  color: white;
  text-align: center;
}

.body {
  border-top: 1px none black;
  background-color: #0c0b0b;
  background-image: url('/static/img/background.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
}

.headlinetext {
  color: white;
  text-align: center;
}

.divider {
  width: 90%;
  margin-left: 75px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
  border-top: 2px solid white;
  background-color: rgba(0, 153, 255, 0);
  opacity: 1;
}

.videotext {
  padding-right: 0px;
  padding-left: 138px;
  color: rgba(255, 255, 255, 0.67);
  text-align: left;
}

.registerform {
  display: inline-block;
  opacity: 0.75;
}

.registeremail {
  width: 202px;
}

.registerphone {
  width: 203px;
  float: none;
  clear: none;
}

.country {
  width: 201px;
}

.registerbutton {
  width: 406px;
  height: 40px;
  margin-top: 1px;
  margin-right: -266px;
  margin-left: 1px;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f24524;
  line-height: 20px;
}

.registerblock {
  margin-top: 0px;
  margin-bottom: 3px;
  padding-top: 16px;
  padding-right: 11px;
  padding-left: 160px;
}

.registernote {
  color: white;
}

.pricenote {
  width: 409px;
  color: #29abe2;
  text-align: center;
}

.demovideo {
  margin-bottom: 54px;
  padding-left: 59px;
}

.videodescription {
  color: rgba(255, 255, 255, 0.66);
}

.featuresummary {
  background-color: white;
}

.summaryheading {
  margin-top: 40px;
  margin-bottom: 25px;
  padding-bottom: 6px;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}

.flags {
  margin-top: 3px;
  padding-left: 28px;
  opacity: 0.75;
}

.circle1 {
  padding-right: 140px;
  padding-left: 128px;
}

.circle2 {
  padding-right: 266px;
  padding-left: 0px;
}

.circle3 {
  margin-right: 4px;
  padding-right: 170px;
  padding-left: 67px;
}

.round1 {
  padding-right: 13px;
  padding-left: 8px;
  opacity: 0;
}

.round3 {
  opacity: 0;
}

.roundtitle1 {
  padding-right: 24px;
  color: #29abe2;
  font-size: 16px;
  text-align: center;
}

.roundtitle2 {
  padding-top: 9px;
  padding-right: 0px;
  color: #29abe2;
  font-size: 16px;
  text-align: center;
}

.roundtitle3 {
  padding-top: 7px;
  color: #29abe2;
  font-size: 16px;
  text-align: center;
}

.roundtext1 {
  padding-top: 0px;
  padding-right: 0px;
  opacity: 0.75;
  font-size: 16px;
  text-align: center;
}

.freetrialbanner {
  background-color: #29abe2;
}

.bannertext {
  margin-top: 62px;
  margin-right: 2px;
  margin-bottom: 35px;
  padding: 0px 0px 26px 389px;
  color: white;
  font-size: 28px;
}

.bannerbutton {
  margin-top: 47px;
  border: 2px solid white;
  background-color: rgba(181, 196, 209, 0);
  opacity: 1;
}

.demobanner {
  background-color: #f2f2f2;
}

.watchdemo {
  margin-top: 74px;
  color: #29abe2;
  font-size: 26px;
  text-align: center;
}

.demovideo2 {
  margin-top: 36px;
  padding-bottom: 62px;
  padding-left: 194px;
}

.postoncebanner {
  background-color: #29abe2;
  color: white;
}

.jobsiteschart {
  margin-top: 1px;
  padding: 43px 70px 68px 61px;
}

.jobdistribution {
  width: 456px;
  margin-right: 13px;
  margin-left: 120px;
  padding: 67px 22px 73px 12px;
}

.jobsitesdescription {
  margin-top: 35px;
}

.jobsitesheading {
  padding-top: 45px;
}

.jobsiteslist {
  padding-top: 24px;
  padding-left: 13px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 53px;
  list-style-type: square;
}

.candidatesbanner {
  background-color: white;
  color: #34495e;
}

.candidatebnnertitle {
  padding-top: 52px;
  padding-right: 5px;
  padding-left: 50px;
}

.candidatesbannerlist {
  padding-left: 91px;
  list-style-type: square;
}

.candidatechecklist {
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 0px;
  font-size: 18px;
  line-height: 38px;
}

.candidates-image {
  padding-top: 36px;
  padding-bottom: 28px;
  opacity: 0.8;
}

.candidatetexts {
  margin-top: 4px;
  margin-bottom: 3px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 115px;
}

.greenbanner {
  background-color: #39b54a;
}

.laptop {
  margin-top: 28px;
  margin-bottom: 1px;
  padding-top: 97px;
  padding-bottom: 38px;
  padding-left: 132px;
}

.greentext {
  padding-top: 69px;
  color: white;
}

.greenchecklist {
  padding-left: 18px;
  font-size: 18px;
  line-height: 39px;
  list-style-type: square;
}

.bluebanner {
  padding-bottom: 29px;
  background-color: #0071bc;
}

._50bucks {
  margin-top: 29px;
  padding-top: 0px;
  color: white;
  font-size: 28px;
  text-align: center;
}

.fivedollars {
  padding-top: 19px;
  padding-bottom: 4px;
  font-size: 96px;
}

.fivertext {
  padding-top: 20px;
}

.dividers {
  margin-top: 29px;
  padding-top: 0px;
  padding-left: 59px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  color: white;
  font-size: 20px;
  text-align: center;
}

.currencynote {
  padding-top: 23px;
  text-align: center;
}

.paymentoptions {
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 47px;
  padding-left: 0px;
}

.currencies {
  padding-top: 22px;
  font-size: 40px;
}

.dollars {
  font-size: 40px;
}

.usdollars {
  font-size: 12px;
}

.ghanacedi {
  font-size: 12px;
}

.kenyanshillings {
  font-size: 12px;
}

.naira {
  font-size: 12px;
}

.ugandanshilling {
  font-size: 12px;
}

.fifty {
  padding-top: 23px;
  font-size: 96px;
}

.monthly-plan {
  padding-top: 18px;
  line-height: 33px;
}

._5bucks {
  padding-top: 50px;
  color: white;
  font-size: 28px;
  text-align: center;
}

.whitebanner {
  background-color: white;
  color: #0071bc;
}

.traction {
  padding-top: 45px;
  padding-bottom: 8px;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

.freetrial {
  margin-top: 11px;
  margin-bottom: 40px;
  background-color: #f15a24;
  font-size: 20px;
}

.footer {
  margin-top: 0px;
  background-color: #152433;
}

.footercol1 {
  color: #f2f2f2;
  text-align: center;
}

.joomahlogo {
  width: 166px;
  margin-right: 8px;
  margin-left: 26px;
  padding-top: 36px;
  padding-bottom: 21px;
  padding-left: 0px;
}

.contact-info {
  padding-top: 6px;
  color: #f2f2f2;
  line-height: 29px;
}

.footerdiv2 {
  margin-top: 35px;
  padding-top: 0px;
  border-style: none;
  border-right-width: 0px;
  border-right-color: white;
  border-left-width: 1px;
  border-left-color: white;
}

.footerlist {
  display: block;
  margin-top: 32px;
  padding-top: 34px;
  padding-bottom: 51px;
  padding-left: 47px;
  border-right: 1px none white;
  color: #29abe2;
  line-height: 27px;
}

.facebook {
  color: #29abe2;
}

.press {
  padding-top: 0px;
}

.footerdiv3 {
  border-left: 2px none white;
}

.fromtheblog {
  padding-left: 38px;
  color: #ddd6d6;
}

.copyright {
  color: #29abe2;
}

.circleimage1 {
  padding-top: 2px;
  padding-right: 9px;
  padding-left: 9px;
}

.circles {
  margin-bottom: 0px;
  padding-bottom: 61px;
}

.leftsummarycol1 {
  opacity: 1;
}

.signupfrom {
  padding-right: 1px;
  padding-left: 0px;
}

.signupblock {
  margin: 1px 0px 14px 1px;
  padding-top: 0px;
  padding-right: 215px;
  padding-left: 0px;
  opacity: 0.74;
}

.signupbutton {
  float: none;
  background-color: #f14a24;
  opacity: 1;
}

.signuptitle {
  margin-top: 6px;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0.7;
  color: white;
}

.signupbanner {
  padding-bottom: 35px;
}

.forgotpassword {
  display: inline;
  color: white;
  text-decoration: none;
}

.bluewrapper {
  width: 935px;
  margin-right: 0px;
  padding-right: 0px;
  padding-bottom: 14px;
  color: white;
}

.bluewrapperbutton {
  border: 2px solid white;
  background-color: #29abe2;
}

.bluewrappercontainer {
  display: block;
  padding-top: 41px;
  padding-bottom: 48px;
  text-align: center;
}

.round0 {
  opacity: 0;
}

.ignore {
  opacity: 0;
}

.jobdistcontainer {
  padding-right: 38px;
  padding-left: 0px;
}

.contact-us {
  display: none;
  color: #29abe2;
}

.contact-us {
  display: block;
  margin-bottom: -7px;
  padding-top: 0px;
}

.wordmark {
  color: white;
  text-decoration: none;
  text-transform: none;
}

.navelements {
  color: white;
  text-decoration: none;
}

.signup {
  padding-top: 9px;
  padding-left: 14px;
}

.headliner {
  margin-top: 13px;
  color: white;
  text-align: center;
}

.productsubheading {
  font-size: 18px;
}

.tabsbar {
  margin-top: 83px;
}

.activetab {
  display: inline-block;
  width: 300px;
  text-align: center;
}

.activetab.w--current {
  background-color: #29abe2;
  color: white;
}

.tabs {
  position: static;
  float: none;
}

.tab1content {
  margin-top: 0px;
  padding-top: 28px;
  padding-bottom: 93px;
  background-color: white;
  color: #34495e;
  text-align: center;
}

.tabheadline {
  padding-top: 0px;
  font-size: 28px;
}

.tabsubheading {
  margin-top: 0px;
  padding-top: 19px;
  padding-bottom: 27px;
  font-size: 16px;
}

.jobsites {
  opacity: 0.88;
}

.step1 {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 22px;
  font-size: 16px;
}

.jobposting {
  margin-top: 45px;
  margin-right: 0px;
  margin-left: 249px;
  padding-right: 0px;
  padding-left: 0px;
}

.jobpostingtext {
  margin-top: 50px;
}

.jobpostingheadline1 {
  padding-right: 266px;
  color: #29abe2;
  font-size: 36px;
  line-height: 48px;
  text-align: left;
}

.jobpostingdescription {
  padding-top: 22px;
  padding-right: 60px;
  opacity: 0.75;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.joblink {
  margin-top: 65px;
}

.joblinkimage {
  margin-right: 490px;
  margin-left: 0px;
  padding-left: 0px;
}

.confirm {
  margin-left: 0px;
}

.next {
  margin-top: 56px;
  padding-right: 493px;
  padding-left: 0px;
  opacity: 1;
}

.nextbutton {
  background-color: #ed5d39;
}

.emptycolumns {
  opacity: 0;
}

.linkheadline {
  padding-right: 102px;
  color: #29abe2;
  font-size: 32px;
  line-height: 35px;
  text-align: left;
}

.tabheadline2 {
  padding-top: 24px;
  font-size: 28px;
}

.step2 {
  margin-bottom: 46px;
  padding-top: 42px;
  padding-bottom: 53px;
  text-align: center;
}

.tab2content {
  background-color: white;
  text-align: center;
}

.viewrow {
  margin-top: 39px;
  padding-top: 2px;
}

.top10headline {
  color: #e33f29;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
}

.top10text {
  padding-top: 16px;
  opacity: 0.75;
  color: #34495e;
  text-align: left;
}

.nextcolumn {
  margin-top: 58px;
}

.divider2 {
  width: 532px;
  margin-left: 209px;
  padding-bottom: 23px;
  padding-left: 0px;
  border-top: 0px none black;
  border-bottom: 1px solid black;
  opacity: 1;
}

.tab3content {
  background-color: white;
}

.candidaterow {
  margin-top: 42px;
}

.emailtitle {
  color: #29abe2;
  font-size: 28px;
  line-height: 37px;
  text-align: left;
}

.emailtext {
  text-align: left;
}

.tab4content {
  background-color: white;
}

.tab4headline {
  margin-bottom: 1px;
  padding-top: 31px;
  padding-bottom: 40px;
  color: #34495e;
  font-size: 27px;
  text-align: center;
}

.vids {
  padding-bottom: 109px;
}

.tab5content {
  background-color: white;
}

.contactustitle {
  padding-top: 30px;
  padding-bottom: 38px;
  color: #34495e;
  font-size: 28px;
  text-align: center;
}

.contactform {
  margin-bottom: 31px;
  padding-top: 0px;
  padding-left: 134px;
}

.loginbody {
  background-color: #29abe2;
}

.loginsection {
  margin-top: 128px;
  margin-bottom: 0px;
}

.loginpageform {
  padding-right: 0px;
  padding-left: 65px;
}

.submitbutton {
  width: 367px;
  background-color: #ed5639;
}

.signinpageform {
  width: 466px;
  margin-left: 171px;
  padding: 45px 53px 54px 46px;
  background-color: white;
  opacity: 1;
}

.loginpagetitle {
  color: white;
  text-align: center;
}

.mobile_body {
  background-image: url('/static/img/background.png');
  background-position: 0px 0px;
  background-size: cover;
}

.headinglogo {
  font-family: Raleway, sans-serif;
  color: white;
  text-align: center;
}

.headliner1 {
  padding-top: 20px;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 991px) {
  .headerlogo {
    padding-left: 26px;
    font-size: 24px;
  }
  .headlinetext {
    padding-right: 51px;
    padding-left: 0px;
    font-size: 28px;
  }
  .divider {
    margin-left: 33px;
    padding-right: 2px;
    padding-left: 41px;
  }
  .videotext {
    padding-left: 84px;
  }
  .videodescription {
    width: 394px;
  }
  .footer {
    padding-top: 15px;
    font-family: Raleway, sans-serif;
    text-align: center;
  }
  .facebook {
    font-size: 16px;
  }
  .mobile_body {
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .headliner1 {
    padding-bottom: 20px;
  }
  .headliner2 {
    padding-top: 19px;
    font-size: 12px;
  }
  .signupbuttonmobile2 {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 500;
  }
  .countries {
    padding-top: 11px;
  }
  .summaryheadliner {
    background-color: white;
  }
  .pricinglink {
    font-size: 12px;
  }
  .summaryheadline {
    color: #666;
    text-align: center;
  }
  .firstcirclediv {
    padding-bottom: 20px;
    text-align: center;
  }
  .postjobstext {
    color: #29abe2;
  }
  .postjobstext1 {
    color: #666;
  }
  .secondcirclediv {
    padding-bottom: 20px;
    text-align: center;
  }
  .thirdcirclediv {
    padding-bottom: 16px;
    text-align: center;
  }
  .bluebanner1 {
    padding-bottom: 20px;
    color: #29abe2;
    text-align: center;
  }
  .customers {
    padding-top: 13px;
    padding-bottom: 15px;
    background-color: #f2f2f2;
    color: #29abe2;
    text-align: center;
  }
  .paymentsection {
    padding-left: 0px;
    background-color: transparent;
    color: #666;
  }
  .payamount {
    margin-top: 11px;
    padding-top: 1px;
    padding-bottom: 14px;
    text-align: center;
  }
  .paymentoptions1 {
    text-align: center;
  }
  .login1 {
    padding-top: 9px;
  }
}

@media (max-width: 767px) {
  .footer {
    font-family: Raleway, sans-serif;
  }
  .summaryheadliner {
    background-color: white;
  }
  .pricinglink {
    font-size: 12px;
    font-style: normal;
  }
  .summary {
    font-family: Raleway, sans-serif;
  }
  .summaryheadline {
    font-family: Raleway, sans-serif;
    text-align: center;
  }
  .firstcirclediv {
    padding-bottom: 0px;
  }
  .postjobstext {
    font-family: Raleway, sans-serif;
  }
  .postjobstext1 {
    font-family: Raleway, sans-serif;
  }
  .secondcirclediv {
    padding-top: 13px;
  }
  .bluebanner1 {
    background-color: #29abe2;
    color: white;
  }
  .signupbuttonmobile3 {
    border: 2px solid white;
    background-color: transparent;
  }
  .customers {
    padding-top: 9px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
  }
  .payamount {
    font-family: Raleway, sans-serif;
  }
}

@media (max-width: 479px) {
  .headerlogo {
    padding-left: 0px;
    text-align: left;
  }
  .footer {
    padding-top: 20px;
    font-size: 12px;
  }
  .contact-info {
    font-family: Raleway, sans-serif;
  }
  .facebook {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 12px;
  }
  .copyright {
    font-family: Raleway, sans-serif;
  }
  .mobile_body {
    text-align: center;
  }
  .headliner1 {
    padding-top: 15px;
    padding-bottom: 0px;
    color: white;
  }
  .headliner3 {
    padding-top: 12px;
    font-size: 10px;
  }
  .signupbuttonmobile {
    padding-top: 14px;
    padding-left: 12px;
  }
  .countries {
    padding-bottom: 11px;
    background-color: #34495e;
  }
  .summaryheadliner {
    margin-top: 0px;
    background-color: white;
  }
  .headling4 {
    text-align: left;
  }
  .headliner5 {
    text-align: center;
  }
  .pricinginfo {
    color: black;
    font-size: 9px;
  }
  .pricinglink {
    background-color: transparent;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
  }
  .summary {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .summaryheadline {
    font-family: Raleway, sans-serif;
    color: #666;
  }
  .firstcirclediv {
    margin-top: 20px;
  }
  .postjobstitle {
    margin-top: 1px;
    padding-top: 0px;
    font-family: 'Raleway medium', sans-serif;
    color: #29abe2;
  }
  .postjobstext {
    margin-top: 2px;
    padding-top: 30px;
    color: #666;
  }
  .postjobstext1 {
    font-family: Raleway, sans-serif;
    color: #666;
    font-size: 12px;
  }
  .secondcirclediv {
    margin-top: 40px;
    padding-top: 1px;
  }
  .accesstextdiv {
    margin-top: 0px;
    padding-top: 0px;
  }
  .thirdcirclediv {
    margin-top: 43px;
  }
  .bluebanner1 {
    margin-top: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #39b54a;
    font-family: Raleway, sans-serif;
    color: white;
  }
  .signupbuttonmobile3 {
    border: 2px solid white;
    background-color: transparent;
    font-size: 12px;
  }
  .titletext {
    font-size: 16px;
  }
  .customers {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f2f2f2;
    font-family: Raleway, sans-serif;
    color: #0071bc;
  }
  .loginlink {
    padding-top: 10px;
  }
  .paymentsection {
    padding-bottom: 9px;
    background-color: #0071bc;
  }
  .payamount {
    padding-top: 17px;
    font-family: 'Raleway medium', sans-serif;
    color: white;
  }
  .paymentoptions1 {
    width: 320px;
    margin-top: 16px;
    padding-top: 12px;
    border-top: 1px solid white;
    color: white;
    font-size: 12px;
  }
  .currencylist {
    padding-top: 8px;
    padding-left: 40px;
    text-align: left;
  }
  .footerlogo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .paylist {
    text-align: left;
  }
  .footerlinks {
    font-family: Raleway, sans-serif;
    font-size: 12px;
  }
  .flags1 {
    margin-left: 99px;
    padding-left: 0px;
  }
}

@font-face {
  font-family: 'Raleway medium';
  src: url('/static/fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/static/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/static/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/static/fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url('/static/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
