/* Compass imports */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Global variables */
/* $joomahgrey: #626366; */
/* New landing theme */
/* flat ui colors */
/* Global styles */
body {
  font-family: 'Raleway' !important;
}

#section-start .nav-start, #section-newjoblink .nav-newjoblink, #section-tracking .nav-tracking, #section-history .nav-history, #section-settings .nav-settings, #section-tips .nav-tips, #section-contact .nav-contact {
  background-color: #3FA9F5;
}

p {
  margin-bottom: 0px !important;
}

td {
  text-align: center;
}

thead tr th {
  text-align: center;
}

.icon-bar {
  height: 100vh;
  width: 180px;
  position: fixed;
  background-color: #22313f;
  display: block;
}

.icon-bar a {
  padding: 14px;
  display: block;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.05em;
}

.icon-bar a:hover {
  background-color: #000;
  color: #29abe2;
}

.onfocus {
  background-color: #3FA9F5;
}

.nav-link {
  padding-left: 5px;
}

.with-love {
  color: #f2f2f2;
  font-size: 10px;
  opacity: 0.25;
  margin-left: 15px;
  padding-bottom: 15px;
}

.signout-link {
  /*position: fixed;
  left: 0px;
  bottom: 0px;
  width: inherit;
  margin-top: 100%;*/
  background-color: #ec644b;
  font-weight: 700;
  height: 50px;
  text-align: center;
}

.nav-bottom-section {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: inherit;
}

.brand-name {
  padding-left: 14px;
  color: #3FA9F5;
  font-size: 1.5em;
}

#joomahlogo {
  padding-top: 14px;
  background-color: #000000;
  padding-bottom: 14px;
  width: 180px;
}

.product-name {
  color: #f2f2f2;
  font-size: 1.5em;
}

.page-info {
  padding-top: 15px;
  text-align: center;
}

.page-name {
  font-size: 2em;
  color: #34495e;
}

.user-icon {
  color: #999999;
}

.main-area {
  margin-left: 200px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000000;
  border: 1px solid #000000;
}

label {
  opacity: 0.95;
}

@media screen and (max-width: 768px) {
  .icon-bar {
    width: 100px;
    text-align: center;
  }

  .icon-bar a {
    font-size: 1.5em;
  }

  .nav-link {
    display: none;
  }

  #joomahlogo {
    font-size: 10px;
    max-width: 100px;
  }

  .brand-name {
    display: none;
  }

  .top-rail {
    margin-left: 120px;
  }

  .main-area {
    margin-left: 120px;
  }
}
/* Page components */
/* Defines colored circles with text */
/* a navigation sidebar blue text on white background, use with page-content */
.sidebar-right {
  position: fixed;
  right: 0;
  width: 20%;
  min-width: 200px;
  height: 80%;
  top: 80px;
  padding-top: 80px;
  background: #ecf0f1;
}
.sidebar-right #navbar {
  font-size: 1.2em;
  position: relative;
  top: 50%;
  height: 500px;
  margin-top: -250px;
  color: #0096C9;
  padding-top: 150px;
  padding-bottom: 150px;
  border-left: 1px solid rgba(114, 114, 114, 0.4);
  padding-left: 20px;
  color: #0096C9;
}
.sidebar-right #navbar li {
  color: #0096C9;
  padding: 10px;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background-color: #58BCE9;
  color: white;
}
header form {
  position: absolute;
  top: 0;
  right: 10px;
  top: 50%;
  margin-top: -30px;
}
header form input {
  vertical-align: middle;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 5px 5px 5px 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #0096C9;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
header form input:focus, header form input:hover {
  box-shadow: 0 0 5px white;
  border: 1px solid white;
}
header form input[type='submit'] {
  background: #16a085;
  color: white;
}
header div {
  font-size: 2em;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}
header .header-start {
  padding: 0px;
}
header img.logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
}
header img {
  height: 80px;
}
header .search-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  margin-top: 30px;
}
header.header-settings {
  text-align: center;
}
header.header-settings img, header.header-settings h1 {
  display: inline;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 3em;
}
header .title {
  margin-top: 20px;
}
header #company-name {
  display: inline-block;
  margin: 20px 40px 0px 30%;
}
header #job-position {
  display: inline-block;
  font-size: 1em;
  margin: 20px 40px 0px 0px;
}
header #job-number {
  display: inline-block;
  font-size: 1em;
  margin: 20px 0px 0px 0px;
}

/* wraps content to fit with the navbar-right and the header*/
.page-content {
  width: 80%;
  display: inline-block;
  margin-top: 100px;
  /* height of the header */
}

/* Defines sticky footer with vertically aligned content */
footer {
  overflow-y: hidden;
  height: 100px;
  margin-top: -100px;
  background-color: #34495e;
}
footer .left {
  float: left;
  color: #E6E6E6;
}
footer .right {
  font-size: .8em;
  float: right;
  color: #E6E6E6;
  padding-right: 10px;
}
footer .bottom-links {
  display: table;
  margin: 1.8em 0;
  width: 100%;
  text-align: center;
  color: #0096C9;
  font-size: .9em;
}
footer .bottom-links div {
  display: table-cell;
}
footer .bottom-links div:first-child {
  margin-left: 0;
}
footer .bottom-links div:last-child {
  margin-right: 0;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  padding-top: 0.5em;
  text-align: center;
  font-size: 1em;
  background: #ecf0f1;
}
#footer a {
  color: #0096C9;
  margin-right: 5%;
}
#footer a:hover {
  text-decoration: underline;
}

/* Desktop pages */
.desktop {
  /* Payment submission */
  /* Payment confirmation */
  /* Job Application Manager Styles */
  /* About page */
  /* About page */
}
.desktop .payment_submission#ps-header {
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}
.desktop .payment_submission#ps-header > div {
  display: inline-block;
}
.desktop .payment_submission#ps-header #ps-back {
  float: left;
  padding-left: 30px;
  font-size: 1em;
  font-weight: 100;
}
.desktop .payment_submission#ps-header #ps-title {
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin-left: -10%;
}
.desktop .payment_submission#ps-header #ps-forward {
  float: right;
  padding-right: 30px;
  font-size: 1em;
  font-weight: 100;
}
.desktop .payment_submission.ps-content {
  width: 70%;
  margin: 160px auto 160px auto;
  background: #FFFFFF;
  padding: 10px 80px;
  line-height: 2;
  color: #888888;
}
.desktop .payment_submission.ps-content .ps-info {
  text-align: center;
}
.desktop .payment_submission.ps-content form {
  width: 50%;
  text-align: center;
  margin: 10px auto;
}
.desktop .payment_submission.ps-content form .form-field {
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 5px;
}
.desktop .payment_submission.ps-content form .form-field-wrapper {
  margin: 15px 0px;
}
.desktop .payment_submission.ps-content form .form-pair-wrapper {
  margin: 10px 0px;
}
.desktop .payment_submission.ps-content form .form-pair-wrapper div {
  display: inline-block;
  width: 49.5%;
}
.desktop .payment_submission.ps-content form input[type=submit] {
  background: #0096C9;
  color: #FFFFFF;
  font-size: 1.5em;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  padding: 5px 0px;
  font-weight: bolder;
}
.desktop .payment_confirmation#pc-header {
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}
.desktop .payment_confirmation#pc-header #pc-back {
  float: left;
  padding-left: 30px;
  font-size: 1em;
  font-weight: 100;
}
.desktop .payment_confirmation#pc-header #pc-title {
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin-left: -10%;
}
.desktop .payment_confirmation.pc-content {
  width: 70%;
  margin: 160px auto 160px auto;
  background: #FFFFFF;
  padding: 10px 80px;
  line-height: 2;
  color: #888888;
}
.desktop .payment_confirmation.pc-content .pc-c-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #0096C9;
}
.desktop .payment_confirmation.pc-content #pc-c-return > div {
  background: #0096C9;
  color: #FFFFFF;
  padding: 5px 10px;
  font-weight: bolder;
  display: inline-block;
  margin: 10px 0px 20px 0px;
}
.desktop .payment_confirmation.pc-content #pc-c-error {
  color: #111111;
  font-size: 0.75em;
  line-height: 1;
  border-top: 1px solid #888888;
  padding-top: 5px;
}
.desktop .payment_confirmation.pc-content #pc-c-error a {
  color: #0096C9;
}
.desktop .table-header-red {
  background-color: rgba(237, 28, 36, 0.2);
  border-left: 1px solid white;
  color: #34495e;
}
.desktop #reopen-job-modal-title {
  color: #39b54a;
  text-align: center;
}
.desktop .modal-body {
  text-align: center;
}
.desktop .modal-footer button {
  width: 200px;
  margin: 0 auto;
}
.desktop .table-header-blue {
  background-color: rgba(0, 113, 188, 0.2);
  border-left: 1px solid white;
  color: #34495e;
}
.desktop #delete-job-modal-title {
  color: #ed1c24;
  text-align: center;
}
.desktop .links-centered {
  text-align: center;
  font-size: 12px;
}
.desktop #shortlisted {
  background-color: #ffffff;
}
.desktop #interview {
  background-color: #ffffff;
}
.desktop .person-details {
  text-align: center;
  background-color: #ffffff;
  padding: 15px 15px 0 15px;
}
.desktop .circle-person {
  border-radius: 50%;
  border: 2px solid;
  padding: 20px 25px 20px 25px;
  background-color: #808080;
}
.desktop .profile-photo {
  width: 150px;
  margin: 0 auto;
  color: #ffffff;
}
.desktop .person-name {
  font-size: 1.25em;
  color: #34495e;
  font-weight: 700;
  padding-top: 15px;
}
.desktop .candidate-rank {
  color: #39b54a;
}
.desktop .tracking {
  font-weight: 700;
}
.desktop .tracking-cta {
  background-color: #34495e;
  /*text-align: center;*/
  padding: 14px;
}
.desktop .radio-inline {
  font-size: 1.15em;
  margin-right: 25px;
  font-weight: 700;
  color: #ffffff;
}
.desktop .skills-section {
  background-color: #ffffff;
  margin-top: 10px;
  padding-bottom: 15px;
}
.desktop .skills-section-title {
  padding: 5px;
  border-bottom: 2px solid #34495e;
  text-align: center;
}
.desktop .skills-section ul li {
  padding: 7px;
  background-color: rgba(63, 169, 245, 0.1);
  display: inline-block;
  margin-top: 10px;
  list-style-type: none;
  border-radius: 5px;
}
.desktop .experience-section {
  background-color: #ffffff;
  margin-top: 10px;
}
.desktop .experience-details {
  padding: 10px 10px 0 10px;
}
.desktop .exp-info {
  text-align: right;
}
.desktop .coverletter {
  background-color: #ffffff;
  margin-top: 10px;
}
.desktop .coverletter details {
  padding: 10px;
  width: 80%;
  margin-left: 10%;
}
.desktop summary {
  color: #29abe2;
  text-align: center;
}
.desktop .educ-ref-section {
  /*background-color: #ffffff;*/
  /*margin-top: 60px;*/
  padding-bottom: 10px;
}
.desktop .educ-ref-section ul li {
  list-style-type: none;
  opacity: 0.8;
  color: #34495e;
}
.desktop .edu-section-top {
  background-color: #ffffff;
  margin-top: 10px;
  padding-bottom: 15px;
}
.desktop .education-section {
  border-bottom: 1px solid #34495e;
}
.desktop .references-section {
  padding-top: 5px;
}
.desktop .main-table {
  border-bottom: 1px solid #d3d3d3;
}
.desktop .table-header {
  background-color: #f7931e;
  border-left: 1px solid white;
  color: #ffffff;
}
.desktop .delete-link a {
  color: #ec644b;
}
.desktop .delete-link {
  text-align: center;
}
.desktop .acc-summary {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 15px;
}
.desktop .acc-summary ul {
  list-style-type: none;
  text-align: center;
}
.desktop .acc-header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #888888;
  font-weight: 700;
  background-color: #f2f2f2;
}
.desktop .num-new-apps {
  color: #29abe2;
}
.desktop .num-new-apps h1 {
  font-weight: 700;
}
.desktop .active-jobs {
  color: #009245;
}
.desktop .active-jobs h1 {
  font-weight: 700;
}
.desktop .expiring-jobs {
  color: #f15a24;
}
.desktop .expiring-jobs h1 {
  font-weight: 700;
}
.desktop .circle-icons {
  color: #34495e;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}
.desktop .circle-icons a {
  color: #34495e;
  text-decoration: none;
}
.desktop .circle-icons p:hover {
  color: #29abe2;
}
.desktop .circle {
  border-radius: 50%;
  border: 2px solid;
  padding: 1em;
}
.desktop .circle:hover {
  background-color: #29abe2;
  color: #ffffff;
}
.desktop #recent-apps {
  background-color: rgba(34, 49, 63, 0.15);
  color: #888888;
  padding: 14px;
  text-align: center;
  font-weight: 700;
}
.desktop .summary {
  background-color: rgba(236, 240, 241, 0.2);
  padding-bottom: 25px;
  margin-top: 10px;
}
.desktop .else-text {
  color: #b3b3b3;
  text-align: center;
  padding-bottom: 20px;
}
.desktop .else-text a {
  color: #ffffff;
}
.desktop .else-text:hover {
  color: #34495e;
}
.desktop .else-text button:hover {
  background-color: #29abe2;
  color: #ffffff;
}
.desktop .else-table {
  width: 100%;
}
.desktop .register-header {
  color: #FFFFFF;
  background: #29abe2;
  padding: 10px 20px;
}
.desktop .register-header > div {
  border-bottom: 1px solid #FFFFFF;
  width: 100%;
  margin: 0px 10px;
}
.desktop .register-header > div div {
  display: inline-block;
  font-weight: bolder;
}
.desktop .register-header > div a {
  float: right;
}
.desktop .page-register {
  background-color: #29abe2;
}
.desktop .page-register .content {
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 960px;
  overflow: auto;
  margin-top: 0px !important;
}
.desktop .page-register .content .main-title {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 30px 0px 0px 0px;
}
.desktop .page-register .content .main-subtitle {
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0px 20px 0px;
}
.desktop .page-register .content .main {
  margin-bottom: 80px;
}
.desktop .page-register .content .form {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
  color: #111111;
}
.desktop .page-register .content .form .form-errors {
  font-weight: bolder;
}
.desktop .page-register .content .form .form-field-wrapper {
  margin: 15px 0px;
}
.desktop .page-register .content .form .form-field-wrapper input {
  width: 50%;
}
.desktop .page-register .content .form .form-field-wrapper #id_name, .desktop .page-register .content .form .form-field-wrapper #id_email, .desktop .page-register .content .form .form-field-wrapper #id_tax_id, .desktop .page-register .content .form .form-field-wrapper #id_phone_number,
.desktop .page-register .content .form .form-field-wrapper #id_primary_address, .desktop .page-register .content .form .form-field-wrapper #id_password, .desktop .page-register .content .form .form-field-wrapper #id_password1, .desktop .page-register .content .form .form-field-wrapper #id_category {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  border: 1px solid #DDDDDD;
}
.desktop .page-register .content .form .form-field-wrapper #id_name:focus, .desktop .page-register .content .form .form-field-wrapper #id_email:focus, .desktop .page-register .content .form .form-field-wrapper #id_phone_number:focus,
.desktop .page-register .content .form .form-field-wrapper #id_tax_id:focus, .desktop .page-register .content .form .form-field-wrapper #id_primary_address:focus,
.desktop .page-register .content .form .form-field-wrapper #id_password:focus, .desktop .page-register .content .form .form-field-wrapper #id_password1:focus,
.desktop .page-register .content .form .form-field-wrapper #id_category:focus {
  box-shadow: 0 0 5px #0096C9;
  padding: 5px 0px 5px 5px;
  border: 1px solid #0096C9;
}
.desktop .page-register .content .form .form-category .chosen-container {
  text-align: left;
}
.desktop .page-register .content .form .form-pair-wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.desktop .page-register .content .form .form-pair-wrapper .form-pair {
  width: 49.4%;
  margin: 0px;
  display: inline-block;
}
.desktop .page-register .content .form .form-pair-wrapper .form-pair input {
  width: 100%;
}
.desktop .page-register .content .form .chosen-container-active .chosen-choices {
  box-shadow: 0 0 5px #0096C9;
  border: 1px solid #0096C9;
}
.desktop .page-register .content .form .chosen-container .chosen-choices {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.desktop .page-register .content .form .chosen-container .chosen-choices .search-choice {
  line-height: 20px;
}
.desktop .page-register .content .form .chosen-container .chosen-choices .search-field > input {
  height: auto;
}
.desktop .page-register .content .form .chosen-container-multi .chosen-choices li.search-choice {
  background: #FFFFFF;
}
.desktop .page-register .content .form .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
}
.desktop .page-register .content .form .main-agreement {
  font-size: 0.8em;
  font-weight: bolder;
  padding: 0% 30%;
  color: #FFFFFF;
}
.desktop .page-register .content .form #sign-up {
  margin: 50px;
  font-size: 25px;
  background: #f15a24;
  color: white;
  font-weight: bold;
  padding: 5px 30px;
  border: 1px solid #FFFFFF;
}
.desktop .page-register .content .form p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.desktop .page-register .content .form p label {
  display: inline-block;
  width: 300px;
  padding: 5px;
  font-size: 20px;
  color: #666666;
  text-align: left;
  margin-right: 20px;
}
.desktop .page-register .content .form p > input {
  display: inline-block;
  width: 300px;
  padding: 5px;
  font-size: 20px;
}
.desktop .page-register .content .form p #id_name, .desktop .page-register .content .form p #id_email, .desktop .page-register .content .form p #id_tax_id, .desktop .page-register .content .form p #id_primary_address, .desktop .page-register .content .form p #id_password, .desktop .page-register .content .form p #id_password1 {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
}
.desktop .page-register .content .form p #id_name:focus, .desktop .page-register .content .form p #id_email:focus,
.desktop .page-register .content .form p #id_tax_id:focus, .desktop .page-register .content .form p #id_primary_address:focus,
.desktop .page-register .content .form p #id_password:focus, .desktop .page-register .content .form p #id_password1:focus {
  box-shadow: 0 0 5px #0096C9;
  padding: 5px 0px 5px 5px;
  border: 1px solid #0096C9;
}
.desktop .page-register .content .form p .chosen-container-active .chosen-choices {
  box-shadow: 0 0 5px #0096C9;
  border: 1px solid #0096C9;
}
.desktop .page-register .content .form p .chosen-container .chosen-choices {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.desktop .page-register .content .form p .chosen-container .chosen-choices .search-choice {
  line-height: 20px;
}
.desktop .page-register .content .form p .chosen-container .chosen-choices .search-field > input {
  height: auto;
}
.desktop .page-register .content .form p .chosen-container-multi .chosen-choices li.search-choice {
  background: #FFFFFF;
}
.desktop .page-register .content .form p .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
}
.desktop .page-register .content .aboutjoomah {
  margin: 1em 0;
  background-color: #fff;
  padding: 1em 3em;
}
.desktop .page-register .content .aboutjoomah h1 {
  text-align: center;
  font-size: 1.3em;
  color: #0096C9;
}
.desktop .page-register .content .aboutjoomah h2 {
  font-size: 1.1em;
  margin-top: 2em;
}
.desktop .page-register .content .aboutjoomah h2.h2-0 {
  color: #99d5b7;
}
.desktop .page-register .content .aboutjoomah h2.h2-1 {
  color: #76c3dd;
}
.desktop .page-register .content .aboutjoomah h2.h2-2 {
  color: #eb888b;
}
.desktop .page-register .content .aboutjoomah p {
  margin: .5em 0;
  color: #6D6869;
}
.desktop .page-register .content .aboutjoomah p span {
  color: #000;
}
.desktop .push {
  height: 1em;
}
.desktop .page-search-results {
  width: 80%;
  margin-top: 80px;
  padding-top: 20px;
}
.desktop .page-search-results ul.jobseeker-list {
  margin-top: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.desktop .page-search-results ul.jobseeker-list li.list-header {
  background: white;
  border-radius: 20px;
  font-size: 20px;
}
.desktop .page-search-results ul.jobseeker-list li.list-header > div {
  display: inline-block;
  width: 18%;
  text-align: center;
  height: 70px;
  padding-top: 30px;
}
.desktop .page-search-results ul.jobseeker-list li.jobseeker {
  margin: 20px 0;
  height: auto;
  max-height: 140px;
  border-radius: 20px;
  padding: 20px 0px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.desktop .page-search-results ul.jobseeker-list li.jobseeker:hover {
  cursor: pointer;
  cursor: hand;
}
.desktop .page-search-results ul.jobseeker-list li.jobseeker > div {
  display: inline-block;
  vertical-align: middle;
  width: 18%;
  text-align: center;
  max-height: 100px;
  overflow-y: auto;
  padding: 1px;
}
.desktop .page-search-results ul.jobseeker-list li.jobseeker:hover {
  box-shadow: 0 0 5px #0096C9;
  border: 1px solid #0096C9;
}
.desktop .page-search-results ul.jobseeker-list .no-results {
  text-align: center;
  margin-top: 200px;
  font-size: 2em;
}
.desktop .page-search-results ul.jobseeker-list .no-results-error {
  text-align: center;
  margin-top: 200px;
  color: #db2f2f;
  font-size: 2em;
}
.desktop #navbar.sidebar-search {
  padding-top: 50px;
  padding-bottom: 50px;
}
.desktop #navbar.sidebar-search form input, .desktop #navbar.sidebar-search form select {
  display: block;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}
.desktop #navbar.sidebar-search form input[type=text], .desktop #navbar.sidebar-search form select {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  border: 1px solid #259360;
  border-radius: 5px;
  color: #6d6869;
  font-size: 1em;
  padding: 0.2em;
  width: 80%;
}
.desktop #navbar.sidebar-search form input[type=submit] {
  background: #29BB9C;
  border: 0 none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0.2em;
}
.desktop #navbar.sidebar-search li {
  margin-left: 10%;
}
.desktop #account-settings {
  background-color: #f2f2f2;
}
.desktop .account-settings-header {
  background-color: #3cc63f;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25em;
}
.desktop .account-settings-info {
  padding: 15px;
}
.desktop .settings-label {
  color: #34495e;
  font-weight: 700;
}
.desktop .settings-detail {
  text-align: center;
}
.desktop .account-cta {
  border: 2px solid #3cc63f;
  background: #ffffff;
  width: 240px;
  text-align: center;
  font-weight: 700;
  color: #3cc63f;
  padding: 5px;
  margin: 0 auto;
}
.desktop .preference-settings-header {
  background-color: #3fa9f5;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25em;
}
.desktop .preference-cta {
  border: 2px solid #3FA9F5;
  background: #ffffff;
  width: 240px;
  text-align: center;
  font-weight: 700;
  color: #3FA9F5;
  padding: 5px;
  margin: 0 auto;
}
.desktop .modal-body-settings {
  padding: 15px;
  color: #34495e;
}
.desktop .modal-body-settings input[type="email"] {
  width: 80%;
  height: 30px;
}
.desktop .settings-label-modal {
  font-weight: 700;
}
.desktop .btn {
  font-weight: 700;
}
.desktop .page-about.content {
  min-width: 800px;
  padding-right: 200px;
  margin-top: 160px;
}
.desktop .page-about.content .about-block {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.desktop .page-about.content .about-block .blurb {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: white;
  padding: 40px;
  margin: 10px 10px 17px 10px;
}
.desktop .page-about.content .about-block .blurb .photo {
  display: inline-block;
  vertical-align: middle;
}
.desktop .page-about.content .about-block .blurb .photo img {
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.desktop .page-about.content .about-block .blurb .who {
  display: inline-block;
  margin-left: 40px;
}
.desktop .page-about.content .about-block .blurb .who .name {
  font-weight: bolder;
  font-size: 1.5em;
  margin: 5px;
}
.desktop .page-about.content .about-block .blurb .who .position {
  margin: 5px;
}
.desktop .page-about.content .about-block .blurb .who #resume {
  margin: 5px;
}
.desktop .page-about.content .about-block .blurb .who #resume:hover {
  color: #0096C9;
}
.desktop .page-about.content .about-block .blurb .description {
  margin-top: 20px;
  text-align: justify;
}
.desktop .page-about.content .about-block .education {
  margin-left: 1%;
}
.desktop .page-about.content .about-block .education > div {
  background: #33BBB1;
}
.desktop .page-about.content .about-block .skills {
  margin-left: 1%;
}
.desktop .page-about.content .about-block .skills > div {
  background: rgba(211, 84, 0, 0.51);
}
.desktop .page-about.content .about-block .career {
  margin-left: 4%;
}
.desktop .page-about.content .about-block .career > div {
  background: #75A8BB;
}
.desktop .page-about.content .about-block .languages {
  margin-left: 4%;
}
.desktop .page-about.content .about-block .languages > div {
  background: rgba(41, 128, 185, 0.5);
}
.desktop .page-about.content .about-block .list-box {
  padding-top: 0px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: white;
  display: inline-block;
  width: 47%;
  vertical-align: top;
  margin-bottom: 20px;
}
.desktop .page-about.content .about-block .list-box > div {
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0;
}
.desktop .page-about.content .about-block .list-box ul {
  margin: 10px 20px 20px 20px;
}
.desktop .page-about.content .about-block .list-box ul li {
  margin-bottom: 10px;
}
.desktop .page-about.content .about-block .list-box ul li .ed-title {
  font-weight: bolder;
}
.desktop .page-about.content .about-block .list-box ul li .ed-time {
  font-size: 0.9em;
}
.desktop .terms-content {
  width: 60%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: 30%;
}
.desktop .terms-content h2 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}
.desktop .terms-content p {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.desktop .terms-content .important {
  color: #0096C9;
  font-weight: bold;
}
.desktop .terms-content fieldset {
  margin-bottom: 3em;
  line-height: 1.5em;
}
.desktop .terms-content fieldset h2 {
  font-size: 1.5em;
}
.desktop .terms-content a {
  color: #0096C9;
  font-weight: bold;
}
.desktop .error-header {
  height: 80px;
  line-height: 80px;
  width: 100%;
  background: #0096C9;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}
.desktop .page-error {
  text-align: center;
}
.desktop .page-error .error-name {
  font-size: 1.5em;
  margin: 20px 200px;
  color: #333333;
}
.desktop .page-error .error-description {
  text-align: justify;
  margin: 20px auto;
  width: 600px;
  line-height: 1.5em;
  color: #666666;
}
.desktop .page-error .error-description a {
  color: #0096C9;
}
.desktop #about-header {
  background-color: #344A5D;
  text-align: center;
}
.desktop #about-header #signin {
  float: left;
  line-height: 70px;
  padding-left: 30px;
}
.desktop #about-header #register {
  float: right;
  line-height: 70px;
  padding-right: 30px;
}
.desktop #about-header div {
  display: inline-block;
}
.desktop #about-header div a {
  font-size: 0.75em;
  padding: 10px;
}
.desktop img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.desktop #info {
  width: 70%;
  margin: 160px auto 160px auto;
  background: #FFFFFF;
  padding: 10px 80px;
  text-align: center;
}
.desktop #info #info-title {
  margin: 20px;
  font-size: 2em;
  text-align: center;
  color: #0096C9;
}
.desktop #info .titles {
  margin-bottom: 10px;
  font-size: 1.3em;
}
.desktop #info .jobseeker-blurb {
  color: #29BB9C;
  margin-top: 20px;
  margin-bottom: 40px;
}
.desktop #info .jobseeker-blurb span {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
}
.desktop #info .employer-blurb {
  color: #0096C9;
  margin-bottom: 40px;
}
.desktop #info .employer-blurb span {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
}
.desktop #info .team {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.desktop #info .team .titles {
  color: #f47c4f;
}
.desktop #info .team .members div {
  margin-top: 20px;
  color: #5C6D7E;
}
.desktop #info .team .members div span {
  font-weight: bold;
}
.desktop .page-pricing {
  background-color: #ECF0F1;
}
.desktop .page-pricing .pr-container {
  width: 100%;
}
.desktop .page-pricing .pr-col {
  width: 33.333333333%;
  float: left;
  height: 100%;
}
.desktop .page-pricing .pr-col .pr-col-footer {
  margin: 10px 15%;
  padding: 10px 15px;
  font-weight: bolder;
  text-align: center;
  border-top: 1px solid grey;
  font-size: 0.8em;
  color: #565656;
}
.desktop .page-pricing .pr-col .pr-inner {
  height: 100%;
  background: #FFFFFF;
  margin: 0px 15% 20px 15%;
  padding: 0px 0px 10px 0px;
  color: #5c6d7e;
}
.desktop .page-pricing .pr-col .pr-inner > form {
  text-align: center;
}
.desktop .page-pricing .pr-col .pr-inner > form > input {
  display: inline-block;
}
.desktop .page-pricing .pr-col .pr-inner div {
  text-align: center;
}
.desktop .page-pricing .pr-col .pr-inner .pr-col-header {
  font-size: 1.4em;
  padding: 20px 40px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.desktop .page-pricing .pr-col .pr-inner .pr-col-middle {
  font-size: 1.1em;
  margin: 0px 10px;
  border-bottom: 1px solid grey;
  padding: 20px 0px;
}
.desktop .page-pricing .pr-col .pr-inner .pr-col-bottom {
  font-size: 0.8em;
  margin: 0px 10px;
  line-height: 3;
  padding-top: 20px;
}
.desktop .page-pricing .pr-col .pr-inner .pr-col-descr {
  line-height: 1.5;
}
.desktop .page-pricing .pr-col .pr-inner .pr-space {
  padding: 20px;
}
.desktop .page-pricing .pr-col .pr-inner .pr-bolder {
  font-weight: bolder;
}
.desktop .page-pricing .pr-col .pr-inner .pr-125x {
  font-size: 1.25em;
}
.desktop .page-pricing .pr-col .pr-inner .pr-paywith {
  padding: 10px 20px;
  font-size: 1.3em;
  margin: 10px;
}
.desktop .page-pricing .pr-col .pr-inner .pr-green {
  background: #4cc2ba;
  color: #FFFFFF;
}
.desktop .page-pricing .pr-col .pr-inner .pr-green-outline {
  color: #4cc2ba;
  border: 1px solid #4cc2ba;
}
.desktop .page-pricing .pr-col .pr-inner .pr-orange {
  color: #FFFFFF;
  background: #f26a39;
}
.desktop .page-pricing .pr-col .pr-inner .pr-orange-outline {
  color: #f26a39;
  border: 1px solid #f26a39;
}
.desktop .page-pricing .pr-col .pr-inner .pr-blue {
  background: #3db3e4;
  color: #FFFFFF;
}
.desktop .page-pricing .pr-col .pr-inner .pr-blue-outline {
  color: #3db3e4;
  border: 1px solid  #3db3e4;
}
.desktop .page-pricing .pr-col .pr-inner .pr-3x {
  font-size: 3em;
}
.desktop .page-pricing .colored-header {
  text-align: center;
  margin-bottom: 40px;
}
.desktop .page-pricing .colored-header > div {
  display: inline-block;
  background-color: grey;
  color: #FFFFFF;
  padding: 20px;
}

.mobile {
  font-size: medium;
}
.mobile html, .mobile body {
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
  height: 100%;
}
.mobile .wrapper {
  min-height: 100%;
}
.mobile header,
.mobile footer {
  height: auto;
  padding: 0.4em;
  text-align: center;
  background-color: #0096C9;
  color: #fff;
}
.mobile header .left,
.mobile footer .left {
  float: left;
}
.mobile header .right,
.mobile footer .right {
  float: right;
}
.mobile header h1,
.mobile footer h1 {
  font-size: 2em;
}
.mobile header div,
.mobile footer div {
  font-size: 1.6em;
}
.mobile header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.mobile .content {
  padding-top: 80px;
}
.mobile .push {
  height: 2.4em;
}
.mobile .wrapper {
  margin-bottom: -2.4em;
}
.mobile.page-form, .mobile .page-form {
  text-align: center;
}
.mobile.page-form.page-signin, .mobile .page-form.page-signin {
  background-color: #E6E6E6;
}
.mobile.page-form.page-signin h2, .mobile .page-form.page-signin h2 {
  color: #6D6869;
}
.mobile.page-form.page-signin h3.join, .mobile .page-form.page-signin h3.join {
  color: white;
}
.mobile.page-form.page-signin h3.join > a, .mobile .page-form.page-signin h3.join > a {
  padding: 0.4em;
  margin-top: 20px;
  border: none;
  background-color: #1abc9c;
  color: white;
  font-size: 1.7em;
}
.mobile.page-form.page-signin fieldset.rounded, .mobile .page-form.page-signin fieldset.rounded {
  background-color: #fff;
}
.mobile.page-form.page-signin fieldset.rounded input, .mobile .page-form.page-signin fieldset.rounded input {
  border-bottom: 1px solid #E6E6E6;
}
.mobile.page-form h2, .mobile .page-form h2 {
  font-size: 1.2em;
  color: white;
}
.mobile.page-form h2.left, .mobile .page-form h2.left {
  text-align: left;
  margin: 1em 0 -0.5em 0;
}
.mobile.page-form h2.right, .mobile .page-form h2.right {
  text-align: right;
  margin: -0.5em 0 1em 0;
}
.mobile.page-form h3, .mobile .page-form h3 {
  font-size: 0.8em;
  color: #999999;
}
.mobile.page-form h4, .mobile .page-form h4 {
  font-size: 0.6em;
  color: #999999;
}
.mobile.page-form input,
.mobile.page-form label,
.mobile.page-form select, .mobile .page-form input,
.mobile .page-form label,
.mobile .page-form select {
  font-size: 1.6em;
}
.mobile.page-form h3,
.mobile.page-form h4, .mobile .page-form h3,
.mobile .page-form h4 {
  margin: 0.4em 0;
}
.mobile.page-form a, .mobile .page-form a {
  color: #0096C9;
}
.mobile.page-form fieldset, .mobile .page-form fieldset {
  margin: 1em 0;
}
.mobile.page-form fieldset.rounded, .mobile .page-form fieldset.rounded {
  background-color: #E6E6E6;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.mobile.page-form fieldset.rounded input, .mobile.page-form fieldset.rounded select, .mobile .page-form fieldset.rounded input, .mobile .page-form fieldset.rounded select {
  width: 80%;
  max-width: 90%;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid #6D6869;
  background-color: transparent;
  color: #34495E;
}
.mobile.page-form fieldset.rounded input:last-child, .mobile.page-form fieldset.rounded select:last-child, .mobile .page-form fieldset.rounded input:last-child, .mobile .page-form fieldset.rounded select:last-child {
  border-bottom: none;
}
.mobile.page-form input[type=submit], .mobile .page-form input[type=submit] {
  -webkit-appearance: none;
  padding: 0.4em;
  margin-top: 20px;
  border: none;
  background-color: #0096C9;
  color: white;
  font-size: 2em;
}
