/* Defines colored circles with text */
@mixin circle($height, $color) {
  width: $height;
  height: $height;
  @include border-radius($height / 2);
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: $height / 4;
  padding-top: $height / 2 - $height / 8;
  background-color: $color;
  color: white;
  text-align: center;
}
