/* Defines sticky footer with vertically aligned content */
footer {
  overflow-y: hidden;
  .left {
    float: left;
    color: $joomahlite;
  }
  .right {
    font-size: .8em;
    float: right;
    color: $joomahlite;
    padding-right: 10px;
  }
  height: 100px;
  margin-top: -100px;
  background-color: $landing-footer;

  .bottom-links {
    display: table;
    margin: 1.8em 0;
    width: 100%;
    text-align: center;
    color: $joomahblue;
    font-size: .9em;

    div {
      display: table-cell; 

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  padding-top: 0.5em;
  text-align: center;
  font-size: 1em;
  background: $landing-bg;
  a {
    color: $joomahblue;
    margin-right: 5%;
    &:hover {
      text-decoration: underline;
    }
  }
}
