$header-height: 80px;
header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  background-color: #58BCE9;
  color: white;
  form {
    position: absolute;
    top: 0;
    right: 10px;
    top: 50%;
    margin-top: -30px;
    input {
      vertical-align: middle;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
      outline: none;
      padding: 5px 5px 5px 5px;
      margin: 10px;
      border-radius: 5px; border: 1px solid $joomahblue;
      font-size: 1.2em;
      font-family: 'Raleway', sans-serif;
    }
    input:focus, input:hover {
      box-shadow: 0 0 5px white;
      border: 1px solid white;
    }
    input[type='submit'] {
      background: $flatui-greensea;
      color: white;
    }
  }
  div {
    font-size: 2em;
    color: $white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
  }

  .header-start {
    padding: 0px;
  }
  img.logo {
    position: absolute;
    left: 0;
    top: 0;
    height: $header-height;
  }
  img {
    height: $header-height;
  }
  .search-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    margin-top: 30px;
  }
  &.header-settings {
    text-align: center;
    img, h1 {
      display: inline;
      vertical-align: middle;
      margin-right: 50px;
      font-size: 3em;
    }
  }
  .title {
    margin-top: $header-height - 60px;
  }
  #company-name {
    display: inline-block;
    margin: 20px 40px 0px 30%;
  }
  #job-position {
    display: inline-block;
    font-size: 1em;
    margin: 20px 40px 0px 0px;
  }
  #job-number {
    display: inline-block;
    font-size: 1em;
    margin: 20px 0px 0px 0px;
  }
}
