/* a navigation sidebar blue text on white background, use with page-content */
.sidebar-right {
  position: fixed;
  right: 0;
  width: 20%;
  min-width: 200px;
  height: 80%;
  top: 80px;
  padding-top: 80px;
  background: $landing_bg;
  #navbar {
    font-size: 1.2em;
    position: relative;
    top: 50%;
    height: 500px;
    margin-top: -250px;
    color: #0096C9;
    padding-top: 150px;
    padding-bottom: 150px;
    border-left: 1px solid rgba(114, 114, 114, 0.4);
    padding-left: 20px;
    color: $joomahblue;
    li {
      color: $joomahblue;
      padding: 10px;
    }
  }
}
