/* Begin Base HTML */
body {
	font-family: 'Raleway' !important;
}

#section-start .nav-start, #section-newjoblink .nav-newjoblink, #section-tracking .nav-tracking, #section-history .nav-history, #section-settings .nav-settings, #section-tips .nav-tips, #section-contact .nav-contact {
	background-color: #3FA9F5;
}

p {
	margin-bottom: 0px !important;
}

td {
	text-align: center;
}

thead tr th {
	text-align: center;
}


.icon-bar {
    height: 100vh;
    width: 180px;
    position: fixed;
    background-color: #22313f;
    display: block;
}

.icon-bar a {
    padding: 14px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.05em;
}

.icon-bar a:hover {
    background-color: #000;
    color: #29abe2;
}

.onfocus {
    background-color: #3FA9F5;
}

.nav-link {
	padding-left: 5px;
}

.with-love {
	color: #f2f2f2;
	font-size: 10px;
	opacity: 0.25;
	margin-left: 15px;
	padding-bottom: 15px;
}

.signout-link {
	/*position: fixed;
	left: 0px;
	bottom: 0px;
	width: inherit;
	margin-top: 100%;*/
	background-color: #ec644b;
	font-weight: 700;
	height: 50px;
	text-align: center;
}

.nav-bottom-section {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: inherit;
}	

.brand-name {
	padding-left: 14px;
	color: #3FA9F5;
	font-size: 1.5em;
}

#joomahlogo {
	padding-top: 14px;
	background-color: #000000;
	padding-bottom: 14px;
	width: 180px;
}

.product-name {
	color: #f2f2f2;
	font-size: 1.5em;
}

.page-info {
	padding-top: 15px;
	text-align: center;
}

.page-name {
	font-size: 2em;
	color: #34495e;
}

.user-icon {
	color: #999999;
}

.main-area {
	margin-left: 200px;
}

/* End Base HTML */

/* Start Home page styling */
.main-table {
	border-bottom: 1px solid #d3d3d3;
}

.table-header {
	background-color: #f7931e;
	border-left: 1px solid white;
	color: #ffffff;
}

.delete-link a {
	color: #ec644b;
}

.delete-link {
	text-align: center;
}

.acc-summary {
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 15px;
}

.acc-summary ul {
	list-style-type: none;
	text-align: center;
}

.acc-header {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #888888;
	font-weight: 700;
	background-color: #f2f2f2;
}

.num-new-apps {
	color: #29abe2;
}

.num-new-apps h1 {
	font-weight: 700;
}

.active-jobs {
	color: #009245;
}

.active-jobs h1 {
	font-weight: 700;
}

.expiring-jobs {
	color: #f15a24;
}

.expiring-jobs h1 {
	font-weight: 700;
}


.circle-icons {
	color: #34495e;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

.circle-icons a {
	color: #34495e;
	text-decoration: none;
}

.circle-icons p:hover {
	color: #29abe2;
}

.circle {
	border-radius: 50%;
	border: 2px solid;
	padding: 1em;
}

.circle:hover {
	background-color: #29abe2;
	color: #ffffff;
}

#recent-apps {
	background-color: rgba(34, 49, 63, 0.15);
	color: #888888;
	padding: 14px;
	text-align: center;
	font-weight: 700;
}

.summary {
	background-color: rgba(236, 240, 241, 0.2);
	padding-bottom: 25px;
	margin-top: 10px;
}

.else-text {
	color: #b3b3b3;
	text-align: center;
	padding-bottom: 20px;
}

.else-text a {
	color: #ffffff;
}

.else-text:hover {
	color: #34495e;
}

.else-text button:hover {
	background-color: #29abe2;
	color: #ffffff;
}

.else-table {
	width: 100%;
}

/* End Home page styling */

/* Begin styling for Candidate list page */

.tip-bar {
	background-color: rgba(52, 73, 94, 0.05);
	padding: 15px 0 15px 0;
}

.back-button {
	background-color: #3FA9F5;
	padding: 15px;
	text-align: center;
	color: #ffffff;
}

.back-button a {
	color: #ffffff;
}

.tip-header {
	background-color: rgba();
	padding: 15px;
	text-align: center;
	font-weight: 700;
	color: #34495e;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1abc9c !important;
}

.recommended {
	background-color: #ffffff;
	color: #34495e;
}

.recommended ol li {
	padding: 15px;
	border-bottom: 1px solid rgba(52, 73, 94, 0.05);
	margin-bottom: 7px;
}

.recommended ol li:hover {
	background-color: rgba(41, 171, 226, 0.25);
}

.recommended a {
	color: #34495e;
}

.view-candidate {
	text-align: right;
	display: block;
}

.remaining {
	background-color: #ffffff;
}

.remaining ol li {
	padding: 15px;
	margin-bottom: 7px;
}

.remaining ol li:hover {
	background-color: rgba(52, 73, 94, 0.05);
}

/* End Styling for Candidate List Page */

/* Begin Styling For History Page */
.table-header-red {
	background-color: rgba(237, 28, 36, 0.2);
	border-left: 1px solid white;
	color: #34495e;
}

#reopen-job-modal-title {
	color: #39b54a;
	text-align: center;
}

.modal-body {
	text-align: center;
}

.modal-footer button {
	width: 200px;
	margin: 0 auto;
}

/* Begin styling for the Job Link Confirmation Page */
.smiley {
	text-align: center;
	color: #39b54a;
}

.smiley p {
	font-size: 1.5em;
}

#link-notice {
	text-align: center;
	color: #34495E;
	margin: 5%;
	padding: 15px;
	background-color: rgba(252, 238, 33, 0.1);
	font-size: 1.25em;
	max-width: 960px;
	margin: 0 auto;
	opacity: 0.75;
	border: 1px solid #34495e;
}

.links-group {
	text-align: center;
}

.link-type {
	font-size: 1.5em;
	font-weight: 700;
}

.links {
	font-size: 1.75em;
	color: #29abe2;
	margin-left: 10px;
}

/* Begin styling for Screening-Job-List Page */
.table-header-blue {
	background-color: rgba(0, 113, 188, 0.2);
	border-left: 1px solid white;
	color: #34495e;
}

#delete-job-modal-title {
	color: #ed1c24;
	text-align: center;
}

.links-centered {
	text-align: center;
	font-size: 12px;
}

/* End stylig for Screening Job List */

/* Begins styling for Settings page */
#account-settings {
	background-color: #f2f2f2;
}

.account-settings-header {
	background-color: #3cc63f;
	padding: 10px;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.25em;
}

.account-settings-info {
	padding: 15px;
}

.settings-label {
	color: #34495e;
	font-weight: 700;
}

.settings-detail {
	text-align: center;
}

.account-cta {
	border: 2px solid #3cc63f;
	background: #ffffff;
	width: 240px;
	text-align: center;
	font-weight: 700;
	color: #3cc63f;
	padding: 5px;
	margin: 0 auto;
}

.preference-settings-header {
	background-color: #3fa9f5;
	padding: 10px;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.25em;
}

.preference-cta {
	border: 2px solid #3FA9F5;
	background: #ffffff;
	width: 240px;
	text-align: center;
	font-weight: 700;
	color: #3FA9F5;
	padding: 5px;
	margin: 0 auto;
}

.modal-body-settings {
	padding: 15px;
	color: #34495e;
}

.modal-body-settings input[type="email"] {
	width: 80%;
	height: 30px;
}

.settings-label-modal {
	font-weight: 700;
}

.btn {
	font-weight: 700;
}

/* Begin styling for Tracking */
#applicants {
	/*background-color: #ffffff;*/
	/*padding: 15px;*/
}

#shortlisted {
	background-color: #ffffff;
}

#interview {
	background-color: #ffffff;
}

.person-details {
	text-align: center;
	background-color: #ffffff;
	padding: 15px 15px 0 15px;
}

.circle-person {
	border-radius: 50%;
	border: 2px solid;
	padding: 20px 25px 20px 25px;
	background-color: #808080;
}

.profile-photo {
	width: 150px;
	margin: 0 auto;
	color: #ffffff;
}

.person-name {
	font-size: 1.25em;
	color: #34495e;
	font-weight: 700;
	padding-top: 15px;
}

.candidate-rank {
	color: rgb(57, 181, 74);
}

.tracking {
	font-weight: 700;
}

.tracking-cta {
	background-color: rgba(52, 73, 94, 1.0);
	/*text-align: center;*/
	padding: 14px;
}

.radio-inline {
	font-size: 1.15em;
	margin-right: 25px;
	font-weight: 700;
	color: #ffffff;
}

.skills-section {
	background-color: #ffffff;
	margin-top: 10px;
	padding-bottom: 15px;
}

.skills-section-title {
	padding: 5px;
	border-bottom: 2px solid #34495e;
	text-align: center;
}

.skills-section ul li {
	padding: 7px;
	background-color: rgba(63, 169, 245, 0.1);
	display: inline-block;
	margin-top: 10px;
	list-style-type: none;
	border-radius: 5px;
}

.experience-section {
	background-color: #ffffff;
	margin-top: 10px;
}

.experience-details {
	padding: 10px 10px 0 10px;
}

.exp-info {
	text-align: right;
}

.coverletter {
	background-color: #ffffff;
	margin-top: 10px;
}

.coverletter details {
	padding:10px;
	width: 80%;
	margin-left: 10%;
}

summary {
	color: #29abe2;
	text-align: center;
}

.educ-ref-section {
	/*background-color: #ffffff;*/
	/*margin-top: 60px;*/
	padding-bottom: 10px;
}

.educ-ref-section ul li {
	list-style-type: none;
	opacity: 0.8;
	color: #34495e;
}

.edu-section-top {
	background-color: #ffffff;
	margin-top: 10px;
	padding-bottom: 15px;
}

.education-section {
	border-bottom: 1px solid #34495e;
}

.references-section {
	padding-top: 5px;
}




/* ------------------------------------------------------ */

