{% extends "mobile/basic.html" %}
{% load app_tags %}
{% block class %}page-notice{% endblock %}
{% block title %}Jobs you've applied for:{% endblock %}
{% block content %}
<ul>
  {% for job, open, start_date in jobs %}
    <li>
      <a>
        <img src="//jobs.joomah.com/media/{{job.owner.logo}}" />
        <strong>{{job.owner}}</strong> hiring <a>{{job.title}}</a>.
        {{ job.description }}
        {% if job.deadline %}Qualified applicants to submit applications by {{job.deadline}}.{% endif %}
        {% if open %}Job is still open.{% else %}Applications are no longer being accepted.{% endif %}
        Applied on {{ start_date }}.
      </a>
    </li>
  {% empty %}
    <li>You have yet to apply for a job.</li>
  {% endfor %}
</ul>
{% endblock %}
