<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
    <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="mobile page-form page-register">
    <div class="wrapper">
      <div class="row header-row">
        <div class="cell header-cell">
          <header>
            <h1>J&oacute;&ograve;Mah</h1>
          </header>
        </div>
      </div>

      <div class="row content-row">
        <div class="cell content-cell">
          <div class="content">
            <form id="register" method="POST">{% csrf_token %}
              <h2 class="call">Fill out the form below to apply to {{ job.title }} with {{ job.owner }}</h2>

              <fieldset class="rounded">
                {{ form.as_p }}
              </fieldset>

              <h3>By clicking Register, you agree to J&oacute;&ograve;Mah's</h3>
              <h3>
                <a href="">User Agreement</a>, 
                <a href="">Privacy Policy</a>, and
                <a href="">Cookie Policy</a>
              </h3>

              <fieldset>
                <input type="submit" value="Register" />
              </fieldset>

              <h4>J&oacute;&ograve;Mah Inc 2014</h4>
            </form>
            <form id='register' method="POST" action="/authenticate/?next=/apply/{{job.id}}/">
              <h2>Already on J&oacute;&ograve;Mah?</h2>
              {% csrf_token %}
              <fieldset class='rounded'>
                <p>
                  <input type='text' name='username' placeholder='Email'>
                </p>
                <p>
                  <input type='password' name='password' placeholder='Password'>
                </p>
              </fieldset>
              <input type='submit' value='Sign In'>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-48107662-1', 'joomah.com');
ga('send', 'pageview');
    </script>

  </body>

</html>
