<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
  <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
  {% block includes %}{% endblock %}
</head>
<body class="mobile page-section">

  <div class="wrapper">
    <div class="row header-row">
      <div class="cell header-cell">
        <header>
          <a href="{% block back %}/mobile/start/{% endblock %}" style="float: left; font-size: 2em;">&#9664;</a>
          <h1>{% block title %}{% endblock %}</h1>
        </header>
      </div>
    </div>

    <div class="row content-row">
      <div class="cell content-cell">
        <div class="content {% block class %}default{% endblock%}">
          {% block content %}
          {% endblock %}
        </div>
        <div class="push"></div> <!-- For sticky footer -->
      </div>
    </div>
  </div>

  <footer>
    <div class="left">
      <a href="/mobile/settings/">Settings</a>
    </div>

    <div class="right">
      <a href="/logout/">Sign Out</a>
    </div>

    <div>
      <a href="/mobile/notice/">Notices</a>
    </div>
  </footer>
  {% block script %}
  {% endblock %}
</body>

</html>
