{% extends "mobile/basic.html" %}
<div class="history">

{% block title %}Career History{% endblock %}
{% block content %}
<ul>
  {% for job in jobs %}
    <li>
      <h3>{{ job.start_date | date:"Y" }}-{{ job.end_date | date:"Y" }}</h3>
      <h3>{{job.employer_name}}-{{job.job_title}}</h3>
    </li>
  {% endfor %}
</ul>
{% endblock %}

</div>
