{% load app_tags %}
<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">

  <meta name="viewport" content="width=device-width, user-scalable=no">
  
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  
  <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
</head>

<body class="mobile page-landing">
  <div class='wrapper'>
    <div class="row header-row">
      <div class="cell header-cell">
        <header>
          <h1 class='landing-header'>J&oacute;&ograve;Mah</h1>
          <h5 class='landing-header'> -- We are launching soon.</h5>
        </header>
      </div>
    </div>

    <div class="row content-row">
      <div class="cell header-cell">
        <div class='content'>
          <div class='content-div register'>
            <div>We are launching soon</div>
            <div> Sign up today to get ahead</div>
            <div><a href='/mobile/register/'>Register for free</a></div>
          </div>

          <div class='content-div signin'>
            <div>Already have an account?</div>
            <div><a href='/mobile/signin/?next={{next}}'>Login</a></div>
          </div>

          <div class='content-div whatis'>
            <div><h4>What is J&oacute;&ograve;Mah?<h4></div>
            <div>
              <div>J&oacute;&ograve;Mah is a smarter way to find a job. At J&oacute;&ograve;Mah, we know how hard it is to get noticed by employers.</div>
              <div>We want to help you by placing your name and qualifications in front of the right employer.</div>
              <div>To do this, we first need to know who you are, the skills you have and the kinds of job opportunities you are looking for.</div>
              <div>In this way, our system can easily get you discovered and hired by the right employer when we launch.</div>
            </div>
          </div>

          <div class='content-div blog'>
            <div>Recent Jobs Posted</div>
	    <ul>
              {% for job in jobs %}
                <li>{{job.owner}} hiring {{job.title}} by {{job.end_date}}</li>
              {% endfor %}
	    </ul>
          </div>

        </div>
    </div>
  </div>
  <script>
    var cb = function() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = '//fonts.googleapis.com/css?family=Raleway';
    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
    </script>
    <script>
    var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '/static/css/screen.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script>

</body>

</html>
