{% extends "mobile/basic.html" %}
{% load app_tags %}
{% block class %}page-notice{% endblock %}
{% block title %}Notice Board{% endblock %}
{% block content %}
<ul>
  {% for job in notices %}
    <li>
      <a href="/mobile/apply/{{job.id}}/">
        <img src="//jobs.joomah.com/media/{{job.owner.logo}}" />
        <span><strong>{{job.owner}}</strong> is hiring a {{job.title}}.</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
