{% extends "mobile/basic.html" %}
{% block title %}Quizzes{% endblock %}
{% block content %}
  <div id='personality-quiz'>
    {% if not user.enneagram_results %}
    <form action="/mobile/quiz/" autocomplete="off" method="POST">{% csrf_token %}
      {{ form.as_p }}
      <input type='submit' value='Submit Quiz' />
    </form>
    {% else %}
      <p>You have already submitted your assessment.  Thank you for your participation!  This form will become available again if we improve our quiz, otherwise feel great knowing you helped us and yourself find you a better job.</p>
    {% endif %}
  </div>
{% endblock %}
