{% extends "mobile/basic.html" %}
{% block title %}Search{% endblock %}
{% block content %}
  <form class='search' method='GET' action='/mobile/search/results/'>
    <table>
    {{ form.as_table }}
    </table>
    <input type='submit' value='Search' />
  </form>
{% endblock %}