{% extends "mobile/basic.html" %}
{% load app_tags %}
{% block class %}page-notice{% endblock %}
{% block title %}Search Results{% endblock %}
{% block back %}/mobile/search/{% endblock %}
{% block content %}
<ul>
  {% for job in jobs %}
    <li>
      <a href="/mobile/apply/{{job.id}}/">
        <img height=100 src="//jobs.joomah.com/media/{{job.owner.logo}}" />
        <strong>{{job.owner}}</strong> hiring <a>{{job.title}}</a>.
        {{ job.description }}
        {% if job.deadline %}Qualified applicants to submit applications by {{job.deadline}}.{% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
