{% extends "mobile/basic.html" %}
{% block title %}Settings{% endblock %}
{% block includes %}
{% if initial %}
<!-- Facebook Conversion Code for JooMah Sign Ups -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6016639233541', {'value':'0.01','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6016639233541&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
{% endif %}
{% endblock %}
{% block content %}
  <form class='page-form page-settings' enctype='multipart/form-data' action="/mobile/settings/" method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <p>
    <button id='forgotPassword' href='/mobile/account'>Change Password</button>
    </p>
    <fieldset>
      {% if initial %}<input type="hidden" name="initial" value="yes" />{% endif %}
      <input type="submit" value="Complete" />
    </fieldset>
  </form>
  <script>
    window.onload = function() {
      var el = document.getElementsByTagName("form")[0].getElementsByTagName("p")[0];
      for (var i = 0; i < 5; i++) {
        el.removeChild(el.childNodes[1]);
      }
    }
  </script>
{% endblock %}
