<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">

  <meta name="viewport" content="width=device-width, user-scalable=no">
  
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  
  <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
</head>

<body class="mobile page-form page-signin">

  <div class="wrapper">
    <div class="row header-row">
      <div class="cell header-cell">
        <header>
          <h1>J&oacute;&ograve;Mah</h1>
        </header>
      </div>
    </div>

    <div class="row content-row">
      <div class="cell content-cell">
        <div class="content">
          <form id="signin" action="/authenticate/" method="POST">{% csrf_token %}
            <fieldset class="rounded">
              <input name="username" type="text" placeholder="Email" />
              <input name="password" type="password" placeholder="Password" />
            </fieldset>
            <input name="next" type="hidden" value="{{ next }}" />
            <input type='hidden' value='mobile' name='mobile' />
            <fieldset>
              <input type="submit" value="Sign In" />
            </fieldset>
          </form>
            <p style="margin-top: 3em;">Not yet a member? Joining is easy!</p>
            <h3 class='join' style='margin: 30px auto;' ><a href="/mobile/register/" >Join J&oacute;&ograve;Mah</a></h3>
            <h3><a href="/recover/">Forgot your password?</a></h3>
            <h3>Get the <a href="https://play.google.com/store/apps/details?id=com.joomah.joomah">Android</a>, <a href="https://itunes.apple.com/us/app/joomah/id892241627?ls=1&mt=8">iPhone</a>, or <a href="http://www.windowsphone.com/en-us/store/app/joomah/f8e2638d-fb32-47c5-8ffc-d6d5a1391ae2">Windows Phone</a> apps.</h3>
        </div>
      </div>
    </div>
  </div>
    <script>
    var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '//fonts.googleapis.com/css?family=Raleway';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script>
    <script>
    var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '/static/css/screen.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script>

</body>

</html>
