{% extends "mobile/basic.html" %}
{% block title %}Start{% endblock %}
{% block content %}
  <div class="page-start">
    <div class="profile">
      <img src="{{ MEDIA_URL }}{{ user.profile_photo }}" />            
      <div class="info">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h2>{{ occupation.job_title }}</h2>
        <h2>{{ occupation.employer_name }}</h2>
      </div>
    </div>
    <div class="links">
      <a class="link" href="/mobile/notice">Notice Board</a>
      <a class="link" href="/mobile/search">Search</a>
      <a class="link" href="/mobile/job-history">History</a>
      <a class="link" href="/mobile/education">Education</a>
      <a class="link" href="/mobile/career">Career</a>
      <a class="link" href="/mobile/references">References</a>
      <a class="link" href="/mobile/quiz">Quizzes</a>
      <a class="link" href="/resume">Download CV</a>
    </div>
  </div>
{% if incomplete %}
  <div id='overlay'></div>
  <div id='notification'>
    <div class='title'>Your account profile is incomplete!</div>
    <div class='todos'>Employers cannot see your 
    {% for todo in incomplete %}
      {% if forloop.first and not forloop.last %}
       <span> {{ todo }} </span>
      {% endif %}
      {% if forloop.first and forloop.last %}
        <span> {{ todo }}.</span>
      {% endif %}
      {% if not forloop.first and forloop.last %}
        <span>and {{ todo }}</span>
      {% endif %}
      {% if not forloop.first and not forloop.last %}
        <span>{{ todo }}, </span>
      {% endif %}
    {% endfor %}
    </div>
    <div class='body'>Finish setting up your account <a href="/mobile/settings"/>here</a></div>
    <button type="button" onclick='close_notification()'>Close</div>
  </div>
{% endif %}
{% endblock %}

{% block script %}
{% if incomplete %}
<script>
function close_notification() {
  console.log('closign');
  var overlay = document.getElementById("overlay");
  var notification = document.getElementById("notification");
  overlay.parentNode.removeChild(overlay)
  notification.parentNode.removeChild(notification);
}
</script>
{% endif %}
{% endblock %}
