{% load extras %}
{% load constants %}
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">

    <meta name="viewport" content="width=device-width, user-scalable=no">
  
  <meta name="description" content="JóòMah, fast automated applicant screening made for you. Try for free today">
  
  <title>JóòMah: Applicant Screening Made Easy</title>

  <!--
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  -->
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  
  <link href="/static/css/screen.css" rel="stylesheet" type="text/css">
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>

<body class='desktop'>

<div class="error-header"><div class="title">JóòMah</div></div>

<div class="page-error">
  <div class="error-name">500! Server Error!</div>
  <div class="error-description">Ouch! Sorry, but your request caused an error.  Please return to the home page <a href="/">here</a>, and send us an email at <a href="mailto:info@joomah.com">info@joomah.com</a> if you want to help us resolve this problem.</div>
</div>
</body>
</html>
