{% extends "base.html" %}

{% block header %}
<header>
  <div class="title">About {{ about_user.first_name }}</div>
</header>
{% endblock %}

{% block content %}
{% if about_user.resume %}<iframe style='position: absolute; left: -2000px;' id='lightbox' src='/static/Viewer.js/index.html#/jobseeker-media/{{about_user.resume}}'></iframe>{% endif %}
<div class="content page-about">
  <div class="about-block">
    <div class="blurb">
      <div class="photo"><img src="/jobseeker-media/{{about_user.profile_photo }}" /></div>
      <div class="who">
        <div class="name">{{ about_user.first_name }} {{ about_user.last_name }}</div>
        <div class="position" style='font-weight:bold;margin:5px 0;'>{{ about_user.email }}</div>
	<div class="position">{% if occupation %}{{ occupation }} at {{ employer }}{% else %}Currently looking for job opportunities in {% for ind in user.industries.all|slice:":4" %}{{ind.name}}{% if not forloop.last%},{%endif%}{%empty%} any field{%endfor%}.{% endif %}</div>
        {% if about_user.resume %}<div id="resume">Resume</div>{% endif %}
        <div class="position">{% if user.location %}{{ user.location }}{% endif %}</div>
      </div>
      <div class="resume">
	<a href="/resume/{{ user.id }}/">Download as a CV</a>
      </div>
      <div class="description">
        {{ about_user.abstract }}
      </div>
    </div>
    <div class="list-box education">
      <div>Education</div>
      <ul>
      {% for e in education %}
        <li>
          <div class="ed-title">{{ e.institution_name }}</div>
          <div class="ed-desc">{{ e.qualification }}</div>
          <div class="ed-time">{{ e.start_date }} - {{ e.end_date | default:"Present" }}</div>
        </li>
        {% empty %}
        <li><div class="ed-title">No Education History</div></li>
      {% endfor %}
      </ul>
    </div>
    <div class="list-box career">
      <div>Career</div>
      <ul>
        {% for o in occupation_history %}
        <li>
          <div class="ed-title">{{ o.employer_name }}</div>
          <div class="ed-title">{{ o.job_title }}</div>
          <div class="ed-desc">{{ o.description }}</div>
          <div class="ed-time">{{ o.start_date }} - {{ o.end_date | default:"Present" }}</div>
        </li>
        {% empty %}
        <li><div class="ed-title">No Occupation History</div></li>
        {% endfor %}
      </ul>
    </div>
    <div class="list-box skills">
      <div>Skills</div>
      <ul>
        {% for s in skills %}
        <li>
          <div class="ed-title">{{ s.name }}</div>
        </li>
        {% empty %}
        <li><div class="ed-title">No Skills</div></li>
        {% endfor %}
      </ul>
    </div>
    <div class="list-box languages">
      <div>Languages</div></a>
      <ul>
        {% for l in languages %}
        <li>
        <div class="ed-title">{{ l.name }}</div>
        </li>
        {% empty %}
        <li><div class="ed-title">No Languages</div></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% if about_user.resume %}
<script>
$('#resume').click(function() {
    $("#lightbox").lightbox_me({modalCSS : { width : '80%', height: '80%', top: '10%', left: '10%', margin: '0' } });
}); 
</script>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
