{% extends "base.html" %}

{% block header %}
<header id="about-header">
  <div id="signin"><a style="color:#35A9D0;" href="/"><< Sign In</a></div>
  <div class="title">About J&oacute;&ograve;Mah</div>
  <div id="register"><a style="color:#22B574;" href="/register">Register >></a></div>
</header>
{% endblock %}

{% block content %}
<div id="info" style="padding-top:30px;">
  <div class="colored-header" style="color:#22B574; border-bottom:solid 1px;font-size:20px;font-weight:300;text-align:left;">
    Watch J&oacute;&ograve;Mah in action.
    </div>
  <div class="videos">
  </br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/srQaJTdrgss" frameborder="0" allowfullscreen></iframe>
  </br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kfrQhX4Ruw" frameborder="0" allowfullscreen></iframe>
  </br>
  <div style="margin-top:20px;"><a href="/register" style="background-color:#22B574;padding:10px 20px 10px 20px;color:white;font-weight:600">Click to Register</a> and screen your <span style="font-weight:bold">first 3 jobs for free!</span></div>
  </div>
  <div class="colored-header" style="color:#35A9D0; border-bottom:solid 1px;font-size:20px;font-weight:300;text-align:left;margin-top:20px;">
    The Mission
    </div>
  <div class="jobseeker-blurb" style='text-align:left; color: rgb(42,42,42); line-height: 26px;'>
      We are a team of passionate individuals dedicated to helping your company find the best talent. 
      </br>
      We believe that the right team paired with the right technology can make all the difference. 
      </br>
      We are motivated by one of Africa's biggest challenges, unemployment. We believe that if finding the right candidate was made easier and faster, companies woule be more likely to hire from Africa's bright and qualified talent pool.
      </br>
      We at J&oacute;&ograve;Mah believe that amazing hiring technology does not have to be expensive nor have to break the bank.
      Let us help you start hiring without hassle.
    <!-- <br><br><a style="color:#35A9D0" href='#watch'>Watch JóòMah in action.</a> -->
    <br>
    </span>
  </div>
  <div class="team" style="text-align:left;">
    <div class="titles">Who We Are</div>
    <div class="members">
      <div><span>Kwaku Akoi</span>, Chief Executive Officer</div>
      <div><span>Max Dietz</span>, Chief Technology Officer</div>
      <div><span>Sam Giagtzoglou</span>, JóòMah Mobile</div>
      <div><span>Olayinka Lawal</span>, Lead Strategist</div>
      <div><span>Oladoyin Oladapo</span>, Chief Finance Officer</div>
      <div><span>Justin Raymond</span>, Front End Developer</div>
      <div><span>Assoh Akoi</span>, General Manager</div>
    </div>
  </div>
  <a href="/contact" style="color:#22B574;weight:600;font-size:20px;padding-bottom:20px;">Contact >></a>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
<footer>
  <div style=';' class="footer">
    <style scoped>.bottom-links > div {  } .bottom-links > div a { color: #fff;  }</style>
    <div class="bottom-links">
      <div><a href="/aboutjoomah/">About Us</a></div>
      <div><a href="/contact/">Contact</a></div>
      <div><a href="/pricing/">Pricing</a></div>
      <div><a href="/terms/">Terms</a></div>
      </div>
</footer>
{% endblock %}

