{% extends "base.html" %}
{% block section %}section-tracking{% endblock %}
{% block content %}
      <div class="main-table">
          <table class="table table-striped">
            <thead>
              <tr class="table-header-blue">
                <td><i class="fa fa-list-ol"></i> Job ID</td>
                <td><i class="fa fa-clone"></i> Job Title</td>
                <td><i class="fa fa-calendar"></i> Date Expired</td>
                <td><i class="fa fa-users"></i> Applications</td>
                <td><i class="fa fa-share-alt"></i> Job Links To Share</td>
                <td><i class="fa fa-check"></i> Manage</td>
                <td><i class="fa fa-times"></i> Delete</td>
              </tr>
            </tr>
            <tbody>
            <!--{% for job, received, accepted in jobs %}
              <tr>

                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.end_date }}</td>
                <td>{% if received > 0 %} {{ received }} {% else %} - {% endif %}</td>
                <td class="links-centered">{% if current %}<a href="https://jobs.joomah.com/apply/register/{{job.id}}"><p>https://jobs.joomah.com/apply/register/{{job.id}}</p></a>
                <a href="mailto:job{{job.id}}@joomahjobs.com"><p>job{{job.id}}@joomahjobs.com</p></a>{% else %} - {% endif %}</td>
                <td><span class="manage-link"><a href="/applicant-list/{{job.id}}">Manage</a></td>
                <td><span class="delete-link" data-toggle="modal" data-target="#myModal"><a href="#" id="{{ job.id }}">Delete</a></span></td>
              </tr>
            {% endfor %}-->
            {% if jobs %}
                {% for job, received, accepted in jobs %}
                  <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.title }}</td>
                    <td>{% if job.end_date %} {{ job.end_date }} {% else %} - {% endif %}</td>
                    <td>{% if received > 0 %} {{ received }} {% else %} - {% endif %}</td>
                    <td class="links-centered">{% if current %}<a href="https://jobs.joomah.com/apply/register/{{job.id}}" target="_blank"><p>https://jobs.joomah.com/apply/register/{{job.id}}</p></a><br>
                      <a href="mailto:job{{job.id}}@joomahjobs.com"><p>job{{job.id}}@joomahjobs.com</p></a>{% else %} - {% endif %}</td>
                    <td><span class="manage-link"><a href="/application-manager/{{job.id}}/">View Applicants</a></span></td>
                    <td><span class="delete-link" data-toggle="modal" data-target="#myModal"><a href="#" id="{{job.id}}">Delete Job</a></span></td>
              </tr>
              {% endfor %}
              {% else %}
              <table class="else-table">
                <thead></thead>
                <tbody>
                  <tr><td><div class="else-text">
                    <h3><i class="fa fa-frown-o fa-2x"></i><br>You have not listed any job openings</h3>
                      <a href=""><button class="btn btn-secondary">Create A Job Link</button></a>
                  </div></td></tr>
                  </tbody>
              </table>
            {% endif %}
            </tbody>
          </table>
          </div>
    </div>    
    </div>    
  </section>

<section>
<!-- Delete Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="delete-job-modal-title">Are your sure you want to delete {{ job.title }}?</h2>
      </div>
      <div class="modal-body">
        <p>Deleting the job listing will delete all of its applicant data</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
        <button type="button" class="btn btn-success" id="close-job">YES</button>
      </div>
    </div>
  </div>
</div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
  });


    $(document).ready(function() {
      $("#close-job").click(function(){
        $.post("/application-manager/" + {{job.id}} + "/close/"
        ).success(function(){
          //alert("Closed Job");
          var hostAddress= top.location.host.toString();        
          window.location = "http://"+hostAddress+"/start";
       }).error(function(e){
          alert(e);
          var hostAddress= top.location.host.toString();        
          window.location = "http://"+hostAddress+"/start";
       });
    });
  });
  </script>
{% endblock %}