{% load extras %}
{% load constants %}
<!DOCTYPE html>
<html>
	<head>
    <meta http-equi="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="JooMah's free online hiring software makes it very easy for you to screen and track the right candidates. Our intelligent applicant tracking system takes the guess work out of finding the right people for the right jobs.">
    <meta content="Free Online Recruitment Software: Hiring, Recruiting, Applicant Tracking" property="og:title">
    <title>JooMah | Free Online Recruitment Software</title>
		<link rel="stylesheet" type="text/css" href="/static/css/screen.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="/static/css/chosen.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/chosen.jquery.min.js"></script>
    <script src="/static/js/jquery.lightbox_me.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Raleway:400,700' type='text/css'>
    
    <!--<script type="text/javascript" src="static/html5shiv.min.js"></script>-->
    <!-- Start of joomah Zendesk widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","joomah.zendesk.com");/*]]>*/</script>
  <!-- End of joomah Zendesk Widget script -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block includes %}{% endblock %}  
	</head>

	<body class="desktop">
    <div class="wrapper">
      {% block sidebar %}
	<section id="nav">
		<div class="row">
			<div class="col-sm-2">
        <div class="icon-bar" id="{% block section %}section-generic{% endblock %}">
          <p id="joomahlogo"><span class="brand-name">JooMah </span><span class="product-name"> ATS</span></p>
  				<a class="nav-start" href="/start/"><i class="fa fa-home"></i><span class="nav-link"> Dashboard</span></a>

          <!-- Waiting on Max for template url -->
  				<a class="nav-newjoblink" href="/create_link/"><i class="fa fa-pencil"></i><span class="nav-link"> New Job Link</span></a> 
  				<a class="nav-tracking" href="/application-manager/"><i class="fa fa-search-plus"></i><span class="nav-link"> Track Applicants</span></a> 
  				<a class="nav-history" href="/history/"><i class="fa fa-history"></i><span class="nav-link"> Archived Jobs</span></a>
  				<a class="nav-settings" href="/settings/"><i class="fa fa-cog"></i><span class="nav-link"> Settings</span></a>
  				<a class="nav-tips" href="/tips/"><i class="fa fa-lightbulb-o"></i><span class="nav-link"> Tips &amp; Guides</span></a> 
  				<a class="nav-contact" href="/contact/"><i class="fa fa-comment"></i><span class="nav-link"> Contact Us</span></a>
  				<div class="nav-bottom-section">
            <p class="with-love">Made with <i class="fa fa-heart"></i> by J&oacute;&ograve;Mah Inc</p>
            <a href="/logout/" class="signout-link"><i class="fa fa-lock"></i><span class="nav-link"> SIGN OUT</span></a>
          </div>
		    </div>
      </div>
      {% endblock %}
      {% block header %}
			<div class="col-sm-10">
        <div class="container">
				    <div class="top-rail">
              <div class="page-info"><p><span class="page-name">{% block title %} {{title}} {% endblock %}</span></p>
                <p><span class="user-icon">Hello <i class="fa fa-smile-o"></i> {{ user.name }}</span></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  <section id="main-content-area">
		<div class="main-area">
      <hr>
      {% block content %}
      {% endblock %}
		</div>		
	</section>
    </div>
    {% block scripts %}
    {% endblock %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48107662-3', 'joomah.com');
    ga('send', 'pageview');
  </script>
	</body>
</html>