{% block header %}
<header>
  <div class="title">JóòMah</div>
</header>
{% endblock %}

{% block content %}
<div class="content page-blog">
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
