{% extends "base.html" %}
{% block includes %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.2/fullcalendar.min.js'></script>
<link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.2/fullcalendar.css' />
<!-- If we want to print the calendar! <link rel="stylesheet" href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.2/fullcalendar.print.css' />-->
<style>
    #wrap {
        position: relative;
        top: 90px;
        margin: 0 auto;
        overflow: auto;
        width: 1200px;
    }
    .fc-view {
        overflow: visible;
    }
    #help-button {
	color: white;
        font-size: 1.5em;
	padding: 5px;
	text-align: center;
        background-color: #3366CC;
	border-radius: 10px;
	font-weight: bold;
    }
    #help-button:hover {
	opacity: 0.9;
	cursor: pointer;
    }
    #help-tips {
        display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	text-align: center;
	padding: 10%;
	background-color: white;
	border-radius: 10px;
    }
    #help-tips ol {
        list-style-type: decimal;
    }
    #help-tips ol li {
	margin: 10px;
	text-align: left;
	font-size: 1.5em;
    }
    #external-events, #remove-events, #help-me {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #fff;
        text-align: left;
        margin-bottom: 10px;
        height: 7em;
    }
    #external-events h4, #remove-events h4, #help-me h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
        text-align: center;
    }
        
    .external-event { /* try to mimick the look of a real event */
        margin: 10px 0;
        padding: 2px 4px;
        background: #3366CC;
        color: #fff;
        font-size: .85em;
        cursor: pointer;
    }
        
    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }
        
    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        max-width: 900px;
        min-width: 80%;
        background: #fff;
        padding: 25px;
        border: 1px solid #ccc;
    }
    th.fc-day-header {
        background-color: #007F8D;
	color: white;
	padding: 20px 0px;
	font-size: 1.3em;
    }
.ui-draggable.ui-draggable-handle {
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    font-size: 1.1em;
    background-color: #1abc9c;
    border: #4C0CE8;
}
.fc-event-title {
    display: none;
}
.fc-event {
    padding: 5px 0px;
    background-color: #1abc9c;
    border: #4C0CE8;
    text-align: center;
    font-size: 1.1em;
}

input[type='submit']{
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    width: 128px;
    font-weight: bold;
    float: right;
    font-size: 1.5em;
    margin-right: 410px;
    cursor: pointer;
}
@font-face {
        font-family: 'icomoon';
        src:url('/static/fonts/trash/trash.eot');
        src:url('/static/fonts/trash/trash.eot') format('embedded-opentype'),
                url('/static/fonts/trash/trash.woff') format('woff'),
                url('/static/fonts/trash/trash.ttf') format('truetype'),
                url('/static/fonts/trash/trash.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
.icon-trash {
    text-align: center;
    font-size: 2em;
}
.icon-trash:before {
        content: "\e603";
}
</style>
{% endblock %}
{% block scripts %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
            }
        }
        return cookieValue;
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      }
    });
    function save() {
        var dateFormat = 'DD/MM/YYYY'
        var events = $("#calendar").fullCalendar('clientEvents');
        var data = []
        for (var i = 0; i < events.length; i++) {
            data.push({ title: 'Interview', start: events[i].start.toJSON(), end: events[i].end.toJSON() });
        }
        $.post('{{ request.path }}', { 'calendar': JSON.stringify(data) }).success(function(){document.location='/application-manager/{{jobid}}';}).error(function(){alert("ERROR");});
        return data;
    }
    $(document).ready(function() {
    
    $('#help-button').click(function() {
        $("#help-tips").show();
	setTimeout(function(){$(document).one('click', function() {
            $("#help-tips").hide();
	})},500);
    });
        /* initialize the external events
        -----------------------------------------------------------------*/
    
        $('#external-events div.external-event').each(function() {
        
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()), // use the element's text as the event title
                allDay: false
            };
            
            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);
            
            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });
            
        });
        var selectedId;
        $('#remove-events').droppable({
            drop: function(event, ui) {
                if (selectedId)
                    $("#calendar").fullCalendar('removeEvents', selectedId);
            }
        });
    
        /* initialize the calendar
        -----------------------------------------------------------------*/
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: {{ calendar | default:"''" | safe }},
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            drop: function(date) { // this function is called when something is dropped
            
                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');
                
                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);
                
                // assign it the date that was reported
                copiedEventObject.start = date.hour(12);
                copiedEventObject.end = moment(date).hour(13); // because we need to create a new object
                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
                $("#calendar").fullCalendar('gotoDate', date);
                $("#calendar").fullCalendar('changeView', 'agendaDay');
            },
            eventMouseover: function(e){
                selectedId = e._id;
            }
        });
        
        
    });

</script>
{% endblock %}
{% block content %}
  <div id='wrap'>
        <div id='external-events'>
            <h4>Drag Me!</h4>
            <div class='external-event'>Interview</div>
        </div>
        <div id='calendar'></div>

        <div id='remove-events'>
            <h4>Remove Me!</h4>
            <div class='icon-trash'></div>
        </div>
	<div id='help-me'>
	    <h4>Help</h4>
	    <div id='help-button'>?</div>
	</div>
	<div style='display: none;' id='help-tips'>
	    <ol>
		<li>Drag the button above and drop it onto the calendar to select the day.</li>
		<li>Move it up or down to schedule the interview to select the time.</li>
		<li>To delete a time slot, click and drop it in the trash can.</li>
		<li>Click Save to confirm the calendar and allow jobseekers to select interview times.</li>
		<li>Contact <a href="mailto:info@joomah.com">info@joomah.com</a> if you have any questions.</li>
	    </ol>
	</div>
        <div style='clear:both'></div>
        <input onclick='save();' type='submit' value='Save' />
        <input style='margin-right:50px;background-color:#c52201;' onclick="document.location='/application-manager/{{ jobid }}';" type='submit' value='Cancel' />
  </div>
{% endblock %}
{% block sidebar %}{% endblock %}
