{% extends "base.html" %}

{% block content %}
      <div class="tip-bar">
        <p><span class="back-button"><a href="/job-list/">&lt;&lt; Back To Job List </a></span> <span class="tip-header">Your Top Ranked Candidates</span></p>
      </div>
 <br>
    <div class="row">
      <div class="container">
  <ul class="nav nav-pills">
    <li class="active recommended-header"><a data-toggle="tab" href="#recommended"><h4>Your Most Qualified Candidates</h4></a></li>
    <li class="remaining-header"><a data-toggle="tab" href="#remaining"><h4>Remaining Candidates</h4></a></li>
  </ul>
  <hr>

<!-- Have Max take a look at this area -->
  <div class="tab-content">
    <div class="recommended tab-pane fade in active">
      {% if applicants %}
        {% for app in applications %}
      <ol>
        <li><a href="/applicant-tracking/{{applicant.id}}"><span>{{app.applicant.get_full_name()}} </span> <span class="view-candidate">View Application</span></a></li>
      </ol>
    </div>
    <div class="remaining tab-pane fade">
      <ol>
        <li><a href="/applicant-tracking/{{applicant.id}}"><span>{{app.applicant.get_full_name()}} </span> <span class="view-candidate">View Application</span></a></li>
      </ol>
    </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
    </div>

    </div>    
  </section>

<script type="text/javascript">
  $.fn.classList = function() {return this.className.split(/\s+/);};
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
        }
      }
      return cookieValue;
    }

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
  });

  var all_applicants = null;
  var contact_applicants = [];
  var contact_applicants_names = [];
  function getApplicants() {
    $.get('/application-manager/{{job.id}}/applicants/').success(function(response){
        all_applicants = response['applicants'];
        displayApplicants(null);
    });
  }
  function getUsers() {
    $.get('/application-manager/{{job.id}}/candidates/').success(function(response){
        all_applicants = response['applicants'];
        displayApplicants(null);
    });
  }
  function displayApplicants(score) {
    $(".recommended li").not(":first").remove();
    $(".recommended").append($("<li>").addClass('tab-pane fade').text('Your Most Qualified Candidates'));
    for (i = 0; i < all_applicants.length; ++i) {
      if (!score || score <= all_applicants[i].rating) {
        addApplicant(all_applicants[i]);
      }
      if (i <= all_applicants.length / 10 && i+1 > all_applicants.length / 10) { 
        $(".emp-list").append($("<li>").addClass('tab-pane fade').text('Remaining Candidates').css('background-color', 'gray'));
        $("li").addClass('top');
      }
    }
  }
  $(function(){
    getApplicants();
    $(".min-rating").on('click', function(e) {
      var id = e.target.getAttribute('id');
      var score = parseInt(id[id.length - 1], 10);
      var $rating = $(e.target).parent('.min-rating');
      for (var i=0; i<6; i++) {
        if (i <= score) {
          $rating.find(':nth-last-child('+(i+1)+')').removeClass('off').addClass('on');
        }
        else {
          $rating.find(':nth-last-child('+(i+1)+')').removeClass('on').addClass('off');
        }
      }
      displayApplicants(score);
    });
  });

</script>  
 {% endblock %}
