{% load extras %}
{% load constants %}
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">

    <meta name="viewport" content="width=device-width, user-scalable=no">
  
  <meta name="description" content="JóòMah, fast automated applicant screening made for you. Try for free today">
  
  <title>JóòMah: Applicant Screening Made Easy</title>

  <!--
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  -->
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  
  <link href="/static/css/screen.css" rel="stylesheet" type="text/css">
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style>
body {
    padding: 5%;
    text-align: center;
}

h1 {
    color: #1C83C2;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid gray;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h2 {
    margin-top: 20px;
    color: #1C83C2;
    font-size: 2em;
    margin-bottom: 50px;
}

ol {
    display: block;
    padding: 0 0 0 26px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}
ol li {
    width: 500px;
    position: relative;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 35px;
}
ol li:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: -26px;
    text-align: center;
    color: #000;
    line-height: 27px;
    
    width: 30px; height: 30px;
    background: #fff;
    font-size: 20px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 2px solid black;
}

a[href] {
    color: white;
    background-color: #008BFF;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
  </style>
  
</head>

<body class='desktop'>
<h1>Welcome to J&oacute;&ograve;Mah</h1>
<h2>Start hiring in 3 easy steps</h2>
<ol>
<li>Post a job opening</li>
<li>Share the job url to start receiving candidate applications</li>
<li>Enter the Dashboard to start screening applicants</li>
</ol>
<a href='/'>Enter</a>
</body>
</html>
