<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
  </head>
  <body style="
  background-color: #e6e6e6;
  font-family: 'Raleway';
  ">
    <div style="
    width: 100%;
    font-size: 2em;
    color: #61bce3;
    height: 2.1em;
    line-height: 2.1em;
    background-color: white;
    padding-left: 30px;
    font-weight: bold;
    ">J&oacute;&ograve;Mah</div>
    <div style="
    background-color: #61bce3;
    width: 100%;
    font-size: 2em;
    height: 2.1em;
    color: white;
    line-height: 2.1em;
    padding-left: 30px;
    ">Your vacancy for {{job.title}} expires in 3 days</div>
    <div style="
    background-color: white;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    ">
      <div style="
      color: ed1c24;
      font-size: 1.2em;
      padding-left: 1em;
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
      ">To extend the job deadline, follow these steps:</div>
      <ol style="
      line-height: 2em;
      ">
        <li>Log in to your www.joomah.com account</li>
        <li>Click on the blue "Dashboard" button</li>
        <li>Click the blue "Manage" link for the job opening</li>
        <li>In the right hand column, choose the number of days by which you would like to extend the deadline</li>
        <li>Click the green "Extend" button to extend the deadline</li>
      </ol>
      <div style="
      width: 30%;
      color: white;
      background-color: #f0494f;
      text-align: center;
      height: 2em;
      line-height: 2em;
      margin: 0 auto;
      font-weight: bold;
      ">
        <a>GO TO DASHBOARD</a>
      </div></div>

      <div style="
      background-color: white;
      padding: 2em;
      text-align: center;
      ">If you need assistance of any kind, reach out to us at
      <br><a href="mailto:info@joomah.com" style="
      text-align: center;
      margin: 0 auto;
      display: block;
      ">info@joomah.com</a>
      </div>


  </body>
</html>
