{% extends "base.html" %}

{% block header %}
<header>
  <div class='title'>Frequently Asked Questions</div>
</header>
{% endblock %}

{% block content %}
<div class='content terms-content'>
<fieldset>
<h2>What is JooMah?</h2>
<p>JooMah is an automated applicant screening platform that helps recruiters better manage job applications and easily identify outstanding candidates who will be a great fit for the job vacancy.</p>
</fieldset>
<fieldset>
<h2>Is JooMah a job portal?</h2>
<p>JooMah is not a job portal. It is software used to automatically screen job applicants. It is still up to you to get candidates to apply by listing your job vacancy on job portals, your company website or social media.</p>
</fieldset>
<fieldset>
<h2>How long is the free trial?</h2>
<p>New sign ups get to screen up to 3 jobs free using JooMah at any time.</p>
<p>Your trial ends after you list your job third job vacancy for screening</p>
</fieldset>
<fieldset>
<h2>Will I be notified when my free trial is over?</h2>
<p>Yes. You will receive an email notifying you your free trial has ended.</p>
</fieldset>
<fieldset>
<h2>How do I get candidates to apply?</h2>
<p>Sign into your <a href="www.joomah.com">www.joomah.com</a> account using your company name and password you created.</p>
<p>Fill out the short job requirements form on the left to generate a job link. When you advertise your job vacancy on job sites, be sure to include the job link so candidate can apply directly into your JooMah account.</p>
</fieldset>
<fieldset>
<h2>How does JooMah work?</h2>
<p>JooMah uses an advanced computer model to filter out weaker applicants and identify the strong applicants for you.  Our system compares each cadidate's strengths and qualifications against your hiring needs to highlight those who best fit what you are looking for.</p>
</fieldset>
<fieldset>
<h2>How much does JooMah cost?</h2>
<p>After your free trial, you can choose out of 3 payment plans to continue using JooMah. The plans are as follows:</p>
<p><strong>Standard - $5 per job</strong> you screen. (Ideal for small and medium sized businesses)</p>
<p><strong>Monthly - $50 per month</strong> for unlimited jobs. (Ideal for large corporations and recruitment agencies)</p>
<p><strong>Quarterly - $135 per quarter</strong> for unlimited jobs. (Ideal for large corporations and recruitment agencies)</p>
<p>You can learn more about pricing and payment by clicking <a href="www.joomah.com/pricing">here</a>
</fieldset>
<fieldset>
<h2>How do I pay to use JooMah?</h2>
<p>You can pay via PayPal or ATM Card</p>
</fieldset>
<fieldset>
<h2>Can I pay in my local currency?</h2>
<p>Yes. Our system carries out the currency conversion for you using the daily interbank exchange rate.</p>
</fieldset>
<fieldset>
<h2>What special services does JooMah offer staffing agencies?</h2>
<p>Staffing agencies who choose the monthly or quarterly plan get to use JooMah to screen as many jobs as they want.</p>
<p>Additionally for a small fee of <strong>$15</strong>, JooMah will migrate the agency's existing CV database into its JooMah account for our systems to automatically carry out candidate screening and recommendation. </p>
</fieldset>
<fieldset>
<h2>How do I contact JooMah?</h2>
<p>You can easily reach us via email at info@joomah.com.</p>
<p>You can reach us by phone at the following numbers:</p>
<p>International: +1-901-942-8008</p>
<p>Ghana: +233-24-352-7333</p>
</fieldset>

<a href='mailto:info@joomah.com'>Do you have a question? Please contact us at info@joomah.com!</a>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
