{% extends "base.html" %}
{% block section %}section-history{% endblock %}
{% block content %}

      
      <div class="main-table">
          <table class="table table-striped">
            <thead>
              <tr class="table-header-red">
                <td><i class="fa fa-list-ol"></i> Job ID</td>
                <td><i class="fa fa-clone"></i> Job Title</td>
                <td><i class="fa fa-calendar"></i> Date Expired</td>
                <td><i class="fa fa-users"></i> Applications</td>
                <td><i class="fa fa-check"></i> Shortlisted</td>
                <td><i class="fa fa-star"></i> Interviewed</td>
                <td><i class="fa fa-bolt"></i> Action</td>
              </tr>
            </thead>
            <tbody>
            <!--{% for job, received, accepted in jobs %}
              <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{% if job.end_date %} {{ job.end_date }} {% else %} - {% endif %}</td>
                <td>{% if received > 0 %} {{ received }} {% else %} - {% endif %}</td>
                <td>{% if shortlisted > 0 %} {{ shortlisted }} {% else %} - {% endif %}</td>
                <td>{% if interviewed > 0 %} {{ interviewed }} {% else %} - {% endif %}</td>
                <td><span class="manage-link" data-toggle="modal" data-target="#myModal"><a href="#" id="{{ job.id }}">Re-open</a></span></td>
              </tr>
              {% endfor %}-->
              {% if jobs %}
                {% for job, received, accepted in jobs %}
                  <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.title }}</td>
                    <td>{% if job.end_date %} {{ job.end_date }} {% else %} - {% endif %}</td>
                    <td>{% if received > 0 %} {{ received }} {% else %} - {% endif %}</td>
                    <td>{% if shortlisted > 0 %} {{ shortlisted }} {% else %} - {% endif %}</td>
                    <td>{% if interviewed > 0 %} {{ interviewed }} {% else %} - {% endif %}</td>
                    <td><span class="delete-link" data-toggle="modal" data-target="#myModal"><a href="#" id="{{job.id}}">Reactivate</a></span></td>
              </tr>
              {% endfor %}
              {% else %}
              <table class="else-table">
                <thead></thead>
                <tbody>
                  <tr><td><div class="else-text">
                    <h3><i class="fa fa-clock-o fa-2x"></i><br><br>This is where you will see the jobs you archive or delete</h3>
                      <!--<a href=""><button class="btn btn-secondary">Create A Job Link</button></a>-->
                      <p>From here, you can easily reactivate any archived or deleted job with just one click</p>
                  </div></td></tr>
                  </tbody>
              </table>
            {% endif %}
            </tbody>
          </table>
          </div>
          
    </div>   
  </section>
  
<section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="reopen-job-modal-title">Are your sure you want to reactivate {{ job.title }}?</h2>
      </div>
      <div class="modal-body">
        <p>Reactivating will enable you to receive applications for this job when you share the job links online</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
        <button type="button" class="btn btn-success reopen" >YES</button>
      </div>
    </div>
  </div>
</div>
  </section>

{% endblock %}

{% block scripts %}
  <script>
{% if not current %}
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
      }
    }
    return cookieValue;
}
{% endif %}

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
  }
});
$(".reopen").click(function(e){
  var listingId = this.id;
    $.post('/jobs/' + listingId + '/reopen/').success(function(){
      document.location = '/application-manager/' + listingId;
    })
    e.preventDefault();

});
</script>

{% endblock %}