{% extends "base.html" %}

{% block content %}
      <div class="container">
      <div class="smiley">
        <span><i class="fa fa-smile-o fa-4x"></i></span>
        <br>
        <p>Here are your job application links for {{ job.title }}</p>
      </div>
      <br>
      <div class="links-group">
      <p><span class="link-type">JOB APPLICATION LINK</span>{% if current %} <a href="https://jobs.joomah.com/apply/register/{{job.id}}"><span class="links">https://jobs.joomah.com/apply/register/10</span></a>{% endif %}</p>
      <br>
      <p><span class="link-type">APPLY BY EMAIL LINK</span>{% if current %} <a href="mailto:job{{job.id}}@joomahjobs.com"><span class="links">job10@joomahjobs.com</span></a>{% endif %}</p>
    </div><br>
      <div id="link-notice">
        <p>To receive job applications directly into this account, include these links in your online job vacancy listings. <br>
          We have added these links to your homepage and the active jobs link in the side bar to the left. We also sent them to your email address!</p>
      </div>
      <br>
    </div>   
    </div> 
  </section>

{% endblock %}