<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Tue Nov 24 2015 23:57:42 GMT+0000 (UTC) -->
<html data-wf-site="5643da000e1de1484e3e4ffd" data-wf-page="5654b7ceb37b918632ee96a0">
<head>
  <meta charset="utf-8">
  <title>Mobile_Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/webflow.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/kwakus-mobile-site.webflow.css">
  <script type="text/javascript" src="{{STATIC_URL}}js/modernizr.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body class="mobile_body">
  <div class="w-section headerlogo">
    <h3 class="headliner5">JóòMah</h3>
  </div>
  <div class="w-section">
    <div>
      <div class="w-container w-hidden-main headliner1">
        <div class="titletext">Everything you need to hire the right person, all the time.</div>
        <div class="w-hidden-tiny headliner2">JooMah is everything you need to hire the right person. Post your job vacancies to multiple job sites with only one click, track, shortlist and contact top prospects directly. All of this for only $5 per job vacancy.</div>
        <div class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny headliner3">JooMah is everything you need to hire the right person.&nbsp;
          <br>Post your job vacancies to multiple job sites with one click, track, shortlist and contact top prospects directly for only $5 per job listing.</div><a href="/register/" class="w-button signupbuttonmobile2">START YOUR 14-DAY FREE TRIAL</a>
        <div><img width="100" src="{{STATIC_URL}}img/flags.png" class="w-hidden-tiny countries">
        </div>
        <div class="pricinginfo"><a class="pricinglink">Pricing starts at just $5 per job listing</a>
        </div>
        <div class="login1"><a class="w-hidden-tiny facebook" href="/mobile/login/">LOGIN</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section">
    <div class="w-hidden-main summaryheadliner">
      <div>
        <div class="countries"><img width="130" src="{{STATIC_URL}}img/flags.png" class="w-hidden-main w-hidden-medium w-hidden-small flags1">
          <div class="w-hidden-main w-hidden-medium w-hidden-small loginlink"><a class="facebook" href="/mobile/login/">LOGIN</a>
          </div>
        </div>
        <div class="w-container summary">
          <div class="summaryheadline">JooMah is online hiring software made for any business regardless of buget or size.</div>
          <div class="firstcirclediv"><img width="120" src="{{STATIC_URL}}img/circle1.png">
            <div class="postjobstext"><strong class="postjobstitle">Post Once. Reach Candidates Everywhere</strong>
            </div>
            <div class="postjobstext1">List your job vacancy on JooMah and we push it out automatically to multiple job portals to reach the best candidates wherever they are.</div>
          </div>
          <div class="secondcirclediv"><img width="120" src="{{STATIC_URL}}img/circle2.png">
            <div class="postjobstext">
              <div class="postjobstitle"><strong>Access The Best Instantly</strong>
              </div>
            </div>
            <div class="postjobstext1">
              <div>JooMah shows you how well each candidate matches
                <br> your hiring requirements.&nbsp;
                <br>This means you do not even have to search through hundreds of resumes to find the best.</div>
            </div>
          </div>
          <div class="thirdcirclediv"><img width="120" src="{{STATIC_URL}}img/circle3.png">
            <div class="postjobstext">
              <div class="postjobstitle"><strong>Manage and Track Candidates</strong>
              </div>
            </div>
            <div class="postjobstext1">
              <div>View your job applicants, track, shortlist and invite
                <br>the best to follow up interviews.</div>
            </div>
          </div>
          <div class="bluebanner1">
            <div>
              <h5>Everything you need to hire for only $5</h5>
            </div><a href="/register/" class="w-button signupbuttonmobile3">START YOUR 14-DAY FREE TRIAL</a>
          </div>
          <div class="customers">
            <div class="customers">Over <strong>215</strong> Businesses Have Screened More Than <strong>3,000</strong> Job Applications With JooMah</div>
          </div>
          <div class="paymentsection">
            <div class="payamount">Only <strong>$5 per job vacancy&nbsp;</strong>
              <br>or&nbsp;
              <br><strong>$50 per month</strong> for unlimited job listings</div>
            <div class="paymentoptions1">
              <div>We accept payments in the following currencies:</div>
              <ul class="w-list-unstyled currencylist">
                <li><strong>USD</strong> - US Dollar</li>
                <li><strong>GHS</strong> - Ghana Cedi</li>
                <li><strong>KES</strong> - Kenyan Shilling</li>
                <li><strong>NGN</strong> - Nigerian Naira</li>
                <li><strong>UGX </strong>- Ugandan Shilling</li>
              </ul>
              <div>Pay using any of the following options:&nbsp;</div>
              <ul class="w-list-unstyled currencylist">
                <li>PayPal</li>
                <li>ATM Card</li>
                <li>M-Pesa</li>
                <li>Beyonic</li>
                <li>Mobile Money</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section w-hidden-main footer">
    <div class="copyright">Contact Us</div>
    <ul class="w-list-unstyled contact-info">
      <li>info@joomah.com</li>
      <li>US:&nbsp;+1-901-942-8008</li>
      <li>GH:&nbsp;+233-24-352-7333</li>
    </ul>
    <div class="footerlinks">
      <ul class="w-list-unstyled">
        <li><a class="facebook" href="https://www.joomah.com/product/">Product Tour</a>
        </li>
        <li><a class="facebook" href="https://www.joomah.com/pricing">Pricing</a>
        </li>
        <li><a class="facebook" href="https://www.joomah.com/aboutjoomah/">About Us</a>
        </li>
        <li><a class="facebook" href="https://www.joomah.com/contact">Contact Us</a>
        </li>
        <li><a class="facebook" href="https://www.joomah.com/press">Press</a>
        </li>
        <li><a class="facebook" href="https://www.facebook.com/joomah.inc/">Like Us On Facebook</a>
        </li>
        <li><a class="facebook" href="https://twitter.com/JoomahHQ">Follow Us On Twitter</a>
        </li>
        <li><a class="facebook" href="https://www.linkedin.com/company/jóòmah">Connect On LinkedIn</a>
        </li>
      </ul><img width="120" src="{{STATIC_URL}}img/logo.png" class="footerlogo">
      <div class="copyright">JooMah, Inc. © 2015</div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
