{% extends "base.html" %}
{% block section %}section-newjoblink{% endblock %}
{% block content %}
       <div class="tip-bar">
        <span class="tip-header">Fill out the form below to generate a unique job link you can use to receive applications online</span></p>
      </div>
      <br>
      <div id="job-posting-form" style="width: 580px; margin: 0 auto;">
        <form class="box" id="jobopening" action="#">
          <div class="form-group">

          <fieldset class="form-group">
            <div class="row">
              <label class="col-sm-2"><strong>Job Title</strong></label>
              <div class="col-sm-10">
                <input name='title' type="text" class="full form-control" id="id_title" />
              </div>
          </div>
            <br>
          <div class="row">
            <label class='quarter col-sm-2'>Languages </label>
            <div class="col-sm-10">{{ form.languages }}</div>
        </div>
            <br>
            <div class="row">
            <label class="col-sm-2">Job Location:</label>
            <div class="col-sm-10">{{ form.location }}</div>
          </div>
          </fieldset>

          <hr>
          <fieldset>
            <div class="row">
            <label class="col-sm-2">Minimum Education</label>
            <div class="col-sm-10">{{ form.min_degree }}</div>
          </div>
          </fieldset>
          
          <hr>
          <fieldset>
            <div class="row">
            <label class="quarter col-sm-2">Industry:</label>
            <div class="col-sm-10">{{ form.industry }}</div>
          </div>
            <br>
            <!--<div class="row">
              <label class="col-sm-6"><strong>Job Role (E.g, Finance, I.T, Sales, etc) </strong></label>
              <div class="col-sm-6">{{form.role}}</div>
          </div>-->
          <br>
            <div class="row">
              <label class="quarter col-sm-6">Minimum Years of Experience Required:</label>
              <div class="col-sm-6">{{ form.experience }}</div>
            </div>
            <br>
            <div class="row">
              <label class="col-sm-2">Required Skills:</label>
              <div class="col-sm-10">{{ form.requirements }}</div>
            </div>
            <br>
            <div class="row">
              <label class="col-sm-2">Commitment:</label>
              <div class="col-sm-10">{{ form.commitment }}</div>
            </div>
            <!--<div class="row">
              <label class="col-sm-2">Minimum Hours:</label>
              <div class="col-sm-10">{{ form.minimum_hours }}</div>
            </div>-->
          </fieldset>
         
         <hr>
          <fieldset>
            <label id="id_body">Brief Description of Responsibilities:</label>
            <textarea name="body" id='description' class="full form-control" rows="3"></textarea>
          </fieldset><br>

          <fieldset>
            <label id="id_end_date">Deadline:</label>
            {{ form.end_date }}
          </fieldset><br>
          <input id='submit-listing' type="submit" value="GENERATE LINK" class="btn btn-primary btn-block" />
        </div>
        </form>
      </div>
    </div>    
  </section>
{% endblock %}

{% block scripts %}
<script>
//$('#can#id_min_degree').chosen({  'width' : '80%', 'placeholder_text_multiple' : 'Education' });
//$('#candidate_search > #id_industry').chosen({  'width' : '80%', 'placeholder_text_multiple' : 'Industry' });
//$('#candidate_search > #id_experience').chosen({  'width' : '80%', 'placeholder_text_multiple' : 'Experience' });
$('#id_min_degree').chosen({  'width' : '80%', 'placeholder_text_multiple' : 'Education' });
$('#id_industry').chosen({  'width' : '80%', 'placeholder_text_multiple' : 'Industry' });
$('#id_experience').chosen({  'width' : '80%', 'placeholder_text_multiple' : 'Experience' });
$('#id_location').chosen({  'width' : '80%', 'placeholder_text_multiple' : 'Experience' });
$('#id_requirements').chosen({ 'width': '60%' });
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
$(function() {
  $("#id_languages").chosen({width:'100%', placeholder_text_multiple : 'Select languages'});
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
  });
  $("#submit-listing").click(function(e){
    formData = $('#jobopening').serialize();
    $.post('/jobopening/', formData).success(function(response){
      $("#jobopening").html("<p>Notice for position of " + $("#id_title").val() + " has been posted successfully.</p>" +
        "<p>Here is the email link for your job vacancy for " + $("#id_title").val() + "</p>" + 
        "<div class='joblink'><h3>job" + response.id + "@joomahjobs.com</h3>" +
        "<p><b>Copy the link and place it on any job site you use for your candidates to apply.</b></p>" +
        "<p>Use this link in place of your email address when asking candidates to send you their CVs.</p>" +
        "</li><li><a class='twitter-share-button' href='https://twitter.com/share' data-url='https://jobs.joomah.com/apply/register/" + response.id + "/' data-text='Apply to be a " + $("#id_title").val() + "' data-count='none'>Tweet</a></li><li><div class='fb-share-button' data-href='https://jobs.joomah.com/apply/register/" + response.id + "/'></div></li></ul>");
      window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src='https://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,'script','twitter-wjs'));
      (function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=301842606666430&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
      $("#next-options").show();
      $("#open-app-manager").attr('href', '/application-manager/' + response.id);
      $("#open-app-manager").text('>> Open Applications Manager for Job ID ' + response.id);
    }).error(function(e){ 
      var json = $.parseJSON(e.responseText);
      var fields = Object.keys(json.errors);
      console.log(json);
      for (f in fields) {
        $('#id_'+fields[f]).parent('fieldset').append("<div class='errorlist'>"+json.errors[fields[f]]+"</div>");
      }
    })
e.preventDefault();
  });
});
  
</script>
{% endblock %}