{% extends "base.html" %}

{% block includes %}
<script type='text/javascript' src='https://js.stripe.com/v2/'></script>
{% endblock %}

{% block header %}
<header id="ps-header" class="payment_submission">
  <div id="ps-back"><a href="/">&lt;&lt;  Back to Account</a></div>
  <div class="ps-title">Payments</div>
  <div id="ps-forward"><a href="/pricing">Pricing &gt;&gt;</a></div>
</header>
{% endblock %}

{% block content %}
<div class="payment_submission ps-content" style="padding-top:30px;">
  <div class="form">
    <div class="ps-info">We accept payments in Cedi or Naira. All Currencies are converted at the daily interbank rate.</div>
    <div class='payment-errors'></div>
    <form id="payment-submit" action="/payment-submission/" method="POST">{% csrf_token %}
      <div class="select-plan form-field-wrapper">Select Plan</div>
        <select name='plan'>
          <option value='0'>Single Posting</option>
          <option value='1'>Monthly Subscription</option>
          <option value='2'>Quarterly Subscription</option>
        </select>
      <div>
        <input class="firstname form-field" placeholder='Name'>
      </div>
      <input class="email form-field form-field-wrapper" name='email' placeholder='Email'>
      <!--<input class="company form-field form-field-wrapper" placeholder='Company'>-->
      <input class="card_number form-field form-field-wrapper" data-stripe='number' placeholder='Card Number'>
      <div class="form-pair-wrapper">
        <input class="expiration_date form-field form-field-wrapper" data-stripe="exp-month" placeholder='Expiration Month'>
        <input class="expiration_date form-field form-field-wrapper" data-stripe="exp-year" placeholder='Expiration Year'>
      </div>
      <div class="form-pair-wrapper">
        <!--<input class="country form-field" placeholder='Country'>-->
        <input class="code form-field" data-stripe='cvc' placeholder='CVC'>
      </div>
      <input type='hidden' value='{{item}}' />
      <input type="submit" value="Submit" id="ps-submit"/>
    </form>
  </div>
</div>
<script>
function stripeResponseHandler(status, response) {
  var $form = $('#payment-submit');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('input[type="submit"]').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};

Stripe.setPublishableKey('pk_live_4KryDfkp3yfI0f4Ou0jnY36y');
$('#payment-submit').submit(function(event) {
  var $form = $(this);
  // prevent repeated clicks
  $form.find('input[type="submit"]').prop('disabled', true);
  Stripe.card.createToken($form, stripeResponseHandler);
  return false;
});
</script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
<footer>
  <div style=';' class="footer">
    <style scoped>.bottom-links > div {  } .bottom-links > div a { color: #fff;  }</style>
    <div class="bottom-links">
      <div><a href="/aboutjoomah/">About Us</a></div>
      <div><a href="/contact/">Contact</a></div>
      <div><a href="/pricing/">Pricing</a></div>
      <div><a href="/terms/">Terms</a></div>
      </div>
</footer>
{% endblock %}

