{% extends "base.html" %}

{% block header %}
<header id="pc-header" class="payment_confirmation">
  <div id="pc-back"><a href="/"><<  Back to Account</a></div>
  <div class="pc-title">Payments</div>
</header>
{% endblock %}

{% block content %}
<div class="payment_confirmation pc-content" style="padding-top:30px;">
  <div class="pc-c-title">Payment Confirmation</div>
  <div>
    <div>Your payment has been received.</div>
    <div>A digital confirmation with your receipt has been emailed to you.</div>
    <div>Click the button below to resume using J&oacute;&ograve;Mah.</div>
    <a id="pc-c-return" href="/"><div>RETURN TO ACCOUNT</div></a>
  </div>
  <div id="pc-c-error">If you made this payment in error, kindly contact <a href="mailto:billing@joomah.com">billing@joomah.com</a> immediately with your company name and receipt number.</div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
<footer>
  <div style=';' class="footer">
    <style scoped>.bottom-links > div {  } .bottom-links > div a { color: #fff;  }</style>
    <div class="bottom-links">
      <div><a href="/aboutjoomah/">About Us</a></div>
      <div><a href="/contact/">Contact</a></div>
      <div><a href="/pricing/">Pricing</a></div>
      <div><a href="/terms/">Terms</a></div>
      </div>
</footer>
{% endblock %}

