<html>
  <head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body style="
  background-color: #e6e6e6;
  font-family: 'Raleway';
  ">
    <div style="
    width: 100%;
    font-size: 2em;
    color: #61bce3;
    height: 2.1em;
    line-height: 2.1em;
    background-color: white;
    padding-left: 30px;
    font-weight: bold;
    ">J&oacute;&ograve;Mah</div>
    <div style="
    background-color: #61bce3;
    width: 100%;
    font-size: 2em;
    height: 2.1em;
    color: white;
    line-height: 2.1em;
    padding-left: 30px;
    ">Vacancy for {{ job.title }} posted successfully!</div>
    <div style="
    background-color: white;
    width: 95%;
    margin: 10px auto;
    ">
      <div style="
      font-size: 1.5em;
      color: #4ec38f;
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid gray;
      width: 90%;
      margin: 0 auto;
      ">Here is your job link for your vacancy for {{ job.title }}</div>
      <div style="
      text-align: center;
      width: 90%; margin: 0 auto; padding: 10px 0;
      ">
        <div style="
        color: #61bce3;
        font-size: 2em;
        ">job{{ job.id }}@joomahjobs.com</div>
        <div style="
        display: inline;
        ">Copy the link and place it on any job site you use for candidates to apply.<br />Use this link in place of your email address when asking candidates to send you their CVs.</div>
      </div>
    </div>
    <div style="
    width: 30%;
    color: white;
    background-color: #4ec38f;
    text-align: center;
    height: 2em;
    line-height: 2em;
    margin: 0 auto;
    font-weight: bold;
    ">
      <a>GO TO DASHBOARD</a>
    </div>
    <div style="
    background-color: white;
    margin: 1em;
    padding: 2em;
    text-align: center;
    ">
      If you need assistance of any kind, reach out to us at <a href="mailto:info@joomah.com">info@joomah.com</a>
    </div>


  </body>
</html>
