{% extends "base.html" %}

{% block header %}
<header id="about-header">
  <div id="signin"><a style="color:#35A9D0;" href="/"><< Sign In</a></div>
  <div class="title">Pricing</div>
  <div id="register"><a style="color:#22B574;" href="/register">Register >></a></div>
</header>
{% endblock %}

{% block content %}
<div id="info" class="page-pricing" style="width:90%;margin-top:80px;background:#ECF0F1;padding:30px 0px 30px 0px;text-align:left">
  <a href="/register"><div class="colored-header"><div>Click Here To Screen Your First 2 Jobs Free</div></div></a>
  <div class="pr-container">
    <div class="pr-col">
      <div class="pr-inner">
        <div class="pr-col-header pr-green">STANDARD</div>
        <div class="pr-col-middle">
          <div class="pr-3x pr-bolder">$5</div> <div class="pr-space pr-125x pr-bolder">Per Job</div>
          <div class="pr-col-descr">Ideal for Small and Medium Scale Businesses</div>
        </div>
        <div class="pr-col-bottom">
          <div> Screen One Job Only</div>
          <div> Access To All Features</div>
          <div>&nbsp;</div> 
        </div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5UX4FUB6XVH38">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        <a href="/payment-submission/?item=0"><div class="pr-paywith pr-green-outline">Pay with ATM Card</div></a>
      </div>
    </div>
    <div class="pr-col">
      <div class="pr-inner">
        <div class="pr-col-header pr-orange">MONTHLY</div>
        <div class="pr-col-middle">
          <div class="pr-3x pr-bolder">$35</div> <div class="pr-space pr-125x pr-bolder">Per Month</div>
          <div class="pr-col-descr">Ideal for Large Businesses and Staffing Agencies</div>
        </div>
        <div class="pr-col-bottom">
          <div> Screen As Many Jobs As You Like</div>
          <div> Integration with Your CV Database*</div>
          <div> Access To All Features</div>
        </div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NZDYXZETRNDPJ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        <a href="/payment-submission/?item=1"><div class="pr-paywith pr-orange-outline">Pay with ATM Card</div></a>
      </div>
      <div class="pr-col-footer">
        <div>$15 one-time fee for optional CV Database Migration</div>
      </div>
    </div>
    <div class="pr-col">
      <div class="pr-inner">
        <div class="pr-col-header pr-blue">QUARTERLY</div>
        <div class="pr-col-middle">
          <div class="pr-3x pr-bolder">$90</div> <div class="pr-space pr-125x pr-bolder">Per Quarter</div>
          <div class="pr-col-descr">Ideal for Large Businesses and Staffing Agencies</div>
        </div>
        <div class="pr-col-bottom">
          <div> Screen As Many Jobs As You Like</div>
          <div>Integration with Your CV Database*</div>
          <div> Access To All Features</div>
        </div>
        <a href="/payment-submission/?item=2"><div class="pr-paywith pr-blue-outline">Pay with ATM Card</div></a>
      </div>
      <div class="pr-col-footer">
        <div>$15 one-time fee for optional CV Database Migration</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}

