<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Nov 23 2015 04:09:14 GMT+0000 (UTC) -->
<html data-wf-site="5643da000e1de1484e3e4ffd" data-wf-page="5650b32f031a1cc052f2bb96">
<head>
  <meta charset="utf-8">
  <title>Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/webflow.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/kwakus-first-site.webflow.css">
  <script type="text/javascript" src="{{STATIC_URL}}js/modernizr.js"></script>
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body class="body">
  <div class="w-row navbar">
    <div class="w-col w-col-7">
      <div class="w-container">
        <h1 class="headerlogo"><a class="wordmark" href="/">JóòMah</a></h1>
      </div>
    </div>
    <div class="w-col w-col-1">
      <div class="w-container">
        <h4 class="navelements"><a class="w-hidden-medium w-hidden-small w-hidden-tiny navelements" href="/pricing">PRICING</a></h4>
      </div>
    </div>
    <div class="w-col w-col-1">
      <div>
        <h4 class="w-hidden-medium w-hidden-small w-hidden-tiny navelements"><a class="navelements" href="/login">LOGIN</a></h4>
      </div>
    </div>
    <div class="w-col w-col-1">
      <div>
        <h4><a class="w-hidden-medium w-hidden-small w-hidden-tiny navelements" href="/aboutjoomah">ABOUT US</a></h4>
      </div>
    </div>
    <div class="w-col w-col-1">
      <div>
        <h4><a class="w-hidden-medium w-hidden-small w-hidden-tiny navelements" href="/contact">CONTACT US</a></h4>
      </div>
    </div>
    <div class="w-col w-col-1">
      <div class="signup"><a href="/register" class="w-button">SIGN UP</a>
      </div>
    </div>
  </div>
  <div class="w-section headliner">
    <div>
      <h1>Hire Smarter In 3 Easy Steps</h1>
      <div class="w-container">
        <p class="productsubheading">JooMah's smart features simplifies recruitment by reducing the cost and time it takes to hire the right person.</p>
      </div>
    </div>
  </div>
  <div class="w-section tabsbar">
    <div data-duration-in="1" data-duration-out="1" data-easing="linear" class="w-tabs">
      <div class="w-tab-menu w-hidden-medium w-hidden-small w-hidden-tiny tabs">
        <a data-w-tab="Tab 1" class="w-tab-link w--current w-inline-block activetab">
          <div><strong>1. POST A JOB</strong>
          </div>
        </a>
        <a id="secondview" data-w-tab="Tab 2" class="w-tab-link w-inline-block activetab">
          <div><strong>2. VIEW &amp; TRACK APPLICANTS</strong>
          </div>
        </a>
        <a data-w-tab="Tab 3" class="w-tab-link w-inline-block activetab">
          <div><strong>3. ACCEPT / REJECT</strong>
          </div>
        </a>
        <a data-w-tab="Tab 4" class="w-tab-link w-inline-block activetab">
          <div>WATCH OUR VIDEOS</div>
        </a>
        <a data-w-tab="Tab 5" class="w-tab-link w-inline-block">
          <div>GOT QUESTIONS?</div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
          <div class="w-hidden-medium w-hidden-small w-hidden-tiny tab1content">
            <div class="w-container step1">
              <div><strong>STEP ONE</strong>
              </div>
            </div>
            <div class="w-container">
              <div class="tabheadline">Post To Multiple Job Portals At Once</div>
            </div>
            <div class="tabsubheading">Source the best candidates from domestic and international job portals with one click</div>
            <div>
              <div class="w-row">
                <div class="w-col w-col-3 emptycolumns"></div>
                <div class="w-col w-col-6">
                  <div class="w-container"><img width="540" src="{{STATIC_URL}}img/jobsites.png" class="jobsites">
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-container emptycolumns"></div>
                </div>
              </div>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <div class="w-container"><img width="400" src="{{STATIC_URL}}img/jobposting.png" class="jobposting">
                  </div>
                </div>
                <div class="w-col w-col-6">
                  <div class="w-container jobpostingtext">
                    <div class="jobpostingheadline1">Enter your job details once and reach candidates everywhere</div>
                  </div>
                  <p class="jobpostingdescription">Make a complete job listing and our system distributes it to multiple job
                    <br>portals, both locally and internationally to reach the best candidates
                    <br>wherever they are.</p>
                  <div class="w-container joblink">
                    <div class="w-row confirm">
                      <div class="w-col w-col-6"><img width="360" src="{{STATIC_URL}}img/joblink.png">
                      </div>
                      <div class="w-col w-col-6 joblinktextblock">
                        <div class="linkheadline">A unique shareable link for each job&nbsp;</div>
                        <p class="jobpostingdescription">Get a job link in seconds and share the link to receive applications from anywhere online. Copy and paste the link into your website's career page or job portal of choice. Candidates can then email their resumes directly to your joomah account or click the weblink to apply.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section id="secondview2" data-w-tab="Tab 2" class="w-tab-pane tab2content">
          <div class="w-container step2">
            <div><strong>STEP TWO</strong>
            </div>
            <div class="divider2">
              <div class="tabheadline2">Easily View And Track Applicants</div>
            </div>
            <div class="w-row viewrow">
              <div class="w-col w-col-6">
                <div><img src="{{STATIC_URL}}img/topcandidates.png">
                </div>
              </div>
              <div class="w-col w-col-6">
                <div>
                  <div class="top10headline">See How Well Each Candidate Matches Your Requirements</div>
                  <p class="top10text">JooMah uses a smart computer algorithm to rank your applicants and shows them to you in order of who best fits your hiring needs.&nbsp;
                    <br>This makes it very easy for you to focus on the very best and contact them directly.</p>
                </div>
              </div>
            </div>
            <div class="w-row nextcolumn">
              <div class="w-col w-col-6">
                <div>
                  <div class="top10headline">Shortlist. Reject. Interview.&nbsp;
                    <br>This is Applicant Tracking Made For You</div>
                  <p class="top10text">JooMah makes it really easy for you to track your applicants. Shortlist those you would like to follow up with, and reject candidate who do not meet your criteria. You can also group very highly qualified candidates into an interview list.
                    <br>Then, use our email templates to easily communicate to candidates at once.&nbsp;
                    <br>This saves you time and hassle tracking applicants.</p>
                </div>
              </div>
              <div class="w-col w-col-6">
                <div><img src="{{STATIC_URL}}img/laptop_1.png">
                </div>
              </div>
            </div>
          </div>
        </section>
        <div data-w-tab="Tab 3" class="w-tab-pane tab3content">
          <div class="w-container">
            <div class="step2">
              <div><strong>STEP THREE</strong>
              </div>
              <div class="tabheadline2">One Click Communication To All Selected Applicants</div>
              <div class="w-row candidaterow">
                <div class="w-col w-col-6">
                  <div><img src="{{STATIC_URL}}img/Screenshot 2015-11-22 00.17.15.png">
                  </div>
                </div>
                <div class="w-col w-col-6">
                  <div>
                    <div class="emailtitle">Use Our Pre-set Email Templates To Notify Candidates You Accept / Reject.</div>
                    <p class="top10text">Contact your top prospects directly with JooMah. With one click, you can email everyone at once, saving you time and hassle emailing each candidate individually.&nbsp;
                      <br>The same method works when rejecting candidates who do not meet your criteria.&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 4" class="w-tab-pane w-hidden-medium tab4content">
          <div class="w-container">
            <div class="vids">
              <div class="tab4headline">See JooMah In Action Below</div>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <div>
                    <div class="w-embed w-iframe">
                      <iframe width="360" height="240" src="https://www.youtube.com/embed/3kfrQhX4Ruw" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div>
                <div class="w-col w-col-6">
                  <div>
                    <div class="w-embed w-iframe">
                      <iframe width="360" height="240" src="https://www.youtube.com/embed/srQaJTdrgss" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 5" class="w-tab-pane tab5content">
          <div class="w-container">
            <div>
              <div class="contactustitle">We love to hear from you</div>
              <div>
                <div class="w-embed w-iframe contactform">
                  <iframe style="width:650px; height:720px; margin:30px;" src="https://docs.google.com/a/joomah.com/forms/d/1Gh4B3ULzOFRMT-jvxjLG_XM_5vA97K5uANZ74EX_jRo/viewform"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="w-section footer">
    <div class="w-row">
      <div class="w-col w-col-2">
        <div class="w-container">
          <div class="footercol1"><img src="{{STATIC_URL}}img/logo.png" class="joomahlogo">
          </div>
        </div>
      </div>
      <div class="w-col w-col-2">
        <div class="w-container">
          <div class="footerdiv2">
            <ul class="w-list-unstyled contact-info">
              <li class="contact-us"><strong>Contact Us</strong>
              </li>
              <li>info@joomah.com</li>
              <li>US:&nbsp;+1-860-759-5611</li>
              <li>GH:&nbsp;+233-24-352-7333</li>
              <li class="copyright">JooMah Inc © 2015</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-col w-col-2">
        <div class="footerlist">
          <ul class="w-list-unstyled">
            <li>Product Tour</li>
            <li>Pricing</li>
            <li>About Us</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="w-col w-col-2">
        <div class="footerlist">
          <ul class="w-list-unstyled">
            <li>Press</li>
            <li>Like Us On Facebook</li>
            <li>Follow Us On Twitter</li>
            <li>Connect With Us On LinkedIn</li>
          </ul>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div>
          <h3 class="fromtheblog">From The Blog</h3>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
