<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="J&oacute;&ograve;Mah, fast automated applicant screening made for you. Try for free today">
  <title>J&oacute;&ograve;Mah: Applicant Screening Made Easy</title>
  <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
</head>

<body class="mobile page-form page-signin">

  <div class="wrapper">
    <div class="row header-row">
      <div class="cell header-cell">
        <header>
          <h1>J&oacute;&ograve;Mah</h1>
        </header>
      </div>
    </div>

    <div class="row content-row">
      <div class="cell content-cell">
        <div class="content">
          <form id="signin" method="POST">{% csrf_token %}
            {{ errors }}
            <fieldset class="rounded">
              <input name="password" type="password" placeholder="Password" />
              <input name="password1" type="password" placeholder="Verify Password" />
            </fieldset>

            <fieldset>
              <input type="submit" value="Change Password" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
