{% extends "base.html" %}  
{% block header %}
<div class="register-header">
  <div>
    <div><a href="/">J&oacute;&ograve;Mah</a></div>
    <a href="/pricing"><div>Pricing >></div></a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="page-register">
  <div class="content">
    <div class="main">
      <div class="main-title">Save Big. Hire The Best</div>
      <div class="main-subtitle">Start your 14-day free trial today.</div>
      <!-- <div class="logo">J&oacute;&ograve;Mah</div> -->
      <div class="form">
        <form id="sign_up" action="/register/" method="POST">{% csrf_token %}
          <div class="form-name form-field-wrapper">
            <div class="form-errors">{{ form.name.errors }}</div>
            {{ form.name }}
          </div>
          <div class="form-email form-field-wrapper">
            <div class="form-errors">{{ form.email.errors }}</div>
            {{ form.email }}
          </div>
          <div class="form-field-wrapper form-category">
            <div class="form-errors">{{ form.category.errors }}</div>
            {{ form.category }}
          </div>
          <div class="form-field-wrapper form-pair-wrapper">
            <div class="form-locations form-pair">
              <div class="form-errors">{{ form.locations.errors }}</div>
              {{ form.locations }}
            </div>
            <div class="form-phone_number form-pair">
              <div class="form-errors">{{ form.phone_number.errors }}</div>
              {{ form.phone_number }}
            </div>
          </div>
          <div class="form-field-wrapper form-industries">
            <div class="form-errors">{{ form.industries.errors }}</div>
            {{ form.industries }}
          </div>
          <div class="form-primary_address form-field-wrapper">
            <div class="form-errors">{{ form.primary_address.errors }}</div>
            {{ form.primary_address }}
          </div>
          <div class="form-field-wrapper form-pair-wrapper">
            <div class="form-password form-pair">
              <div class="form-errors">{{ form.password.errors }}</div>
              {{ form.password }}
            </div>
            <div class="form-password1 form-pair">
              <div class="form-errors">{{ form.password1.errors }}</div>
              {{ form.password1 }}
            </div>
          </div>
          <div class="main-agreement">By clicking "Register" you agree to JooMah's User Agreement and Terms and Conditions</div>
          <input type="submit" value="Register" id="sign-up"/>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
<footer>
  <div class="pull">
    <div class="bottom-links">
      <div><a href="/terms/">Terms and Conditions</a></div>
      <div>Contact us at <a href="mailto:info@joomah.com">info@joomah.com</a></div>
      <!-- <div>Let's connect on <a href="https://www.facebook.com/pages/J%C3%B3%C3%B2Mah/827539130595240">Facebook</a>or <a href="https://twitter.com/JoomahAfrica">Twitter</a></div> -->
    </div>
    <div class="right"> J&oacute;&ograve;Mah Inc. 2014 </div>
  </div>
</footer>
{% endblock %}

{% block scripts %}
<script>
  $("#id_industries").chosen({width : '50%', placeholder_text_multiple: 'Select Industries'});
  $("#id_locations").html("").append($("<option>").val("1").text("Ghana"))
                             .append($("<option>").val("13").text("Nigeria"))
  $("#id_category").chosen({width : '50%', placeholder_text_multiple: 'Select Category'});
  $("#id_locations").chosen({width : '100%', placeholder_text_multiple: 'Select Country'});
</script>
{% endblock %}
