{% block header %}
<header>
  <img class="logo"src="{{MEDIA_URL}}{{user.logo}}"/>
  <h1>{{ user.name }}</h1></div>
</header>
{% endblock %}

{% block content %}
<div class="row content-row">
  <div class="info">
    <div class="col">
      <form class="box" id="findcandidates" action="/searchusers/" method="GET"> 
        <h1>Find candidates:</h1>
     
        <div>
          <label>Industry:</label> 
          <input type="text" name="industry" />
        </div> 
     
        <div>
          <label>Minimum degree qualification:</label> 
          <input class="small" type="text" name="degree" />
        </div> 
     
        <div>
          <label>Minimum work experience:</label>
          <input class="small" type="text" name="experience" />
        </div> 
     
        <div>
          <label>Preferred geographic area:</label>
          <input class="small" type="text" name="area" />
        </div> 
     
        <div><input type="submit" value="Search" /></div>  
      </form>
    </div> 
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}

{% endblock %}
