{% extends "base.html" %}
{% block content %}
<div class='page-search-results'>
  <div class='search-info' style="text-align: center; color: rgb(119,119,138)" id='query'>{{query}}</div>
  <ul class="jobseeker-list">
    <li class="list-header">
      <div>Jobseeker</div>
      <div>Title</div>
      <div>Previously</div>
      <div>Education</div>
      <div>Experience</div>
    </li>
    {% for s in results %}
    <li class='jobseeker' id='{{s.id}}' onclick='document.location="/about?user={{s.id}}"'>
      <div class='name'>{{s.name}}</div>
      <div class='title'>{% if s.title %} {{s.title}} {% else %} ------- {% endif %}</div>
      <div class='last_job'>{% if s.last_job %} {{s.last_job}} {% else %} ------- {% endif %}</div>
      <div class='education'>{% if s.highest_education %} {{s.highest_education}} {% else %} ------- {% endif %}</div>
      <div class='experience'>{% if s.total_experience %} {{s.total_experience}} years {% else %} ------- {% endif %}</div>
    </li>
    {% empty %}
    {% if error %}
    <li class='no-results-error'>{{ error}}</li>
    {% else %}
    <li class='no-results'>No results found</li>
    {% endif %}
    {% endfor %} </ul> </div>
{% endblock %}

{% block sidebar %}
<div class="sidebar-right">
  <ul id="navbar" class="sidebar-search">
    <form id="username_search" method="GET" action="/searchusersname/">{% csrf_token %}
      <input type="text" name='name' placeholder="Enter a user's name" />
      <input id="search-1" type="submit" value="Search" />
    </form>
    <form id="candidate_search" method='GET' action="/search/">{% csrf_token %}
      {{ form.min_degree }}
      {{ form.industry }}
      <select name="experience">
        <option value="0" {% if not form.experience.value %}selected{% endif %}>Experience</option>
        <option value="0" {% if form.experience.value == '0' %}selected{% endif %}>Entry Level</option>
        <option value="1" {% if form.experience.value == '1' %}selected{% endif %}>1-3 years</option>
        <option value="3" {% if form.experience.value == '3' %}selected{% endif %}>3-5 years</option>
        <option value="5" {% if form.experience.value == '5' %}selected{% endif %}>5-10 years</option>
        <option value="10" {% if form.experience.value == '10' %}selected{% endif %}>10+ years</option>
      </select>
      <input id="search-2"type="submit" value="Search" />
    </form>
    <li><a href="/start/">Start</a></li>
    <li><a href="/search/">Search</a></li>
    <li><a href="/history/">History</a></li>
    <li><a href="/settings/">Settings</a></li>
    <li><a href="/logout/">Sign Out</a></li>
  </ul>
</div>
<iframe style='position: absolute; left: -2000px;' width='80%' height='80%' allowfullscreen ></iframe>
{% endblock %}

{% block footer %}
<div id="footer">
  <a href="/terms/">Terms and Conditions</a>
  <a href="/settings/">Settings</a>
  <a href="/logout/">Sign Out</a>
</div>
{% endblock %}

{% block scripts %}
<script>
function addJobseeker(p) {
  $('.jobseeker-list').append("<li class='jobseeker' id='"+p.num+"' onclick='document.location=\"/about?user="+p.id +"\"'>"
      +"<div class='name'>"+p.name+"</div>"
      +"<div class='title'>"+p.title+"</div>"
      +"<div class='last_job'>"+p.last_job+"</div>"
      +"<div class='education'>"+p.ed+"</div>"
      +"<div class='documents'>"+p.docs+"</div>"
    +"</li>"
  );
}
function fillData() {
  $('.no-results').remove();
  for (var i=0; i<99;i++) {
    var p = {'name': 'Arthur Dayne','num': i,'title':'knight','last_job':'butcher','ed':'University','docs':'none'};
    addJobseeker(p);
  }
}
</script>
{% endblock %}
