{% extends "base.html" %}
{% block section %}section-settings{% endblock %}
{% block content %}
        <div class="row">
          <div class="container">
          <div class="col-sm-6">
            <div id="account-settings">
              <div class="account-settings-header">Account Information</div>

              <div class="account-settings-info">
                <div class="row">
                <div class="col-sm-6">
                  <p class="settings-label">Email Address</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <span class="manage-link" data-toggle="modal" data-target="#myModal"><p>loremipsum@somecompany.com</p>
                    <a href="#"><div class="account-cta">CHANGE EMAIL</div></a>
                  </div></span>
                </div>
              </div>
                <hr>

                <div class="row">
                  <div class="col-sm-6">
                  <p class="settings-label">Password</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <p>Password last modified 70 days ago</p>
                    <a href=""><div class="account-cta">CHANGE PASSWORD</div></a>
                  </div>
                </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-sm-6">
                  <p class="settings-label">Phone Number</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <p>1-860-759-5611 (Primary)</p>
                    <a href=""><div class="account-cta">MANAGE PHONE NUMBERS</div></a>
                  </div>
                </div>
              </div>
                <hr>

                <div class="row">
                  <div class="col-sm-6">
                  <p class="settings-label">Company Name</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <p>Akoi Industries</p>
                    <a href=""><div class="account-cta">CHANGE COMPANY NAME</div></a>
                  </div>
                </div>
                </div>

                <hr>
              </div>
            </div>
          </div>
        
          <div class="col-sm-6">
                        <div id="account-settings">
              <div class="preference-settings-header">Preferences</div>

              <div class="account-settings-info">
                <div class="row">
                <div class="col-sm-6">
                  <p class="settings-label">Country</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <p>United States of America</p>
                    <a href=""><div class="preference-cta">CHANGE COUNTRY</div></a>
                  </div>
                </div>
              </div>
                <hr>

                <div class="row">
                  <div class="col-sm-6">
                  <p class="settings-label">Industry</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <p>Information Technology</p>
                    <a href=""><div class="preference-cta">MANAGE INDUSTRIES</div></a>
                  </div>
                </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-sm-6">
                  <p class="settings-label">How often do you hire annually?</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <p>Less than 10 Times</p>
                    <a href=""><div class="preference-cta">CHANGE PREFERENCE</div></a>
                  </div>
                </div>
              </div>
                <hr>

                <div class="row">
                  <div class="col-sm-6">
                  <p class="settings-label">Number of Employees</p>
                </div>
                <div class="col-sm-6">
                  <div class="settings-detail">
                    <p>Less than 25</p>
                    <a href=""><div class="preference-cta">CHANGE PREFERENCE</div></a>
                  </div>
                </div>
                </div>

                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </section>

  <section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="settings-modal-title">Change Email</h2>
      </div>
      <div class="modal-body-settings">
        <p class="settings-label-modal">Your Current Email Address</p>
        <p>loremipsum@somecompany.com</p>
        <br>
        
        <form>
          <p class="settings-label-modal">Enter Your New Email Address</p>
          <input type="email" name="email-change">
          <br><br>
          <p class="settings-label-modal">Confirm Your New Email Address</p>
          <input type="email" name="email-change">
        </form>
        <br>
        <p>A confirmation email will be sent to this address</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-success">SAVE NEW EMAIL</button>
      </div>
    </div>
  </div>
</div>
  </section>

{% endblock %}
