<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Nov 20 2015 00:21:21 GMT+0000 (UTC) -->
<html data-wf-site="5643da000e1de1484e3e4ffd" data-wf-page="5643da000e1de1484e3e4ffe">
<head>
  <meta charset="utf-8">
  <title>Joomah</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/webflow.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/kwakus-first-site.webflow.css">
  <script type="text/javascript" src="{{STATIC_URL}}js/modernizr.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <!-- Start of joomah Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","joomah.zendesk.com");/*]]>*/</script>
  <!-- End of joomah Zendesk Widget script -->
</head>
<body class="body">
  <div class="w-section">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="w-container">
          <h2 class="headerlogo"><strong class="headerlogo">JóòMah</strong></h2>
        </div>
      </div>
      <div class="w-col w-col-2">
        <form id="email-form" name="email-form" data-name="Email Form" method="POST" action="/authenticate/">
        {% csrf_token %}
        <div class="w-container loginform">
          <div class="w-form">
            <input id="name" type="text" placeholder="Company Name" name="username" data-name="Name" required="required" class="w-input">
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-2">
        <div class="w-form">
            <input id="Password" type="password" placeholder="Password" name="password" data-name="Password" required="required" class="w-input loginform">
            <label for="email" class="facebook"><a target="_blank" href="https://www.joomah.com/recover/">Forgot Password?</a>
            </label>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
      <div class="w-col w-col-1">
        <div class="w-form">
          <input type="submit" value="LOG IN" data-wait="Please wait..." class="w-button loginform">
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
      </form>
      <div class="w-col w-col-1 w-hidden-main"></div>
    </div>
  </div>
  <div class="divider">
    <h1 class="headlinetext">Fuck this shit! Nothing's working</h1>
  </div>
  <div class="w-section">
    <div class="w-row signupbanner">
      <div class="w-col w-col-6">
        <div class="w-container demovideo">
          <h5 class="videotext">Watch our demo video below</h5>
          <div class="w-embed w-iframe">
            <iframe width="504" height="284" src="https://www.youtube.com/embed/srQaJTdrgss" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <p class="videodescription">JooMah is everything you need to hire. From posting your job vacancy to multiple
            <br>job portals with one click to tracking applicants, JooMah saves you 95% of your
            <br>time and money hiring.</p>
        </div>
      </div>
      <div class="w-col w-col-6 registerblock">
        <h4 class="signuptitle">Start Hiring For Free Today</h4>
        <div class="w-container signupfrom">
          <div class="w-form signupblock">
            <form id="email-form-4" name="email-form-4" data-name="Email Form 4" action="/register/" method="POST">
              {% csrf_token %}
              <input id="name-2" type="text" placeholder="Company Name" name="name" data-name="Name 2" required="required" class="w-input">
              <input id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required" class="w-input">
              <input id="Phone" type="text" placeholder="Phone Number" name="phone_number" required="required" data-name="Phone" class="w-input">
              <select id="Country" name="locations" data-name="Country" required="required" class="w-select">
                <option value="">Select Country</option>
                <option value="1">Ghana</option>
                <option value="50">Kenya</option>
                <option value="13">Nigeria</option>
                <option value="51">Uganda</option>
              </select>
              <select class="w-select" id="id_category" name="category" placeholder="Category">
                <option value="">Company Type</option>
                <option value="Direct Employer">Direct Employer</option>
                <option value="Referer">Referer</option>
                <option value="NGO">NGO</option>
                <option value="Recruitment Agency">Recruitment Agency</option>
              </select>
              <select class="w-select" id="id_industries" name="industries" placeholder="Industries" style='margin-left: 5px;'>
                <option value="">Industry</option>
                <option value="1">Accounting</option>
                <option value="2">Airlines/Aviation</option>
                <option value="3">Alternative Dispute Resolution</option>
                <option value="4">Alternative Medicine</option>
                <option value="5">Animation</option>
                <option value="6">Apparel &amp; Fashion</option>
                <option value="7">Architecture &amp; Planning</option>
                <option value="8">Arts and Crafts</option>
                <option value="9">Automotive</option>
                <option value="10">Aviation &amp; Aerospace</option>
                <option value="11">Banking</option>
                <option value="12">Biotechnology</option>
                <option value="13">Broadcast Media</option>
                <option value="14">Building Materials</option>
                <option value="15">Business Supplies and Equipment</option>
                <option value="16">Capital Markets</option>
                <option value="17">Chemicals</option>
                <option value="18">Civic &amp; Social Organization</option>
                <option value="19">Civil Engineering</option>
                <option value="20">Commercial Real Estate</option>
                <option value="21">Computer &amp; Network Security</option>
                <option value="22">Computer Games</option>
                <option value="23">Computer Hardware</option>
                <option value="24">Computer Networking</option>
                <option value="25">Computer Software</option>
                <option value="26">Construction</option>
                <option value="27">Consumer Electronics</option>
                <option value="28">Consumer Goods</option>
                <option value="29">Consumer Services</option>
                <option value="30">Cosmetics</option>
                <option value="31">Dairy</option>
                <option value="32">Defense &amp; Space</option>
                <option value="33">Design</option>
                <option value="34">Education Management</option>
                <option value="35">E-Learning</option>
                <option value="36">Electrical/Electronic Manufacturing</option>
                <option value="37">Entertainment</option>
                <option value="38">Environmental Services</option>
                <option value="39">Events Services</option>
                <option value="40">Executive Office</option>
                <option value="41">Facilities Services</option>
                <option value="42">Farming</option>
                <option value="43">Financial Services</option>
                <option value="44">Fine Art</option>
                <option value="45">Fishery</option>
                <option value="46">Food &amp; Beverages</option>
                <option value="47">Food Production</option>
                <option value="48">Fund-Raising</option>
                <option value="49">Furniture</option>
                <option value="50">Gambling &amp; Casinos</option>
                <option value="51">Glass, Ceramics &amp; Concrete</option>
                <option value="52">Government Administration</option>
                <option value="53">Government Relations</option>
                <option value="54">Graphic Design</option>
                <option value="55">Health, Wellness and Fitness</option>
                <option value="56">Higher Education</option>
                <option value="57">Hospital &amp; Health Care</option>
                <option value="58">Hospitality</option>
                <option value="59">Human Resources</option>
                <option value="60">Import and Export</option>
                <option value="61">Individual &amp; Family Services</option>
                <option value="62">Industrial Automation</option>
                <option value="63">Information Services</option>
                <option value="64">Information Technology and Services</option>
                <option value="65">Insurance</option>
                <option value="66">International Affairs</option>
                <option value="67">International Trade and Development</option>
                <option value="68">Internet</option>
                <option value="69">Investment Banking</option>
                <option value="70">Investment Management</option>
                <option value="71">Judiciary</option>
                <option value="72">Law Enforcement</option>
                <option value="73">Law Practice</option>
                <option value="74">Legal Services</option>
                <option value="75">Legislative Office</option>
                <option value="76">Leisure, Travel &amp; Tourism</option>
                <option value="77">Libraries</option>
                <option value="78">Logistics and Supply Chain</option>
                <option value="79">Luxury Goods &amp; Jewelry</option>
                <option value="80">Machinery</option>
                <option value="81">Management Consulting</option>
                <option value="82">Maritime</option>
                <option value="83">Marketing and Advertising</option>
                <option value="84">Market Research</option>
                <option value="85">Mechanical or Industrial Engineering</option>
                <option value="86">Media Production</option>
                <option value="87">Medical Devices</option>
                <option value="88">Medical Practice</option>
                <option value="89">Mental Health Care</option>
                <option value="90">Military</option>
                <option value="91">Mining &amp; Metals</option>
                <option value="92">Motion Pictures and Film</option>
                <option value="93">Museums and Institutions</option>
                <option value="94">Music</option>
                <option value="95">Nanotechnology</option>
                <option value="96">Newspapers</option>
                <option value="97">Nonprofit Organization Management</option>
                <option value="98">Oil &amp; Energy</option>
                <option value="99">Online Media</option>
                <option value="100">Outsourcing/Offshoring</option>
                <option value="101">Package/Freight Delivery</option>
                <option value="102">Packaging and Containers</option>
                <option value="103">Paper &amp; Forest Products</option>
                <option value="104">Performing Arts</option>
                <option value="105">Pharmaceuticals</option>
                <option value="106">Philanthropy</option>
                <option value="107">Photography</option>
                <option value="108">Plastics</option>
                <option value="109">Political Organization</option>
                <option value="110">Primary/Secondary Education</option>
                <option value="111">Printing</option>
                <option value="112">Professional Training &amp; Coaching</option>
                <option value="113">Program Development</option>
                <option value="114">Public Policy</option>
                <option value="115">Public Relations and Communications</option>
                <option value="116">Public Safety</option>
                <option value="117">Publishing</option>
                <option value="118">Railroad Manufacture</option>
                <option value="119">Ranching</option>
                <option value="120">Real Estate</option>
                <option value="121">Recreational Facilities and Services</option>
                <option value="122">Religious Institutions</option>
                <option value="123">Renewables &amp; Environment</option>
                <option value="124">Research</option>
                <option value="125">Restaurants</option>
                <option value="126">Retail</option>
                <option value="127">Security and Investigations</option>
                <option value="128">Semiconductors</option>
                <option value="129">Shipbuilding</option>
                <option value="130">Sporting Goods</option>
                <option value="131">Sports</option>
                <option value="132">Staffing and Recruiting</option>
                <option value="133">Supermarkets</option>
                <option value="134">Telecommunications</option>
                <option value="135">Textiles</option>
                <option value="136">Think Tanks</option>
                <option value="137">Tobacco</option>
                <option value="138">Translation and Localization</option>
                <option value="139">Transportation/Trucking/Railroad</option>
                <option value="140">Utilities</option>
                <option value="141">Venture Capital &amp; Private Equity</option>
                <option value="142">Veterinary</option>
                <option value="143">Warehousing</option>
                <option value="144">Wholesale</option>
                <option value="145">Wine and Spirits</option>
                <option value="146">Wireless</option>
                <option value="147">Writing and Editing</option>
              </select>
              <input id="address" type="text" placeholder="Primary Address" name="primary_address" required="required" data-name="Address" class="w-input">
              <input id="Password-1" type="password" placeholder="Password" name="password" required="required" data-name="Password" class="w-input">
              <input id="Password-2" type="password" placeholder="Verify Password" name="password1" required="required" data-name="Password" class="w-input">
              <input type="submit" value="START YOUR 14-DAY FREE TRIAL" data-wait="Please wait..." class="w-button signupbutton">
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div>
          </div>
        </div>
        <div class="w-container flags"><img src="{{STATIC_URL}}img/flags.png">
        </div>
      </div>
    </div>
  </div>
  <div class="w-section featuresummary">
    <div class="w-container">
      <div class="summaryheading">JooMah is online hiring software made for any business,
        <br>regardless of budget or size.</div>
    </div>
    <div class="w-row circles">
      <div class="w-col w-col-4 leftsummarycol1">
        <div class="w-row">
          <div class="w-col w-col-6 round0"></div>
          <div class="w-col w-col-6"><img width="395" src="{{STATIC_URL}}img/circle1.png" class="circleimage1">
            <h5 class="roundtitle1">Post Once.<br>Reach Candidates Everywhere</h5>
            <p class="roundtext1">List your job vacancy on JooMah and we push it out automatically to multiple job portals to reach the best candidates wherever they are.</p>
          </div>
        </div>
      </div>
      <div class="w-col w-col-1 round1"></div>
      <div class="w-col w-col-2 round2"><img src="{{STATIC_URL}}img/circle2.png" class="circleimage2">
        <h5 class="roundtitle2">Access The Best Instantly&nbsp;</h5>
        <p class="roundtext1">JooMah shows you how well each candidate matches up to you hiring requirements. This means you don't even have to search through hundreds of resumes to find the best.</p>
      </div>
      <div class="w-col w-col-1 round3"></div>
      <div class="w-col w-col-2 w-hidden-main"></div>
      <div class="w-col w-col-2"><img src="{{STATIC_URL}}img/circle3.png" class="circleimage3">
        <h5 class="roundtitle3">Manage and Track Candidate</h5>
        <p class="roundtext1">View your job applicants, track and shortlist the best and invite them to follow up interviews.</p>
      </div>
    </div>
  </div>
  <div class="w-section freetrialbanner">
    <div class="w-container bluewrappercontainer">
      <h2 class="bluewrapper">Everything you need to hire for only $5&nbsp;</h2><a href="https://www.joomah.com/register/" class="w-button bluewrapperbutton">START YOUR 14-DAY FREE TRIAL</a>
    </div>
  </div>
  <div class="w-section demobanner">
    <div class="w-container">
      <div class="watchdemo">Watch This Short Video To See How JooMah Works!</div>
    </div>
    <div class="w-container">
      <div class="w-embed w-iframe demovideo2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3kfrQhX4Ruw" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <div class="w-section postoncebanner">
    <div class="w-row">
      <div class="w-col w-col-6 jobsiteschart">
        <div class="w-container jobdistcontainer"><img src="{{STATIC_URL}}img/jobdistribution.png" class="jobdistribution">
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="w-container jobsitesdescription">
          <h1 class="jobsitesheading">Post Once.<br>Reach Candidates Everywhere</h1>
          <ul class="jobsiteslist">
            <li>Place your job vacancy in front of the right people everywhere</li>
            <li>Post to domestic and international job portals with one click.</li>
            <li>Receive job applications from multiple online sources directly into your JooMah account.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section candidatesbanner">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="w-container candidatetexts">
          <h1 class="candidatebnnertitle">The Best Candidates At Your Fingertips</h1>
          <ul class="candidatesbannerlist">
            <li class="candidatechecklist">View your applicant list in order of who is most qualified.</li>
            <li class="candidatechecklist">See how well each candidate matches your requirements</li>
            <li class="candidatechecklist">Contact top prospects directly</li>
          </ul>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="w-container candidates-image"><img src="{{STATIC_URL}}img/bestcandidates-min.png">
        </div>
      </div>
    </div>
  </div>
  <div class="w-section greenbanner">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="w-container"><img src="{{STATIC_URL}}img/laptop.png" class="laptop">
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="w-container greentext">
          <h1>Shortlist, Track and Manage The Best</h1>
          <ul class="greenchecklist">
            <li>Shortlist your most qualified applicants with a click.</li>
            <li>Automatic acceptance / rejection emails to applicants.</li>
            <li>Invite applicants to interview and take down notes.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section bluebanner">
    <div class="w-row">
      <div class="w-col w-col-2">
        <div class="_5bucks">
          <div>Only</div>
          <h1 class="fivedollars">$5</h1>
          <div class="fivertext">Per Job Vacancy</div>
        </div>
      </div>
      <div class="w-col w-col-8">
        <div class="dividers">
          <div class="paymentoptions">Pay using any of the following options:&nbsp;&nbsp;PayPal&nbsp;&nbsp;ATM Card&nbsp;&nbsp;M-Pesa&nbsp;&nbsp;&nbsp;Beyonic&nbsp;&nbsp;Mobile Money</div>
          <div class="currencynote">We accept payments in any of the following currencies:</div>
          <div class="w-row currencies">
            <div class="w-col w-col-2 usd">
              <h1 class="dollars">USD</h1>
              <div class="usdollars">U.S Dollar</div>
            </div>
            <div class="w-col w-col-2 ghs">
              <h1 class="cedi">GHS</h1>
              <div class="ghanacedi">Ghana Cedi</div>
            </div>
            <div class="w-col w-col-2 ksh">
              <h1>KSH</h1>
              <div class="kenyanshillings">Kenyan Shilling</div>
            </div>
            <div class="w-col w-col-2 ngn">
              <h1>NGN</h1>
              <div class="naira">Nigerian Naira</div>
            </div>
            <div class="w-col w-col-2 ugx">
              <h1>UGX</h1>
              <div class="ugandanshilling">Ugandan Shilling</div>
            </div>
            <div class="w-col w-col-2 ignore"></div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-2">
        <div class="w-container _50bucks">
          <div>Or</div>
          <h1 class="fifty">$50</h1>
          <div class="monthly-plan">Per Month for Unlimited Access</div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section whitebanner">
    <div class="w-container traction">
      <div>Over <strong>215</strong> Businesses Have Screened More Than <strong>3,000</strong> Job Applications With JooMah</div><a href="/register/" class="w-button freetrial">TRY FOR FREE</a>
    </div>
  </div>
  <footer class="w-section footer">
    <div class="w-row">
      <div class="w-col w-col-2 footercol1"><img width="102" src="{{STATIC_URL}}img/logo.png" class="joomahlogo">
      </div>
      <div class="w-col w-col-2">
        <div class="footerdiv2">
          <ul class="w-list-unstyled contact-info">
            <li class="contact-us"><strong>Contact Us</strong>
            </li>
            <li>info@joomah.com</li>
            <li>US:&nbsp;+1-901-942-8008</li>
            <li>GH: +233-24-352-7333</li>
            <li class="copyright">JooMah, Inc. © 2015</li>
          </ul>
        </div>
      </div>
      <div class="w-col w-col-2">
        <ul class="w-list-unstyled footerlist">
          <li><a class="facebook" href="https://www.joomah.com/product/">Product Tour</a></li>
          <li><a class="facebook" href="https://www.joomah.com/pricing/">Pricing</a></li>
          <li><a class="facebook" href="https://www.joomah.com/aboutjoomah/">About Us</a></li>
          <li><a class="facebook" href="https://www.joomah.com/contact/">Contact Us</a></li>
        </ul>
      </div>
      <div class="w-col w-col-2">
        <div class="footerdiv3">
          <div class="footerlist">
            <ul class="w-list-unstyled press">
              <li><a class="facebook" href="https://www.joomah.com/press/">Press</a></li>
              <li><a class="facebook" href="https://www.facebook.com/joomah.inc/">Like Us On Facebook</a>
              </li>
              <li><a class="facebook" href="https://twitter.com/JoomahHQ">Follow Us On Twitter</a>
              </li>
              <li><a href="https://www.linkedin.com/company/jóòmah" class="facebook">Connect on LinkedIn</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <h3 class="fromtheblog">From The Blog</h3>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48107662-3', 'joomah.com');
    ga('send', 'pageview');
  </script>
  <script>
  if (screen.width <= 800) {
    window.location.pathname = "/mobile/";
  }
  </script>
</body>
</html>
