{% extends "base.html" %}
{% block section %}section-start{% endblock %}
{% block content %}
      <div class="main-table">
          <table class="table table-striped">
            <thead>
              <tr class="table-header">
                <td><i class="fa fa-check"></i> Active Jobs</td>
                <td><i class="fa fa-clone"></i> Applications</td>
                <td><i class="fa fa-calendar"></i> Deadline</td>
                <td><i class="fa fa-share-alt"></i> Job Links To Share</td>
                <td><i class="fa fa-users"></i> Candidates</td>
                <td><i class="fa fa-remove"></i> Delete</td>
              </tr>
            </thead>
            <tbody>
              {% if jobs %}
                {% for job in jobs %}
                  <tr>
                    <td>{{ job.title }}</td>
                    <td>{% if received > 0 %} {{ received }} {% else %} - {% endif %}</td>
                    <td>{% if job.end_date %} {{ job.end_date }} {% else %} - {% endif %}</td>
                    <td class="links-centered">{% if current %}<a href="https://jobs.joomah.com/apply/register/{{job.id}}" target="_blank"><p>https://jobs.joomah.com/apply/register/{{job.id}}</p></a>
                      <a href="mailto:job{{job.id}}@joomahjobs.com"><p>job{{job.id}}@joomahjobs.com</p></a>{% else %} - {% endif %}</td>
                    <td><span class="manage-link"><a href="/application-manager/{{job.id}}/">View Applicants</a></span></td>
                    <td><span class="delete-link" data-toggle="modal" data-target="#myModal"><a href="#" id="{{job.id}}">Delete Job</a></span></td>
                  </tr>
                {% endfor %}
              {% else %}
              <table class="else-table">
                <thead></thead>
                <tbody>
                  <tr><td><div class="else-text">
                    <h3><i class="fa fa-frown-o fa-2x"></i><br>You have not listed any job openings</h3>
                      <a href="/create_link/"><button class="btn btn-secondary">Create A Job Link</button></a>
                  </div></td></tr>
                  </tbody>
              </table>
            {% endif %}
            </tbody>
          </table>
          </div>
        <!--</div>
      </div>-->
        <div class="row">
          <div class="col-sm-6">
          <div class="acc-summary">
            <h4 class="acc-header">ACCOUNT SUMMARY</h4>
            <div class="row">
              
              <!-- Waiting on Max for ctx vars -->
              <div class="col-sm-4 col-xs-4">
                <ul class="num-new-apps">
                  {% if num_new_apps %}
                  <li><h1>{{num_new_apps}}</h1></li>
                  {% else %}
                  <li><h1>0</h1></li>
                  {% endif %}
                  <li>New Applications</li><br>
                </ul>
              </div>
              <div class="col-sm-4 col-xs-4">
                <ul class="active-jobs">
                  {% if jobs_open %}
                  <li><h1>{{jobs_open}}</h1></li>
                  {% else %}
                  <li><h1>0</h1></li>
                  {% endif %}
                  <li>Total Active Jobs</li><br>
                </ul>
              </div>
              <div class="col-sm-4 col-xs-4">
                <ul class="expiring-jobs">
                  {% if num_upcoming_deadlines %}
                  <li><h1>{{num_upcoming_deadlines}}</h1></li>
                  {% else %}
                  <li><h1>0</h1></li>
                  {% endif %}
                  <li>Jobs expiring soon</li><br>
                </ul>
              </div>
          </div>
          {% if num_new_apps or open_jobs or num_upcoming_deadlines %} 
            <a href="/application-manager/" class="btn btn-success btn-block">YOUR ACTIVE JOBS</a>
          {% else %}
            <a href="/create_link/" class="btn btn-secondary btn-block">CREATE YOUR FIRST JOB LINK</a>
          {% endif %}
          </div>
        
        
          <div class="circle-icons">
            <div class="row">
              <div class="col-sm-4 col-xs-4">
                <a href="/create_link/" class="circle-icon-link"><div class="new-job">
                  <!-- Waiting on Max for template url -->
                  <i class="fa fa-pencil fa-2x circle"></i>
                </div><br>
                <p>Create A New Job Link</p><br></a>
              </div>
              <div class="col-sm-4 col-xs-4">
                <a href="/application-manager/" class="circle-icon-link"><div class="new-job">
                  <i class="fa fa-briefcase fa-2x circle"></i>
                </div><br>
                <p>Active Jobs</p><br></a>
              </div>
              <div class="col-sm-4 col-xs-4">
                <a href="/history/" class="circle-icon-link"><div class="new-job">
                  <i class="fa fa-search-plus fa-2x circle"></i>
                </div><br>
                <p>Archived Jobs</p></a>
              </div>
            </div>
          </div>
          </div>

        <!-- Waiting on Max for context variable -->
        <div class="col-sm-6">
          <div class="summary">
            <table class="table">
            <thead>
              <tr><td id="recent-apps">RECENT APPLICATIONS</td></tr>
            </thead>
            <tbody>
              <!--<tr><td class="recents"><a href="" class="view-application">Jon Snow - </a>Information Architect</td></tr>
              <tr><td class="recents"><a href="" class="view-application">Arya Stark - </a>Information Security Analyst II</td></tr>
              <tr><td class="recents"><a href="" class="view-application">Danaerys Targaryen - </a>PC Repair Technician</td></tr>-->
              
            </tbody>
          </table>
          <div class="else-text">
            <h3><i class="fa fa-frown-o fa-2x"></i><br>You have no recent job applications</h3>
            <a href="/tips/"><button class="btn btn-secondary">Start Receiving Applications</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>  

  </section>

  <section>
<!-- Delete Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="delete-job-modal-title">Are your sure you want to delete {{ job.title }}?</h2>
      </div>
      <div class="modal-body">
        <p>Deleting the job listing will delete all of its applicant data</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
        <button type="button" class="btn btn-success" id="close-job">YES</button>
      </div>
    </div>
  </div>
</div>
  </section>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
    $(document).ready(function() {
      $("#close-job").click(function(){
        $.post("/application-manager/" + {{job.id}} + "/close/"
        ).success(function(){
          //alert("Closed Job");
          var hostAddress= top.location.host.toString();        
          window.location = "http://"+hostAddress+"/start";
       }).error(function(e){
          alert(e);
          var hostAddress= top.location.host.toString();        
          window.location = "http://"+hostAddress+"/start";
       });
    });
  });
  </script>

{% endblock %}