{% extends "base.html" %}
{% load app_tags %}
{% load extras %}
{% block content %}
      <div class="tip-bar">
        <p><span class="back-button"><a href="/application-manager/">&lt;&lt; Back To Candidate List </a></span> <span class="tip-header">Give the candidate a rating and then choose to shortlist, pass or reject the application</span></p></div><br>
      <div class="whole-area" style="background-color:#f2f2f2; padding:15px;">
        <ul class="nav nav-tabs tabs">
            <li class="active applicants-header hover-btn selected" id="applicants-tab" data-tab="applicants"><a data-toggle="tab" href="#applicants"><h4>{{applicants|length}} APPLICANTS</h4></a></li>
            <li class="shortlisted-header hover-btn selected" id="shortlist-tab" data-tab="shortlist"><a data-toggle="tab" href="#shortlisted"><h4>{{shortlist|length}} SHORTLISTED</h4></a></li>
            <li class="interview-header hover-btn selected" id="interviews-tab" data-tab="interviews"><a data-toggle="tab" href="#interview"><h4>{{interviews|length}} INTERVIEW LIST</h4></a></li>
        </ul>
        <div class="tab-content">
          <div id="applicants" class="tab-pane fade in active">
            {% for app in applicants %}
            <div class="row">
              <div class="applicant {% if forloop.first %}selected{% else %}hidden{% endif %}" data-uid="{{app.id}}">
              <div class="col-sm-9">
                <div class="person-details">
                  <div class="profile-photo"><i class="fa fa-user fa-3x circle-person"></i></div>
                  <p class="person-name name value">{{app.first_name}} {{app.middle_name}} {{app.last_name}}</p>
                  <div class="contact-info name value">
                    <span><i class="fa fa-envelope-o"></i><a href="mailto:{{app.email}}"> {{app.email}}</a> | <i class="fa fa-phone"></i><a href="tel:{{app.phone_number}}"> {{app.phone_number}}</a></span>
                    <p>{{app.street_address}}</p>
                    <p>{{app.city}}, {{app.state}}, {{app.zipcode}}</p>
                  </div>
                  <p>Work Permit: {% if app.age_workpermit %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Legally permitted to work? {% if app.work_legally %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Felony Conviction: {% if app.felony_conviction %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Applied before? {% if app.last_applied %}<span style="color:#1abc9c">yes | date: {{app.last_applied}}</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <!--<p class="candidate-rank">Candidate Rank: #4 out of 140 - <strong> Highly Qualified</strong></p>--><br>
                  <div class="row tracking">
                    <a href="#" class="col-md-2 back-button" id="prev"> &lt;&lt; <span class="track-control">  PREVIOUS</span></a>
                    <div class="col-md-8 tracking-cta select-action">
                      <!--<form>-->
                        <label class="radio-inline"><input type="radio" name="optradio">ADD TO INTEVIEW LIST</label>
                        <label class="radio-inline"><input type="radio" name="optradio">SHORTLIST</label>
                        <label class="radio-inline"><input type="radio" name="optradio">REJECT</label>
                      <!--</form>-->
                    </div>
                    <a href="#" class="col-md-2 back-button" id="next"> <span class="track-control"> NEXT </span> &gt;&gt; </a>
                  </div>
                </div>

                <div class="skills-section">
                  <div class="skills-section-title">
                    <h4><i class="fa fa-laptop"></i> SKILLS</h4>
                  </div>
                  {% if not app.skills_set.all %}<div class="empty">No skills listed</div>{% endif %}
                  {% for skill in skills %}
                  <ul>
                    <li>{{skill}}</li>
                  </ul>
                  {% endfor %}
                </div>

            <div class="experience-section">
              <div class="skills-section-title"><h4><i class="fa fa-briefcase"></i> RELEVANT WORK EXPERIENCE</h4></div>
              <div class="row experience-details">
                {% if not app.careerevent_set.all %}<div class="empty">No work experience listed</div>{% endif %}
                  {% for work in app.careerevent_set.all %}
                <div class="col-sm-8">
                  <h4><strong>{{work.job_title}} </strong> at <strong>{{work.employer_name}}</strong></h4>
                  <p>SUPERVISOR : {{work.supervisor_name}}</p>
                  <!-- Waiting on Max for Reformatting Advice (per asana request)-->
                  <p>{{work.job_description}}</p>
                </div>
                <div class="col-sm-4 exp-info">
                  <p>{{work.address}}</p>
                  <p>{{work.start_date}} to {{work.end_date}} - <strong>{{work.start_date - work.end_date}}</strong></p>
                  <p><i class="fa fa-phone"></i> Add field to form</p>
                  <p>Contact Employer? {% if work.contact_employer %}<span style="color:#1abc9c">Yes</span>{% else %}<span style="color:red">No</span>{% endif %}</p>
                </div>
                {% endfor %}
                <p><strong>Reason for leaving:</strong> {{work.reason_for_leaving}}</p>
              </div>
              <hr>
            </div>
            <div class="coverletter">
                <details>
                  <summary><i class="fa fa-pencil-square-o"></i> Cover Letter</summary>
                  <p>{{app.abstract|default:"Candidate did not submit a coverletter"}}</p>
                </details>
              </div>
              <br>
              <div class="interview-questions coverletter">
                <details>
                  <summary><i class="fa fa-pencil-square-o"></i> Responses To Application Questions</summary>
                  <ol>
                    <li>
                      <p><strong>Why did you choose this organization to apply for this position?</strong></p>
                      <p>{{app.interview_notes_1}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Why have you chosen this career path?</strong></p>
                      <p>{{app.interview_notes_2}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>How do you feel you can positively impact sales at Brooklyn Industries?</strong></p>
                      <p>{{app.interview_notes_3}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>What do you think is the most important characteristic that a person should possess for this job?</strong></p>
                      <p>{{app.interview_notes_4}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>What is your previous history of meeting targets and deadlines? Explain with examples.</strong></p>
                      <p>{{app.interview_notes_5}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>How flexible are you regarding your work schedule including time frames available, as well as working on holidays and weekends?</strong></p>
                      <p>{{app.interview_notes_6}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Please describe a stressful work situation and how you handled it OR how you would handle a difficult customer service issue?</strong></p>
                      <p>{{app.interview_notes_7}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Where do you see yourself professionally in 1 year?</strong></p>
                      <p>{{app.interview_notes_8}}</p>
                    </li>
                    
                  </ol>
                </details>
              </div>
        </div>
      <div class="col-sm-3">
        <div class="educ-ref-section">
          <a href="" class="btn btn-info btn-block download" id="download"><i class="fa fa-download"></i> Download Application</a>
          <div class="edu-section-top">
            <div class="skills-section-title"><h4><i class="fa fa-calendar"></i> AVAILABILITY</h4></div>
            <div class="education-section">
              <ul>
                <li>Mon: {{app.mon_start}} - {{app.mon_end}}</li>
                <li>Tue: {{app.tues_start}} - {{app.tues_end}}</li>
                <li>Wed: {{app.wed_start}} - {{app.wed_end}}</li>
                <li>Thu: {{app.thurs_start}} - {{app.thurs_end}}</li>
                <li>Fri: {{app.fri_start}} - {{app.fri_end}}</li>
                <li>Sat: {{app.sat_start}} - {{app.sat_end}}</li>
                <li>Sun: {{app.sun_start}} - {{app.sun_end}}</li>
                <li>Total: {{app.weekly_hours}}/wk</li>
              </ul>
          </div>
            <div class="skills-section-title"><h4><i class="fa fa-graduation-cap"></i>  EDUCATION</h4></div>
            <div class="education-section">
              {% if not app.educationevent_set.all %}<div class="empty">No education listed</div>{% endif %}
              {% for edu in app.educationevent_set.all %}
              <ul>
                <li><h4>{{edu.institution_name}}</h4></li>
                <li>{{edu.level | edu}}</li>
                <li>{{edu.qualification}}</li>
                <li>{{edu.start_date}} to {{edu.end_date}}</li>
                <li>{{edu.city}}, {{edu.state}}</li>
                <li>USA</li>
              </ul>
              {% endfor %}
          </div>
          <div class="skills-section-title"><h4><i class="fa fa-user"></i> REFERENCES</h4></div>
            <div class="references-section">
              {% if not app.reference_set.all %}<div class="empty">No referneces listed</div>{% endif %}
              {% for ref in app.reference_set.all %}
              <ul>
                <li>{{ref.name}}</li>
                <li>{{ref.relationship}}, {{ref.length_of_relationship}}</li>
                <li><i class="fa fa-phone"></i> <a href="tel:{{ref.phone_number}}">{{ref.phone_number}}</a></li>
                <li><i class="fa fa-envelope"></i> <a href="mailto:{{ref.email}}">{{ref.email}}</a></li>
                <li>USA</li>
              </ul><hr>
              {% endfor %}
          </div>
        </div>
        </div>
      </div>
     </div>
    </div>
     {% endfor %} <!-- End of main row -->
   </div>


   <!-- Shortlisted Tab -->
    <div id="shortlisted" class="tab-pane fade in">
      <div id="applicants" class="tab-pane fade in active">
            {% for app in applicants %}
            <div class="row">
              <div class="applicant {% if forloop.first %}selected{% else %}hidden{% endif %}" data-uid="{{app.id}}">
              <div class="col-sm-9">
                <div class="person-details">
                  <div class="profile-photo"><i class="fa fa-user fa-3x circle-person"></i></div>
                  <p class="person-name name value">{{app.first_name}} {{app.middle_name}} {{app.last_name}}</p>
                  <div class="contact-info name value">
                    <span><i class="fa fa-envelope-o"></i><a href="mailto:{{app.email}}"> {{app.email}}</a> | <i class="fa fa-phone"></i><a href="tel:{{app.phone_number}}"> {{app.phone_number}}</a></span>
                    <p>{{app.street_address}}</p>
                    <p>{{app.city}}, {{app.state}}, {{app.zipcode}}</p>
                  </div>
                  <p>Work Permit: {% if app.age_workpermit %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Legally permitted to work? {% if app.work_legally %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Felony Conviction: {% if app.felony_conviction %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Applied before? {% if app.last_applied %}<span style="color:#1abc9c">yes | date: {{app.last_applied}}</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <!--<p class="candidate-rank">Candidate Rank: #4 out of 140 - <strong> Highly Qualified</strong></p>--><br>
                  <div class="row tracking">
                    <a href="#" class="col-md-2 back-button"> << <span class="track-control">  PREVIOUS</span></a>
                    <div class="col-md-8 tracking-cta select-action">
                      <!--<form>-->
                        <label class="radio-inline"><input type="radio" name="optradio">SHORTLIST</label>
                        <label class="radio-inline"><input type="radio" name="optradio">PASS</label>
                        <label class="radio-inline"><input type="radio" name="optradio">REJECT</label>
                      <!--</form>-->
                    </div>
                    <a href="#" class="col-md-2 back-button"> <span class="track-control"> NEXT </span> >> </a>
                  </div>
                </div>

                <div class="skills-section">
                  <div class="skills-section-title">
                    <h4><i class="fa fa-laptop"></i> SKILLS</h4>
                  </div>
                  {% if not app.skills_set.all %}<div class="empty">No skills listed</div>{% endif %}
                  {% for skill in skills %}
                  <ul>
                    <li>{{skill}}</li>
                  </ul>
                  {% endfor %}
                </div>

            <div class="experience-section">
              <div class="skills-section-title"><h4><i class="fa fa-briefcase"></i> RELEVANT WORK EXPERIENCE</h4></div>
              <div class="row experience-details">
                {% if not app.careerevent_set.all %}<div class="empty">No work experience listed</div>{% endif %}
                  {% for work in app.careerevent_set.all %}
                <div class="col-sm-8">
                  <h4><strong>{{work.job_titel}} </strong> at <strong>{{work.employer_name}}</strong></h4>
                  <p>SUPERVISOR : {{work.supervisor_name}}</p>
                  <!-- Waiting on Max for Reformatting Advice (per asana request)-->
                  <p>{{work.job_description}}</p>
                </div>
                <div class="col-sm-4 exp-info">
                  <p>{{work.address}}</p>
                  <p>{{work.start_date}} to {{work.end_date}} - {{ work.start-date - work.end_date }}</p>
                  <p><i class="fa fa-phone"></i> Add field to form</p>
                  <p>Contact Employer? {% if work.contact_employer %}<span style="color:#1abc9c">Yes</span>{% else %}<span style="color:red">No</span>{% endif %}</p>
                </div>
                {% endfor %}
                <p><strong>Reason for leaving:</strong> {{work.reason_for_leaving}}</p>
              </div>
              <hr>
            </div>
            <div class="coverletter">
                <details>
                  <summary><i class="fa fa-pencil-square-o"></i> Cover Letter</summary>
                  <p>{{app.abstract|default:"Candidate did not submit a coverletter"}}</p>
                </details>
            </div>
            <br>
              <div class="interview-questions coverletter">
                <details>
                  <summary><i class="fa fa-pencil-square-o"></i> Responses To Application Questions</summary>
                  <ol>
                    <li>
                      <p><strong>Why did you choose this organization to apply for this position?</strong></p>
                      <p>{{app.interview_notes_1}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Why have you chosen this career path?</strong></p>
                      <p>{{app.interview_notes_2}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>How do you feel you can positively impact sales at Brooklyn Industries?</strong></p>
                      <p>{{app.interview_notes_3}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>What do you think is the most important characteristic that a person should possess for this job?</strong></p>
                      <p>{{app.interview_notes_4}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>What is your previous history of meeting targets and deadlines? Explain with examples.</strong></p>
                      <p>{{app.interview_notes_5}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>How flexible are you regarding your work schedule including time frames available, as well as working on holidays and weekends?</strong></p>
                      <p>{{app.interview_notes_6}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Please describe a stressful work situation and how you handled it OR how you would handle a difficult customer service issue?</strong></p>
                      <p>{{app.interview_notes_7}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Where do you see yourself professionally in 1 year?</strong></p>
                      <p>{{app.interview_notes_8}}</p>
                    </li>
                    
                  </ol>
                </details>
              </div>
        </div>
      <div class="col-sm-3">
        <div class="educ-ref-section">
          <a href="#" class="btn btn-info btn-block download">Download Application</a>
          <div class="edu-section-top">
            <div class="skills-section-title"><h4><i class="fa fa-calendar"></i> AVAILABILITY</h4></div>
            <div class="education-section">
              <ul>
                <li>Mon: {{app.mon_start}} - {{app.mon_end}}</li>
                <li>Tue: {{app.tues_start}} - {{app.tues_end}}</li>
                <li>Wed: {{app.wed_start}} - {{app.wed_end}}</li>
                <li>Thu: {{app.thurs_start}} - {{app.thurs_end}}</li>
                <li>Fri: {{app.fri_start}} - {{app.fri_end}}</li>
                <li>Sat: {{app.sat_start}} - {{app.sat_end}}</li>
                <li>Sun: {{app.sun_start}} - {{app.sun_end}}</li>
                <li>Total: {{app.weekly_hours}}/wk</li>
              </ul>
          </div>
            <div class="skills-section-title"><h4><i class="fa fa-graduation-cap"></i>  EDUCATION</h4></div>
            <div class="education-section">
              {% if not app.educationevent_set.all %}<div class="empty">No education listed</div>{% endif %}
              {% for edu in app.educationevent_set.all %}
              <ul>
                <li><h4>{{edu.institution_name}}</h4></li>
                <li>{{edu.level | edu}}</li>
                <li>{{edu.qualification}}</li>
                <li>{{edu.start_date}} to {{edu.end_date}}</li>
                <li>{{edu.city}}, {{edu.state}}</li>
                <li>USA</li>
              </ul>
              {% endfor %}
          </div>
          <div class="skills-section-title"><h4><i class="fa fa-user"></i> REFERENCES</h4></div>
            <div class="references-section">
              {% if not app.reference_set.all %}<div class="empty">No referneces listed</div>{% endif %}
              {% for ref in app.reference_set.all %}
              <ul>
                <li>{{ref.name}}</li>
                <li>{{ref.relationship}}, {{ref.length_of_relationship}}</li>
                <li><i class="fa fa-phone"></i> <a href="tel:{{ref.phone_number}}">{{ref.phone_number}}</a></li>
                <li><i class="fa fa-envelope"></i> <a href="mailto:{{ref.email}}">{{ref.email}}</a></li>
                <li>USA</li>
              </ul><hr>
              {% endfor %}
          </div>
        </div>
        </div>
      </div>
     </div>
    </div>
     {% endfor %} <!-- End of main row -->
   </div>
    </div>




    <!-- Inteview List Tab -->
    <div id="interview" class="tab-pane fade in">
      <div id="shortlisted" class="tab-pane fade in">
      <div id="applicants" class="tab-pane fade in active">
            {% for app in applicants %}
            <div class="row">
              <div class="applicant {% if forloop.first %}selected{% else %}hidden{% endif %}" data-uid="{{app.id}}">
              <div class="col-sm-9">
                <div class="person-details">
                  <div class="profile-photo"><i class="fa fa-user fa-3x circle-person"></i></div>
                  <p class="person-name name value">{{app.first_name}} {{app.middle_name}} {{app.last_name}}</p>
                  <div class="contact-info name value">
                    <span><i class="fa fa-envelope-o"></i><a href="mailto:{{app.email}}"> {{app.email}}</a> | <i class="fa fa-phone"></i><a href="tel:{{app.phone_number}}"> {{app.phone_number}}</a></span>
                    <p>{{app.street_address}}</p>
                    <p>{{app.city}}, {{app.state}}, {{app.zipcode}}</p>
                  </div>
                  <p>Work Permit: {% if app.age_workpermit %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Legally permitted to work? {% if app.work_legally %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Felony Conviction: {% if app.felony_conviction %}<span style="color:#1abc9c">yes</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <p>Applied before? {% if app.last_applied %}<span style="color:#1abc9c">yes | date: {{app.last_applied}}</span>{% else %}<span style="color:red">no</span>{% endif %}</p>
                  <!--<p class="candidate-rank">Candidate Rank: #4 out of 140 - <strong> Highly Qualified</strong></p>--><br>
                  <div class="row tracking">
                    <a href="#" class="col-md-2 back-button"> << <span class="track-control">  PREVIOUS</span></a>
                    <div class="col-md-8 tracking-cta select-action">
                      <!--<form>-->
                        <label class="radio-inline"><input type="radio" name="optradio">SHORTLIST</label>
                        <label class="radio-inline"><input type="radio" name="optradio">PASS</label>
                        <label class="radio-inline"><input type="radio" name="optradio">REJECT</label>
                      <!--</form>-->
                    </div>
                    <a href="#" class="col-md-2 back-button"> <span class="track-control"> NEXT </span> >> </a>
                  </div>
                </div>

                <div class="skills-section">
                  <div class="skills-section-title">
                    <h4><i class="fa fa-laptop"></i> SKILLS</h4>
                  </div>
                  {% if not app.skills_set.all %}<div class="empty">No skills listed</div>{% endif %}
                  {% for skill in skills %}
                  <ul>
                    <li>{{skill}}</li>
                  </ul>
                  {% endfor %}
                </div>

            <div class="experience-section">
              <div class="skills-section-title"><h4><i class="fa fa-briefcase"></i> RELEVANT WORK EXPERIENCE</h4></div>
              <div class="row experience-details">
                {% if not app.careerevent_set.all %}<div class="empty">No work experience listed</div>{% endif %}
                  {% for work in app.careerevent_set.all %}
                <div class="col-sm-8">
                  <h4><strong>{{work.job_titel}} </strong> at <strong>{{work.employer_name}}</strong></h4>
                  <p>SUPERVISOR : {{work.supervisor_name}}</p>
                  <!-- Waiting on Max for Reformatting Advice (per asana request)-->
                  <p>{{work.job_description}}</p>
                </div>
                <div class="col-sm-4 exp-info">
                  <p>{{work.address}}</p>
                  <p>{{work.start_date}} to {{work.end_date}} - {{ work.start-date - work.end_date }}</p>
                  <p><i class="fa fa-phone"></i> Add field to form</p>
                  <p>Contact Employer? {% if work.contact_employer %}<span style="color:#1abc9c">Yes</span>{% else %}<span style="color:red">No</span>{% endif %}</p>
                </div>
                {% endfor %}
                <p><strong>Reason for leaving:</strong> {{work.reason_for_leaving}}</p>
              </div>
              <hr>
            </div>
            <div class="coverletter">
                <details>
                  <summary><i class="fa fa-pencil-square-o"></i> Cover Letter</summary>
                  <p>{{app.abstract|default:"Candidate did not submit a coverletter"}}</p>
                </details>
            </div>
            <br>
              <div class="interview-questions coverletter">
                <details>
                  <summary><i class="fa fa-pencil-square-o"></i> Responses To Application Questions</summary>
                  <ol>
                    <li>
                      <p><strong>Why did you choose this organization to apply for this position?</strong></p>
                      <p>{{app.interview_notes_1}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Why have you chosen this career path?</strong></p>
                      <p>{{app.interview_notes_2}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>How do you feel you can positively impact sales at Brooklyn Industries?</strong></p>
                      <p>{{app.interview_notes_3}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>What do you think is the most important characteristic that a person should possess for this job?</strong></p>
                      <p>{{app.interview_notes_4}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>What is your previous history of meeting targets and deadlines? Explain with examples.</strong></p>
                      <p>{{app.interview_notes_5}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>How flexible are you regarding your work schedule including time frames available, as well as working on holidays and weekends?</strong></p>
                      <p>{{app.interview_notes_6}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Please describe a stressful work situation and how you handled it OR how you would handle a difficult customer service issue?</strong></p>
                      <p>{{app.interview_notes_7}}</p>
                    </li>
                    <br>
                    <li>
                      <p><strong>Where do you see yourself professionally in 1 year?</strong></p>
                      <p>{{app.interview_notes_8}}</p>
                    </li>
                    
                  </ol>
                </details>
              </div>
        </div>
      <div class="col-sm-3">
        <div class="educ-ref-section">
          <a href="#" class="btn btn-info btn-block download">Download Application</a>
          <div class="edu-section-top">
            <div class="skills-section-title"><h4><i class="fa fa-calendar"></i> AVAILABILITY</h4></div>
            <div class="education-section">
              <ul>
                <li>Mon: {{app.mon_start}} - {{app.mon_end}}</li>
                <li>Tue: {{app.tues_start}} - {{app.tues_end}}</li>
                <li>Wed: {{app.wed_start}} - {{app.wed_end}}</li>
                <li>Thu: {{app.thurs_start}} - {{app.thurs_end}}</li>
                <li>Fri: {{app.fri_start}} - {{app.fri_end}}</li>
                <li>Sat: {{app.sat_start}} - {{app.sat_end}}</li>
                <li>Sun: {{app.sun_start}} - {{app.sun_end}}</li>
                <li>Total: {{app.weekly_hours}}/wk</li>
              </ul>
          </div>
            <div class="skills-section-title"><h4><i class="fa fa-graduation-cap"></i>  EDUCATION</h4></div>
            <div class="education-section">
              {% if not app.educationevent_set.all %}<div class="empty">No education listed</div>{% endif %}
              {% for edu in app.educationevent_set.all %}
              <ul>
                <li><h4>{{edu.institution_name}}</h4></li>
                <li>{{edu.level | edu}}</li>
                <li>{{edu.qualification}}</li>
                <li>{{edu.start_date}} to {{edu.end_date}}</li>
                <li>{{edu.city}}, {{edu.state}}</li>
                <li>USA</li>
              </ul>
              {% endfor %}
          </div>
          <div class="skills-section-title"><h4><i class="fa fa-user"></i> REFERENCES</h4></div>
            <div class="references-section">
              {% if not app.reference_set.all %}<div class="empty">No referneces listed</div>{% endif %}
              {% for ref in app.reference_set.all %}
              <ul>
                <li>{{ref.name}}</li>
                <li>{{ref.relationship}}, {{ref.length_of_relationship}}</li>
                <li><i class="fa fa-phone"></i> <a href="tel:{{ref.phone_number}}">{{ref.phone_number}}</a></li>
                <li><i class="fa fa-envelope"></i> <a href="mailto:{{ref.email}}">{{ref.email}}</a></li>
                <li>USA</li>
              </ul><hr>
              {% endfor %}
          </div>
        </div>
        </div>
      </div>
     </div>
    </div>
     {% endfor %} <!-- End of main row -->
   </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var current_applicant = 1;/*applicant indexes start at 1 */
var current_shortlist = 1;
var current_interview = 1;
var total_applicants = {{applicants|length}};
var total_shortlist = {{shortlist|length}};
var total_interviews = {{interviews|length}};
var listing_id = {{listing.id}};

//CSRF token stuff, see django docs for details
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});

function update_totals_view() {
  $('#applicants-tab > div').text(total_applicants + " APPLICANTS");
  $('#shortlist-tab > div').text(total_shortlist + " SHORTLISTED");
  $('#interviews-tab > div').text(total_interviews + " INTERVIEW LIST");
}

$('#next').on('click', function () { 
    if (! $('#applicants').hasClass('hidden')) {
        if (current_applicant < total_applicants) {
          $('#applicants > .applicant:nth-child(' + current_applicant + ')').addClass("hidden").removeClass('selected');
          current_applicant = current_applicant + 1;
          $('#applicants > .applicant:nth-child(' + current_applicant + ')').removeClass("hidden").addClass('selected');
        } 
        console.log(current_applicant);
    }
    if (! $('#shortlist').hasClass('hidden')) {
        if (current_shortlist < total_shortlist) {
          $('#shortlist > .applicant:nth-child(' + current_shortlist + ')').addClass("hidden").removeClass('selected');
          current_shortlist = current_shortlist + 1;
          $('#shortlist > .applicant:nth-child(' + current_shortlist + ')').removeClass("hidden").addClass('selected');
        } 
        console.log(current_shortlist);
    }
    if (! $('#interviews').hasClass('hidden')) {
        if (current_interview < total_interviews) {
          $('#interviews > .applicant:nth-child(' + current_interview + ')').addClass("hidden").removeClass('selected');
          current_interview = current_interview + 1;
          $('#interviews > .applicant:nth-child(' + current_interview + ')').removeClass("hidden").addClass('selected');
        } 
        console.log(current_interview);
    }
});
$('#unreviewed').on('click', function() {
    $('#applicants-tab').click();
});
$('#prev').on('click', function () { 
    if (! $('#applicants').hasClass('hidden')) {
        if (current_applicant > 1) {
          $('#applicants > .applicant:nth-child(' + current_applicant + ')').addClass("hidden").removeClass('selected');
          current_applicant = current_applicant - 1;
          $('#applicants > .applicant:nth-child(' + current_applicant + ')').removeClass("hidden").addClass('selected');
        }
    }
    if (! $('#shortlist').hasClass('hidden')) {
        if (current_shortlist > 1) {
          $('#shortlist > .applicant:nth-child(' + current_shortlist + ')').addClass("hidden").removeClass('selected');
          current_shortlist = current_shortlist - 1;
          $('#shortlist > .applicant:nth-child(' + current_shortlist + ')').removeClass("hidden").addClass('selected');
        } 
    }
    if (! $('#interviews').hasClass('hidden')) {
        if (current_interview > 1) {
          $('#interviews > .applicant:nth-child(' + current_interview + ')').addClass("hidden").removeClass('selected');
          current_interview = current_interview - 1;
          $('#interviews > .applicant:nth-child(' + current_interview + ')').removeClass("hidden").addClass('selected');
        } 
    }
});
$('.tabs .hover-btn').on('click', function (event) { 
    $('.tabs .hover-btn > div').each(function(i,v) {
        $('#' + v.getAttribute('data-tab')).addClass('hidden');
    });
    $('#' + event.target.getAttribute('data-tab')).removeClass('hidden');
    $('.tabs .hover-btn').removeClass('selected');
    $(this).addClass('selected');
});
//$('.chosen-select-action').chosen({'width':'200px', height:'40px'});

$('#save-notes').on('click', function() {
  $.post("/notes/" + listing_id + "/", { 'notes': $("#notes-area").val() });
});

$("#download").on('click', function() {
  var active_tab = $('.tabs .selected').attr('data-tab');
  var selected_id = $('#' + active_tab + '> .selected').attr('data-uid');
  window.open("/resume/" + selected_id + "/", "_blank");
});

/* Moves apps between applicants, shortlist, and interview */
$('.select-action').on('change', function() {
  var destination;
  var active_tab = $('.tabs .selected').attr('data-tab');

  if (this.value == 0) {
    destination = $('#applicants');
    if (active_tab == "applicants" && total_applicants > 0) { total_applicants = total_applicants + 1;}
    if (active_tab == "shortlist" && total_shortlist > 0) { total_applicants = total_applicants + 1;}
    if (active_tab == "interviews" && total_interviews > 0) { total_applicants = total_applicants + 1;}
  } else if (this.value == 1) {
    destination = $('#shortlist');
    if (active_tab == "applicants" && total_applicants > 0) { total_shortlist = total_shortlist + 1;}
    if (active_tab == "shortlist" && total_shortlist > 0) { total_shortlist = total_shortlist + 1;}
    if (active_tab == "interviews" && total_interviews > 0) { total_shortlist = total_shortlist + 1;}
  } else if (this.value == 2) {
    destination = $('#interviews');
    if (active_tab == "applicants" && total_applicants > 0) { total_interviews = total_interviews + 1;}
    if (active_tab == "shortlist" && total_shortlist > 0) { total_interviews = total_interviews + 1;}
    if (active_tab == "interviews" && total_interviews > 0) { total_interviews = total_interviews + 1;}
  } else {
    destination = null;
  }
  console.log(destination);
  console.log(active_tab);
  console.log($('#' + active_tab + ' .selected'));
  if (destination) { destination.children('.selected').removeClass('selected').addClass('hidden'); }
  var selected_id = $('#' + active_tab + '> .selected').attr('data-uid');
  console.log('selected');
  console.log($('#' + active_tab + '> .selected'));
  if (destination) { 
    $('#' + active_tab + '> .selected').detach().appendTo(destination);
  } else {
    $('#' + active_tab + '> .selected').detach();
  }
  if (this.value == 0) {
    $.post("/applicants/" + listing_id + "/", { on_applicants : [selected_id] });
  } else if (this.value == 1) { /* send post request moving app to shortlist */
    console.log(selected_id);
    $.post("/shortlist/" + listing_id + "/", { on_shortlist : [selected_id] });
  } else if (this.value == 2) {
    $.post("/interviews/" + listing_id + "/", { on_interview: [selected_id] });
  } else if (this.value == 3) {
    $.post("/passed/" + listing_id + "/", { on_passed: [selected_id] });
  }
  if (active_tab == "applicants" && total_applicants > 0) {
    current_applicant = current_applicant == total_applicants ? current_applicant - 1 : current_applicant + 1;
    $('#' + active_tab + ' > .applicant:nth-child(' + current_applicant + ')').removeClass('hidden').addClass('selected');
    total_applicants = total_applicants - 1;
  }
  if (active_tab == "shortlist" && total_shortlist > 0) {
    current_shortlist = current_shortlist == total_shortlist ? current_shortlist - 1 : current_shortlist + 1;
    $('#' + active_tab + ' > .applicant:nth-child(' + current_shortlist + ')').removeClass('hidden').addClass('selected');
    total_shortlist = total_shortlist - 1;
  }
  if (active_tab == "interviews" && total_interviews > 0) {
    current_interview = current_interview == total_interviews ? current_interview - 1 : current_interview + 1;
    $('#' + active_tab + ' > .applicant:nth-child(' + current_interview + ')').removeClass('hidden').addClass('selected');
    total_interviews = total_interviews - 1;
  }
  $('select option[value="-1"]').attr("selected",true);
  update_totals_view();
});

var rejection_message = 'Dear FIRST_NAME,<br/><br/>'
                      + 'We appreciate that you took the time to apply for the position of {{ listing.job_title }} with our company. We received applications from many people. After reviewing your submitted application materials, we have decided that we will not offer you an interview.<br/>'
                      + 'We appreciate that you are interested in our company. Please do apply again in the future should you see a job posting for which you qualify.<br/>'
                      + 'Again, thank you for applying. We wish you all the best.<br/>'
                      + 'Regards,<br/>'
                      + 'The Brooklyn Industries Team.';

var interview_message = 'Thank you for your application for {{listing.job_title}}. We were really impressed with your background and would like to invite you to an interview (at our office / store)  to tell you more about the role and to get to know you a little better.<br/><br/>'
 + 'Please let us know which of the following times best suit you:<br/><br/>'
 + 'Regards,<br/>'
 + 'The Brooklyn Industries Team';


$('#contact .hover-btn').on('click', function(event) {
  $('body').append("<div id='contact-modal'>"
                      +"<input type='radio' name='message_type' value='reject' id='rejectMsg'>Reject"
                      +"<input type='radio' name='message_type' value='interview' id='interviewMsg' checked='checked'>Interview<br/>"
                      +"<textarea class='contact-subject' placeholder='Subject'></textarea>"
                      +"<textarea class='contact-content'>" + interview_message + "</textarea>"
                      +"<input id='contact-submit' type='submit' value='Send'/>"
                      +"<input id='contact-cancel' type='button' value='x'style='height:35px;width:35px;' />"
                      +"</div>");
  $("#rejectMsg").on('click', function(){
    $("textarea.contact-content").val(rejection_message.replace("FIRST_NAME", $(".selected .name").text().split(" ")[0]));
  });
  $("#interviewMsg").on('click', function(){
    $("textarea.contact-content").val(interview_message);
  });
  $("#contact-cancel").on('click', function(){
    $("#contact-modal").remove();
  });
  $("#contact-submit").on('click', function(){
    $.post("/application-manager/contact/", { 'users[]': [$($(".selected")[1]).attr('data-uid')], 'subject': $(".contact-subject").val(), 'message': $(".contact-content").val() }).success(function(){alert("Successfully sent message!")}).error(function(){alert("You must wait before sending more messages!")});
    $('#contact-modal').remove();
  });
});
  </script>
{% endblock %}