<html>
  <head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body style="
  background-color: #e6e6e6;
  font-family: 'Raleway';
  ">
    <div style="
    width: 100%;
    font-size: 2em;
    color: #61bce3;
    height: 2.1em;
    line-height: 2.1em;
    background-color: white;
    padding-left: 30px;
    font-weight: bold;
    ">J&oacute;&ograve;Mah</div>
    <div style="
    background-color: #61bce3;
    width: 100%;
    font-size: 2em;
    height: 2.1em;
    color: white;
    line-height: 2.1em;
    padding-left: 30px;
    ">{{ employer.name }},  your weekly summary</div>
    <div style="
    background-color: white;
    width: 95%;
    margin: 10px auto;
    ">
      <div style="
      font-size: 1.5em;
      color: #61bce3;
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid gray;
      width: 90%;
      margin: 0 auto;
      ">Here are your activity stats for last week</div>
      <div style="
      text-align: center;
      border-bottom: 1px solid gray;
      width: 90%;
      margin: 0 auto;
      padding: 10px 0;
      ">
        <div style="
        display: inline;
        color: #61bce3;
        font-size: 2em;
        ">{{num_applicants}}</div>
        <div style="
        display: inline;
        ">applicants have submitted job applications to your job vacancies</div>
      </div>
      <div style="
      text-align: center;
      width: 90%; margin: 0 auto; padding: 10px 0;
      ">
        <div style="
        display: inline;
        color: #61bce3;
        font-size: 2em;
        ">{{num_vacancies}}</div>
        <div style="
        display: inline;
        ">job vacancies have deadlines coming up in the next 2 weeks.</div>
      </div>
    </div>
    <div style="
    width: 30%;
    color: white;
    background-color: #f36c46;
    text-align: center;
    height: 2em;
    line-height: 2em;
    margin: 0 auto;
    font-weight: bold;
    ">
      <a>VIEW YOUR DASHBOARD</a>
    </div>
    <div style="
    background-color: white;
    margin: 1em;
    padding: 2em;
    ">
      If you are not satisfied with the number of applicants consider advertising your job listing on job sites to attract more candidates.<br>If you need assistance of any kind, reach out to us at <a href="mailto:info@joomah.com">info@joomah.com</a>
    </div>


  </body>
</html>
