&.page-form, .page-form {
  
  &.page-signin {
    background-color: $joomahlite;

    h2 {
      color: $joomahgrey;
    }

    h3.join {
      color: white;
      > a { 
        padding: 0.4em;
        margin-top: 20px;
        border: none;
        background-color: #1abc9c;
        color: white;
        font-size: 1.7em;
      }
    }    

    fieldset.rounded {
      background-color: #fff;

      input {
        border-bottom: 1px solid $joomahlite;
      }
    }
  }
  text-align: center;

  h2 {
    font-size: 1.2em;
    color: white;

    &.left {
      text-align: left;
      margin: 1em 0 -0.5em 0;
    }

    &.right {
      text-align: right;
      margin: -0.5em 0 1em 0;
    }
  }

  h3 {
    font-size: 0.8em;
    color: #999999;
  }

  h4 {
    font-size: 0.6em;
    color: #999999;
  }

  input,
  label,
  select {
    font-size: 1.6em;
  }

  h3,
  h4 {
    margin: 0.4em 0;
  }

  a {
    color: $joomahblue;
  }

  
    fieldset {
      margin: 1em 0;

      &.rounded {
        background-color: $joomahlite;
        @include border-radius(1em);

        input, select {
          width: 80%;
          max-width: 90%;
          padding: 0.5em;
          border: none;
          border-bottom: 1px solid $joomahgrey;
          background-color: transparent;
          color: #34495E;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    input[type=submit] {
      -webkit-appearance: none;
      padding: 0.4em;
      margin-top: 20px;
      border: none;
      background-color: $joomahblue;
      color: white;
      font-size: 2em;
    }
  }
