/* About page */
#about-header {
  background-color: #344A5D;
  text-align: center;
  #signin {
    float:left;
    padding-left:30px;
    font-size:16pt;
    font-weight: 500;
  }
  #register {
    float:right;
    padding-right:30px;
    font-size:16pt;
    font-weight: 500;
  }
  .title {
    color:white;
    font-weight:1000;
    font-size:24px;
    margin-right:30px
  }
  div {
    display: inline-block;
    a {
      
      padding: 10px;
    }
  }
}
#info {
  width: 100%;
  margin: 2*$header_height auto 2*$header_height auto;
  background: #FFFFFF;
  padding: 10px 20px;
  #info-title {
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: $joomahblue;
  }
  .titles {
    margin-bottom: 10px;
    font-size: 1.3em;
  }
  .jobseeker-blurb {
    color: $joomahgreen;
    margin-bottom: 40px;
    span {
      color: rgba(0,0,0,0.6);
      line-height: 1.3;
    }
  }
  .employer-blurb {
    color: $joomahblue;
    margin-bottom: 40px;
    span {
      color: rgba(0,0,0,0.6);
      line-height: 1.3;
    }
  }
  .team {
    border-top: solid 1px rgba(0, 16, 0, 0.35);
    padding-top:30px;
    border-bottom: solid 1px rgba(0, 16, 0, 0.35);
    padding-bottom:30px;
    margin-bottom: 30px;
    text-align:center;
    .titles {

      color: #f47c4f;
    }
    .members {
      div {
        margin-top: 20px;
        color:#5C6D7E;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
