/* About page */
/* About page */
.page-about > div {
  padding-top: 2 * $header_height;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  .blurb {
    padding: 40px;
    @include border-radius(20px);
    background: white;
    margin: 10px 10px 17px 10px;
    .photo {
      display: inline-block;
      vertical-align: middle;
      img {
        height: 100px;
        width: 100px;
        @include border-radius(50px);
      }
    }
    .who {
      display: inline-block;
      margin-left: 40px;
      .name {
        font-weight: bolder;
        font-size: 1.5em;
      }
    }
    .resume {
      > a {
        color:white;
      }
      display:inline-block;
      text-align: center;
      float:right;
      padding: 8px 0px 8px 0px ;
      width:200px;
      border: 0.5px solid;
      border-color:#0096C9;
      background-color:#0096C9;
      @include border-radius(5px);
    }
    .description {
      margin-top: 20px;
      text-align: justify;
    }
  }
  .education {
    margin-left: 1%;
    > a > div {
      background: #33BBB1;
    }
  }
  .skills {
    margin-left: 1%;
    > a > div {
      background: rgba(211, 84, 0, 0.51);
    }
  }
  .career {
    margin-left: 4%;
    > a > div {
      background: #75A8BB;
    }
  }
  .references.list-box {
    margin-left: 1%;
    width: 99%;
    > a > div {
      background: #889599;
    }
  }
  .languages {
    margin-left: 4%;
    > a > div {
      background: rgba(41, 128, 185, 0.5);
    }
  }
  .list-box {
    padding-top: 0px;
    @include border-radius(20px);
    background: white;
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin-bottom: 20px;
    >a > div {
      color: white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      font-size: 1.5em;
      text-align: center;
      padding: 10px 0;
    }
    ul {
      margin: 10px 20px 20px 20px;
      li {
        margin-bottom: 10px;
        .ed-title {
          font-weight: bolder;
        }
        .ed-time {
          font-size: 0.9em;
        }
      }
    }
  }
}
