/* Desktop apply register */
&.page-apply-register {
  height: auto;
  min-width: 900px;
  header {
    padding-top: 0px;
    position: static;
    div {
      font-size: 2em;
      color: #FFFFFF;
      text-align: center;
    }
  }
  #register,#register2 {
    div.call {
      margin: 40px 0;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 20px;
      background: $joomahgreen;
      font-size: 1.5em;
      color: white;
      border-radius: 5px;
    }
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    fieldset {
      display: inline-block;
      width: 60%;
      padding: 10px 20px;
      border-radius: 5px;
      background: #FFFFFF;
      table {
        width: 100%;
        td {
          border-radius: 5px;
          float: right;
          max-width: 60%;
          padding: 10px 0;
          input {
            border-radius: 3px;
            padding: 3px 0px 3px 3px;
            outline: none;
            border: 1px solid $landing-bg;
          }
        }
        tr:last-child {
          td {
            padding-bottom: 0px;
          }
        }
        tr:not(:last-child) {
          border-bottom: 1px solid $landing-bg;
        }
      }
    }
    .legal {
      width: 60%;
      font-size: 0.7em;
      margin: 10px auto;
    }
    input[type=submit] {
      background: $joomahgreen;
      border: 1px solid $joomahgreen;
      font-size: 1.4em;
      color: #FFFFFF;
      border-radius: 5px;
      padding: 3px;
    }
    h3 {
      margin: 20px;
    }
    h4 {
      margin-top: 40px;
    }
  }
}
