.header {
  height:70px;
  width:100%;
  background-color:#2AABE3;
  h2 {
    text-align: center;
    color:white;
  }
}
.application {
  width: 100%;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: $header_height;
  padding-top: 30px !important;
  padding-bottom: 10px;
  tbody {
    width: 100%;
    display: inline-block;
  }
  tr {
    width: 100%;
    text-align:center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  td {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    
  }
  p {
    font-size: 12px;
  }
  .data {
    border-radius: 5px;
    background-color: rgb(230,230,230);
    border: 1px solid rgb(200,200,200);
    float: right;
    margin-right: 10px;
    max-width: 60%;
  }
  &:not(.data) {
    vertical-align: middle;
    text-align: left;
  }
}

#application-form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  input,div {
    // display: block;

    margin-top: 20px;
  }
  // div {
  //   width: 150px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   padding: 10px;
  // }
  input[type='submit'] {
    background-color: rgb(15, 209, 170);
    color: white;
    border: 1px solid rgb(15,209,170);
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  // textarea {
  //   display: block;
  //   width: 100%;
  //   resize: vertical;
  //   min-height: 100px;
  // }
}
.form-container {
  position: relative;
  text-align: center;
    // left: 10%;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    background: #FFFFFF;
    img {
      height: 80px;
      width: 80px;
      margin-left: -40px;
      left: 50%;
      position: relative;
    }
  }
  .complete {
    margin: 0 auto;
    width: 80%;
    color: #5491ac;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }
  #saveMain{
    margin-bottom: 150px;
    width:250px;
    font-size:1em;
    margin-left:auto;
    margin-right:auto;
  }
  input[type='file']{
    font-size: 12px;
    border:none;
  }
  //select, input {
  //  color: #34495e;
  //  font-size: 18px;
  //  height: 2em; 
  //  min-width:200px;
  //  width:50%;
  //  outline: none;
  //  padding: 3px 0px 3px 3px;
  //  margin: 5px 1px 3px 0px;
  //  border-radius: 5px;
  //  border: 1px solid #DDDDDD;
  //  background: #FFFFFF;
    // float:right;
  //}
  label {
    width:20%;
    // float:left;
  }
  p{
    // display:inline-block;
  }

  // input {
  //   color: #34495e;
  //   font-size: 18px;
  //   height: 2em; 
  //   min-width:200px;
  //   outline: none;
  //   padding: 3px 0px 3px 3px;
  //   margin: 5px 1px 3px 0px;
  //   border-radius: 5px;
  //   border: 1px solid #DDDDDD;
  //   background: #FFFFFF;

  // }a
  .item-list-apply {
    // display:inline-block;
    margin-left:10px;
    margin-right:10px;
    // p {
    //   width:60%;
    //   margin-left:auto;
    //   margin-right:auto;
    // }
  }
  textarea {
    width:90%;
    height:300px;
  }
  .infobox {
    position: relative;
  }

#id_skills {
  height:200px;
}