/* Desktop Base Styles */
$header_height: 50px;

html {
  font-family: 'Raleway', sans-serif;
}
& {
  background: #ECF0F1;
}

a {
  color: $joomahblue;
  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-size: large;
  margin-top: 10px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header_height;
  line-height: $header_height;
  background-color: $joomahblue;
  overflow: hidden;
  z-index: 1000;
  & > a {
    position: fixed;
    left: 0;
    top: 0;
    height: $header_height;
    z-index: 10002;
    img {
      margin-left: 25px;
      position: relative;
      top: $header_height * 0.1;
      height: $header_height * 0.8;
      border-radius: 100px;
      border: 1px solid white;
    }
  }
  ul {
    display: inline;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1001;
    .selected {
      background-color: rgba(0,0,0,0.4);
      font-weight: bold;
    }
    li {
      display: inline-block;
      margin: 0 10px;
      &:hover {
        text-decoration: underline;
      }
      a {
        height: 100%;
        display: inline-block;
        padding: 0 10px;
        color: white;
      }
    }
  }
}
/* Defines sticky footer with vertically aligned content */
html,body,.wrapper {
  min-height: 100%;
  overflow: hidden;
  height: 100%;
  margin-bottom: -$header_height;
}
.wrapper {
  overflow: auto;
  margin-bottom: -$header_height;
}
.wrapper > * {
  /*padding-top: 60px;*/
}

.footer {
  color: #ADAFB1;
  display: block;
  position: relative;
  height: $header_height;
  .left {
    float: left;
    margin-left: 20px;
    line-height: 3;
  }

  .right {
    line-height: 3;
    float: right;
    margin-right: 20px;
  }
}
