/* Blog page */
.page-blog {
    > div {
        padding-left: 20%;
        padding-right: 20%;
        > a {
            &:hover { text-decoration: none; opacity: 0.6; }
            border-radius: 10px;
            border: 1px solid black;
            padding: 10px;
            color: black;
            display: block;
            margin-bottom: 20px;
            h1 {
                font-size: 1.5em;
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
    }
}

.page-blog-entry {
    .back {
        float: left;
        margin-left: 40px;
        margin-top: 40px;
        font-size: 1.5em;
    }
    .title {
        display: block;
        font-size: 2em;
        text-align: center;
        margin-bottom: 2em;
    }
    .blog-content {
        line-height: 1.5em;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 50px;
    }
}