/* Landing / Signup / Signin */
header.page-front-header {
  min-width: 900px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.29);
    * {
      color: white;
    }
    div,form {
      height: 50px;
    }
    .left {
      font-size: 2em;
      display: inline-block;
      margin-left: 60px;
      & > a {
        text-decoration: none;
      }
    }

    .right {
      float: right;
      display: inline-block;
      div {
        display: inline-block;
        input {
          color: black;
        }
        input[type=text],
        input[type=password] {
          width: 13em;
          border: 0;
          padding: .2em;
          margin-right: .3em;
          position: relative;
          bottom: 5px;
        }
        label {
          font-size: .7em;
          color: $joomahlite;
          position: relative;
          top: 15px;
          right: 280px;
        }

        input[type=checkbox] {
          position: relative;
          top: 17px;
          right: 145px;
        }

        input[type=submit] {
          background: none;
          border: 0;
          font-weight: 700;
          color: $white;
          font-size: 1.4em;
          cursor: pointer;
          position: relative;
          right: 200px;
        }
      }
    }
  }
.bottom-links div {
    display: inline-block;
    width: 19%;
    max-width: 19%;
    text-align: center;
    margin-top: $header_height / 2 - 10px;
  }
.page-front {
  & + .footer {
    background-color: rgba(0,0,0,0.3);
    color: white;
    height: $header_height;
  }
  //background-color: $landing-bg;
  padding-left: 20%;
  padding-right: 20%;
  height: auto;
  .pull {
    width: 960px;
    margin: 20px auto;
  }
  
  #displayMsg {
    display: block;
    position: relative;
    top: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(255,255,255,0.9);
  }

  #sign_up {
    border-radius: 10px;
    color: #34495e;
  }

  .newest-jobs {
    margin-top: 480px;
    h2 {
      font-size: 1.5em;
      color: white;
      border-bottom: 1px solid white;
      margin-bottom: 10px;
    }
    li {
      cursor: pointer;
      background-color: rgba(255,255,255,0.7);
      height: 50px;
      padding: 5px;
      margin: 5px;
      line-height: 50px;
      text-align: center;
    }
  }

  .circles {
    color: #34495e;
    position: absolute;
    margin-top: 160px;
    padding: 2% 5%;
    padding-bottom: 1%;
    line-height: 2em;
    font-size: 1.2em;
    height: 400px;
    width: 400px;
    margin-left: -200px;
    left: 25%;
    max-width: 40%;
    min-width: 400px;
    a {
      color: inherit;
      text-decoration: none;
      div {
        background: rgba(241, 90, 36, 0.7);
        border-radius: 5px;
        display: inline-block;
        padding: 5px 15px;
        font-weight: bold;
        font-size: 1.3em;
      }
    }
  }

  .form {
    color: #34495e;
    position: absolute;
    text-align: center;
    margin-top: 130px;
    left: 75%;
    margin-left: -200px;
    width: 400px;
    height: 270px;
    h1 {
      font-size: 2.5em;
      font-weight: bold;
      color: #34495e;
    }

    fieldset {
      margin: .5em auto;
      width: 375px;
    }

    input {
      width: 100%;

      &.half {
        width: 40%;

        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }

      &[type=text],
      &[type=password] {
        color: $joomahgrey;
        background-color: $white;
        padding: .8em;
        border: 1px solid $joomahlite;
        @include border-radius(5px);
        font-size: 1em;
      }
      &[name=email] {
        width: 93%;
      }
      &[type=submit] {
        color: #34495e;
        font-size: 2em;
        font-weight: bold;
        border: 0;
        background: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      border-radius: 5px;
      border: 1px solid $joomahlite;
      background: white;
    }
    input:focus {
      box-shadow: 0 0 5px $joomahblue;
      border: 1px solid $joomahblue;
    }
  }
}
