/* Noticeboard page */
.page-noticeboard {
  padding-right: 25%;
  > div {
    background: #FFFFFF;
    margin-left: auto;
    width: 90%;
    min-height: 100%;
    &#notification {
      min-height: 0px;
    }
    padding-bottom: 30px;
    .search {
      background-color: #ECF0F1;
      margin: $header_height auto;
      padding-left: 30px;
      bottom: 2em;
      position: fixed;
      top: 0px;
      right: 0px;
      padding-right: 30px;
      width: 20%;
      min-width: 300px;
      overflow-x: scroll;
      input[type=text] {
        padding: 5px;
        border-radius: 10px;
        outline: none;
        width: 95%;
      }
      p:nth-child(2),p:nth-child(3) {
        position: relative;
        top: 0.5em;
        display: inline;
        select {
          width: 22%;
        }
      }
      p:nth-child(2)::before {
        content: "Years Experience:"
      }
      p:nth-child(4)::before {
        content: "Degree Required:"
      }
      p:nth-child(3)::before {
        content: "\2013"
      }
      p:nth-child(2) label,p:nth-child(3) label,p:nth-child(4) label,p:nth-child(5) label {
        display: none;
      }
      p:nth-child(4) select {
        position: relative;
        top: 2em;
        right: 11em;
      }
      p:nth-child(5) {
        position: relative;
        left: 9.5em;
        top: 3px;
      }
      p:nth-child(5)::before {
        content: "\2013";
      }
      p:nth-child(5) {
        margin-top: 0;
      }
      input[type=submit] {
        margin: 0 auto;
        display: block;
        background-color: #0096c9;
        color: white;
        border: 0;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: 1.4em;
      }
      p {
        margin-top: 1.5em;
      }
      #id_min_years_experience {
        margin-left: 0.5em;
      }
      #id_industries,#id_locations {
        border: 1px solid gray;
        height: 100px;
        overflow-y: scroll;
        margin-bottom: 20px;
      }
    }
    .welcome {
      text-align: center;
      font-size: 2em;
      padding-top: 80px;
    }
    .notice-content {
      padding: 5px;
      width: 80%;
      margin: 30px auto;
    }
    .notice-content > p {
      text-align: center;
    }
    .notice {
      background:#E9F6FC;
      min-height:100px;
      height: 100px;
      margin: 15px;
      padding: 10px;
      padding-right:0px;
      line-height: 1.5;
      color: $joomahgrey;
      overflow-x: auto;
      white-space: nowrap;
      overflow-y: hidden;
      .icon {
        display: inline-block;
        font-size: 4em;
        font-weight: bolder;
        margin: 10px 20px 10px 10px;
        vertical-align: top;
        background: #85D5B7;
        height: 80px;
        width: 80px;
        text-align: center;
        color: white;
        line-height: 1.3;
      }
      .container {
        display: inline-block;
        margin: 5px 0 0 0;
        height: 100px;
        white-space: nowrap;
        width: 62%;
        div {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
        }
        div.owner {
          height: 2em;
        }
        .deadline {
          color:$joomahblue;
        }
      }
      strong {
        color: #5A6870;
        font-size: 1.5em;
        font-weight: bolder;
      }

      em {
        color: #5A6870;
        font-weight: bold;
      }

      a[href] {
        color: $joomahblue;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5em;
      }
      a[href].blog {
        color: #666666;
        font-style: normal;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 4em;
      }
      .apply{
        width: 20%;
        text-align: center;
        height: 121px;
        float: right;
        background:#74AECB;
        background-size: 60px 60px;
        vertical-align: top;
        margin-top:-11px;
        a[href] {
          line-height: 121px;
          color:white;
          font-style: normal;
          font-weight: bolder;
          font-size: 1.75em;
        }
      }
    }
  }
  #overlay {
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  #notification {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    margin-left: -200px;
    margin-top: -75px;
    z-index: 100;
    border-radius: 20px;
    text-align: center;
    .title {
      color: #c0392b;
      margin: 20px auto;
    }
    .body {
      margin: 20px auto;
      a {
        text-decoration: none;
        color: $joomahblue;
      }
    }
    button {
      display: inline-block;
      background: rgb(166,166,166);
      color: #FFFFFF;
      padding: 3px 5px;
      border-radius: 3px;
      border: none;
      margin: 0 auto 10px auto;
    }
  }
}
