/* Setup pages */
.page-settings {
  height: auto;
  padding: 0 10%;
  text-align: center;
  .icon-holder {
    position: fixed;
    top: $header_height + 50;
    right: 50px;
    > div {
      font-size: 0.6em;
      border: 1px solid $joomahblue;
      border-radius: 2px;
      margin-bottom: 0.5em;
      padding: 5px;
    }
    > *:hover {
      opacity: 0.8;
    }
  }
  .tooltip .tip-text {
    color: #FFF;
    margin-left: -54px;
    margin-top: -25px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    height: 0;
    width: 0;
  }

  .tooltip:hover .tip-text {
    height: 2em;
    width: auto;
    border: 1px solid #161616;
    margin-top: -45px;
    opacity: 1;
    text-indent: 0em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #343434;
  }
/*
  .tooltip:hover .tip-text:after {
    border: 8px solid transparent;
    border-top-color: #1b1b1b;
    content: ' ';
    left: 45%;
    height: 0;
    position: absolute;
    top: 51px;
    width: 0;
    z-index: 105;
  }
*/
  .tooltip:hover .tip-text:before {
    border: 9px solid transparent;
    border-top-color: #161616;
    content: ' ';
    left: 44.3%;
    height: 0;
    position: absolute;
    top: 52px;
    width: 0;
    z-index: 100;
  }

  & > p {
    position: relative;
    left: 5%;
  }
  .personality {
    p {
      margin-top: 30px;
      display: inline-block;
      width: 90%;
      text-align: left;
      padding-left: 2em;
      line-height: 1.5em;
      &:before {
	content: "";
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style: inset;
	border-width: 1px;
	position: relative;
	right: 20px;
	width: 100%;
      }
    }
    label { width: 50%; display: inline-block; }
    ul { display: block; padding: 10px; }
    li { display: inline-block; width: 236px; }
  }
  #nav {
    padding-top: 0;
    position: fixed;
    left: 0;
    top: $header_height * 2;
    width: 8em;
    a {
      display: block;
      margin: 0 0;
      padding: 20px 0;
      font-weight: bold;
      width: 100%;
      border: 1px solid rgba(0,0,0,0.1);
      color: #5491ac;
      &.selected {
        background-color: #5491ac;
        color: white;
      }
      &:hover:not(.selected) {
        background-color: #eee;
      }
      &:hover {
        text-decoration: none;
      }
      &:first-child {
        margin-top: 0;
        border-bottom: none;
      }
      &:last-child {
        margin-bottom: 0;
        border-top: none;
      }
    }
    //border-right: 2px solid $joomahblue;
    background-color: #ecf0f1;
  }
  .item-list {
    padding-left: 5%;
    padding-right: 5%;
  }
  .form-container {
    position: relative;
    left: 10%;
    width: 80%;
    padding-bottom: 100px;
    padding-top: $header_height * 2;
    background: #FFFFFF;
    img {
      height: 80px;
      width: 80px;
      margin-left: -40px;
      left: 50%;
      position: relative;
    }
    .settings-box {
      margin-bottom: 50px;
      .change-password {
        background-color: #f5f5f5;
        margin: 0;
        border-radius: 3px 3px 0 0;
        border: 1px solid #d8d8d8;
        border-bottom: 0;
        padding: 10px 10px 11px;
        font-size: 1.7em;
        text-shadow: 0 1px 0 #fff;
      }
      .delete-account {
        background-color: #df3e3e;
        border: 1px solid #a00;
        color: #fff;
        text-shadow: 0 -1px 0 #900;
        font-size: 1.7em;
        padding: 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      div {
        padding: 10px;
        background: #fff;
        border: 1px solid #d8d8d8;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #666;
        font-size: 1em;
        #savePassword {
          margin-left: auto;
          margin-right: auto;
          display: block;
          font-size: 1.3em;
          width: 200px;
          border-radius: 3px;
        }
        a {
          width: 200px;
          font-size: 1.3em;
          border-radius: 3px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          background: #efefef;
          border-color: #e1e1e1;
          text-shadow: 0 1px 0 rgba(255,255,255,0.9);
          color: #cb7f7f;
        }
      }
    }
    form table {
      width: 100%;
      border-spacing: 20px;
      border-collapse: separate;
      tbody {
	tr {
	  margin-top: 50px;
	}
        td {
          width: 48%;
	  padding: 0 1.5%;
          textarea {
            resize: none;
            width: 95%;
            height: 200px;
            margin-top: 15px;
            border-radius: 5px;
          }
          input[type=text], input[type=email], input[type=file], select {
            float: right;
            border-radius: 5px;
            border: 1px solid rgb(169, 169, 169);
            padding: 3px 0 3px 3px;
            outline: none;
            background: #FFFFFF;
          }
          ul {
            border: 1px solid rgb(169, 169, 169);
            padding: 3px 0 3px 3px;
            padding: 2px;
            border-radius: 5px;
            height: 200px;
            overflow-y: scroll;
          }
          #id_profile_photo {
            float: none;
            margin-left: 10px;
            border: none;
          }
        }
      }
    }
  }
  .complete {
    margin: 0 auto;
    min-width: 600px;
    width: 80%;
    color: #5491ac;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }
  ul:not(.errorlist) + p {
    display: none;
  }
  input[type='submit'] {
    font-family: inherit;
    color: white;
    background: $joomahblue;
    font-size: 0.6em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 2em;
    padding: 0.5em 0.2em;
    margin-bottom: 0.5em;
    min-width: 2em;
  }
  #saveMain,#savePersonality {
    margin-bottom: 100px;
    width:20%;
    font-size:1em;
    margin-left:40%;
    margin-right:40%;
  }
  a.dangerous {
    margin-top: 20px;
    padding: 10px;
    font-size: 0.6em;
    background-color: gray;
    color: white;
  }
  div.photo > img {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  .main {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    textarea {
      width: 40%;
    }
    p {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 50px;
      margin-left: 25%;
      label {
        clear: both;
        display: inline-block;
        min-width: 300px;
        padding: 3px 0px 3px 3px;
      }
      &:nth-child(5) label {
        position: relative;
        bottom: 5em;
      }
      > select, > input {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid #DDDDDD;
        background: white;
      }
      > select:active, > input:active {
        box-shadow: 0 0 5px $joomahblue;
        border: 1px solid $joomahblue;
      }
    }
  }
  .joomahblue {
    color: $joomahblue;
  }
}
