body {
  font-family: 'Raleway' !important;
}

#section-start .nav-start, #section-newjoblink .nav-newjoblink, #section-tracking .nav-tracking, #section-history .nav-history, #section-settings .nav-settings, #section-tips .nav-tips, #section-contact .nav-contact {
  background-color: #3FA9F5;
}

p {
  margin-bottom: 0px !important;
}

td {
  text-align: center;
}

thead tr th {
  text-align: center;
}


.icon-bar {
    height: 100vh;
    width: 180px;
    position: fixed;
    background-color: #22313f;
    display: block;
}

.icon-bar a {
    padding: 14px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.05em;
}

.icon-bar a:hover {
    background-color: #000;
    color: #29abe2;
}

.onfocus {
    background-color: #3FA9F5;
}

.nav-link {
  padding-left: 5px;
}

.with-love {
  color: #f2f2f2;
  font-size: 10px;
  opacity: 0.25;
  margin-left: 15px;
  padding-bottom: 15px;
}

.signout-link {
  /*position: fixed;
  left: 0px;
  bottom: 0px;
  width: inherit;
  margin-top: 100%;*/
  background-color: #ec644b;
  font-weight: 700;
  height: 50px;
  text-align: center;
}

.nav-bottom-section {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: inherit;
} 

.brand-name {
  padding-left: 14px;
  color: #3FA9F5;
  font-size: 1.5em;
}

#joomahlogo {
  padding-top: 14px;
  background-color: #000000;
  padding-bottom: 14px;
  width: 180px;
}

.product-name {
  color: #f2f2f2;
  font-size: 1.5em;
}

.page-info {
  padding-top: 15px;
  text-align: center;
}

.page-name {
  font-size: 2em;
  color: #34495e;
}

.user-icon {
  color: #999999;
}

.main-area {
  margin-left: 200px;
}

select {

-webkit-appearance: none; 
-moz-appearance: none;
appearance: none;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #000000;
border: 1px solid #000000;

}

label {
  opacity: 0.95;
}

@media screen and (max-width: 768px) {
  .icon-bar {
    width: 100px;
    text-align: center;
  }

  .icon-bar a {
    font-size: 1.5em;
  }

  .nav-link {
    display: none;
  }

  #joomahlogo {
    font-size: 10px;
    max-width: 100px;
  }

  .brand-name {
    display: none;
  }

  .top-rail {
    margin-left: 120px;
  }

  .main-area {
    margin-left: 120px;
  }
}