.desktop .page-resume > div .blurb .photo {
  display: inline-block;
  vertical-align: middle;
}

.desktop .page-resume > div .blurb .who {
  display: inline-block;
}
.desktop .page-resume > div .blurb .who .name {
  font-weight: bolder;
  font-size: 1em;
}
.desktop .page-resume > div .blurb .description {
  text-align: justify;
}
.desktop .page-resume > div .list-box {
  padding: 2px;
  background: white;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  
}
.desktop .page-resume > div .list-box > h3 > div {
  color: black;
  font-size: 1em;
  text-align: left;
  border-bottom: solid 0.5px;
}
.desktop .page-resume > div .list-box ul {
}
.desktop .page-resume > div .list-box ul li {
  /*margin-bottom: 10px;*/
}
.desktop .page-resume > div .list-box ul li .ed-title {
}
.desktop .page-resume > div .list-box ul li .ed-time {
  font-size: 0.9em;
}