@charset "UTF-8";
/* Compass imports */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Global variables */
/* $joomahgrey: #626366; */
/* New landing theme */
/* Global styles */
html, body {
  height: 100%; }

body, input, textarea, select {
  font-family: 'Raleway', sans-serif; }

a[href] {
  color: inherit;
  text-decoration: none; }

.errorlist {
  color: red; }

.item-list {
  text-align: center;
  margin-top: 10px; }
  .item-list label {
    display: none; }
  .item-list #edit {
    color: #0096C9;
    font-weight: bold;
    text-decoration: underline;
    margin: 50px; }
  .item-list #add-item, .item-list #remove-item {
    float: right;
    margin-top: 50px;
    margin-bottom: 50px; }
    .item-list #add-item > span, .item-list #remove-item > span {
      padding: 10px;
      border-radius: 5px;
      font-size: 1.5em; }
  .item-list #add-item > span {
    border: 1px solid #0096C9;
    color: #0096C9;
    display: inline-block; }
  .item-list #remove-item > span {
    border: 1px solid red;
    color: red;
    display: inline-block; }
  .item-list #save-changes {
    margin-left: auto;
    margin-right: auto; }
  .item-list p {
    display: inline-block;
    margin-left: 10px; }
  .item-list #itemforms div {
    border: 1px solid gray;
    width: 90%;
    border-radius: 10px;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px; }
  .item-list textarea {
    font-family: inherit;
    resize: none; }
  .item-list select[disabled], .item-list input[disabled], .item-list textarea[disabled] {
    border: none;
    background-color: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px; }

.school-list, .school-element {
  border: 1px solid #6BA3B6;
  border-radius: 10px;
  margin-top: 10px; }
  .school-list select, .school-list input, .school-list textarea, .school-element select, .school-element input, .school-element textarea {
    color: #34495e;
    font-size: 18px;
    height: 2em; }
  .school-list #itemforms > div, .school-element #itemforms > div {
    padding: 0px; }
  .school-list p, .school-element p {
    padding-top: 10px;
    padding-bottom: 10px; }
  .school-list p:first-child select, .school-element p:first-child select {
    font-size: 18px; }
  .school-list p:first-child:after, .school-element p:first-child:after {
    content: '-';
    font-size: 18px; }
  .school-list p:nth-child(2) select, .school-element p:nth-child(2) select {
    position: relative;
    right: 5px;
    margin-left: 0px;
    font-size: 18px; }
    .school-list p:nth-child(2) select:not([disabled]), .school-element p:nth-child(2) select:not([disabled]) {
      right: 1px; }
  .school-list p:nth-child(3), .school-element p:nth-child(3) {
    border-top: 1px solid #6BA3B6;
    display: block;
    margin-left: 0px;
    padding-left: 13px; }
  .school-list p:nth-child(3) input, .school-element p:nth-child(3) input {
    font-size: 18px;
    width: 80%; }
  .school-list p:nth-child(4), .school-element p:nth-child(4) {
    display: block;
    right: 0px; }
    .school-list p:nth-child(4) select, .school-element p:nth-child(4) select {
      width: 80%; }
      .school-list p:nth-child(4) select:not([disabled]), .school-element p:nth-child(4) select:not([disabled]) {
        margin-left: 2px; }
  .school-list p:nth-child(5), .school-list p:nth-child(6), .school-list p:nth-child(7), .school-list p:nth-child(8), .school-element p:nth-child(5), .school-element p:nth-child(6), .school-element p:nth-child(7), .school-element p:nth-child(8) {
    margin-left: 13px;
    display: block;
    right: 0px; }
    .school-list p:nth-child(5) input, .school-list p:nth-child(6) input, .school-list p:nth-child(7) input, .school-list p:nth-child(8) input, .school-element p:nth-child(5) input, .school-element p:nth-child(6) input, .school-element p:nth-child(7) input, .school-element p:nth-child(8) input {
      width: 80%; }
      .school-list p:nth-child(5) input:not([value])[disabled], .school-list p:nth-child(6) input:not([value])[disabled], .school-list p:nth-child(7) input:not([value])[disabled], .school-list p:nth-child(8) input:not([value])[disabled], .school-element p:nth-child(5) input:not([value])[disabled], .school-element p:nth-child(6) input:not([value])[disabled], .school-element p:nth-child(7) input:not([value])[disabled], .school-element p:nth-child(8) input:not([value])[disabled] {
        display: none; }
  .school-list input[type=text], .school-list textarea, .school-list select, .school-element input[type=text], .school-element textarea, .school-element select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF; }
  .school-list input[type=text]:focus, .school-list textarea:focus, .school-list select:focus, .school-element input[type=text]:focus, .school-element textarea:focus, .school-element select:focus {
    box-shadow: 0 0 5px #0096C9;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #0096C9; }

#save-changes {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF; }

#save-changes:focus {
  box-shadow: 0 0 5px #0096C9;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #0096C9; }

.job-list, .job-element {
  border-radius: 10px;
  border: 1px solid #6BA3B6;
  margin-top: 10px; }
  .job-list select, .job-list input, .job-list textarea, .job-element select, .job-element input, .job-element textarea {
    color: #34495e;
    height: 2em;
    font-size: 18px; }
  .job-list textarea, .job-element textarea {
    width: 90%;
    height: 200px; }
  .job-list p, .job-element p {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block; }
  .job-list p:first-child, .job-element p:first-child {
    padding-bottom: 5px;
    display: inline-block; }
    .job-list p:first-child select, .job-element p:first-child select {
      font-size: 18px; }
  .job-list p:first-child:after, .job-element p:first-child:after {
    content: '-';
    font-size: 18px; }
  .job-list p:nth-child(2), .job-element p:nth-child(2) {
    display: inline-block;
    margin-left: 0px; }
    .job-list p:nth-child(2) select, .job-element p:nth-child(2) select {
      margin-left: 0px;
      font-size: 18px; }
      .job-list p:nth-child(2) select:not([disabled]), .job-element p:nth-child(2) select:not([disabled]) {
        right: 1px; }
  .job-list p:nth-child(3), .job-element p:nth-child(3) {
    border-top: 1px solid #6BA3B6;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 13px; }
    .job-list p:nth-child(3) input, .job-element p:nth-child(3) input {
      margin-top: 5px;
      font-size: 18px; }
  .job-list p:nth-child(4), .job-element p:nth-child(4) {
    right: 0px; }
    .job-list p:nth-child(4) select, .job-element p:nth-child(4) select {
      font-size: 18px;
      margin-left: 2px; }
      .job-list p:nth-child(4) select[disabled], .job-element p:nth-child(4) select[disabled] {
        display: none; }
  .job-list p:nth-child(5), .job-element p:nth-child(5) {
    margin-left: 3px;
    right: 0px; }
    .job-list p:nth-child(5) input, .job-element p:nth-child(5) input {
      font-size: 18px; }
      .job-list p:nth-child(5) input:not([disabled]), .job-element p:nth-child(5) input:not([disabled]) {
        margin-left: 10px; }
  .job-list p:nth-child(6), .job-element p:nth-child(6) {
    margin-left: 0px;
    padding-left: 13px;
    padding-right: 13px;
    right: 0px;
    font-size: 18px; }
    .job-list p:nth-child(6) textarea, .job-element p:nth-child(6) textarea {
      width: 100%;
      border-radius: 5px; }
  .job-list input[type=text], .job-list textarea, .job-list select, .job-element input[type=text], .job-element textarea, .job-element select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF; }
  .job-list input[type=text]:focus, .job-list textarea:focus, .job-list select:focus, .job-element input[type=text]:focus, .job-element textarea:focus, .job-element select:focus {
    box-shadow: 0 0 5px #0096C9;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #0096C9; }

#save-changes {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF; }

#save-changes:focus {
  box-shadow: 0 0 5px #0096C9;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #0096C9; }

/* Page components */
/* Defines colored circles with text */
@font-face {
  font-family: 'icomoon';
  src: url("/static/fonts/icomoon.eot?94kt6s");
  src: url("/static/fonts/icomoon.eot?#iefix94kt6s") format("embedded-opentype"), url("/static/fonts/icomoon.woff?94kt6s") format("woff"), url("/static/fonts/icomoon.ttf?94kt6s") format("truetype"), url("/static/fonts/icomoon.svg?94kt6s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2em;
  color: #0096C9;
  cursor: pointer;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-uniE600:before {
  content: "\e600"; }
  .icon-uniE600:before:hover {
    opacity: .8; }

.icon-minus {
  font-size: 1.8em; }
  .icon-minus:before {
    content: "\e601"; }

/* Desktop pages */
.desktop {
  /* Desktop Base Styles */
  /* Defines sticky footer with vertically aligned content */
  /* About page */
  /* About page */
  /* Landing / Signup / Signin */
  /* Noticeboard page */
  /* Setup pages */
  /* Blog page */
  /* Desktop apply register */
  /* About page */ }
  .desktop html {
    font-family: 'Raleway', sans-serif; }
  .desktop {
    background: #ECF0F1; }
  .desktop a {
    color: #0096C9; }
    .desktop a:hover {
      text-decoration: underline; }
  .desktop h2 {
    font-size: large;
    margin-top: 10px; }
  .desktop header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    line-height: 50px;
    background-color: #0096C9;
    overflow: hidden;
    z-index: 1000; }
    .desktop header > a {
      position: fixed;
      left: 0;
      top: 0;
      height: 50px;
      z-index: 10002; }
      .desktop header > a img {
        margin-left: 25px;
        position: relative;
        top: 5px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid white; }
    .desktop header ul {
      display: inline;
      text-align: center;
      left: 0;
      right: 0;
      top: 0;
      position: fixed;
      z-index: 1001; }
      .desktop header ul .selected {
        background-color: rgba(0, 0, 0, 0.4);
        font-weight: bold; }
      .desktop header ul li {
        display: inline-block;
        margin: 0 10px; }
        .desktop header ul li:hover {
          text-decoration: underline; }
        .desktop header ul li a {
          height: 100%;
          display: inline-block;
          padding: 0 10px;
          color: white; }
  .desktop html, .desktop body, .desktop .wrapper {
    min-height: 100%;
    overflow: hidden;
    height: 100%;
    margin-bottom: -50px; }
  .desktop .wrapper {
    overflow: auto;
    margin-bottom: -50px; }
  .desktop .wrapper > * {
    /*padding-top: 60px;*/ }
  .desktop .footer {
    color: #ADAFB1;
    display: block;
    position: relative;
    height: 50px; }
    .desktop .footer .left {
      float: left;
      margin-left: 20px;
      line-height: 3; }
    .desktop .footer .right {
      line-height: 3;
      float: right;
      margin-right: 20px; }
  .desktop .page-about > div {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%; }
    .desktop .page-about > div .blurb {
      padding: 40px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      background: white;
      margin: 10px 10px 17px 10px; }
      .desktop .page-about > div .blurb .photo {
        display: inline-block;
        vertical-align: middle; }
        .desktop .page-about > div .blurb .photo img {
          height: 100px;
          width: 100px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          border-radius: 50px; }
      .desktop .page-about > div .blurb .who {
        display: inline-block;
        margin-left: 40px; }
        .desktop .page-about > div .blurb .who .name {
          font-weight: bolder;
          font-size: 1.5em; }
      .desktop .page-about > div .blurb .resume {
        display: inline-block;
        text-align: center;
        float: right;
        padding: 8px 0px 8px 0px;
        width: 200px;
        border: 0.5px solid;
        border-color: #0096C9;
        background-color: #0096C9;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        .desktop .page-about > div .blurb .resume > a {
          color: white; }
      .desktop .page-about > div .blurb .description {
        margin-top: 20px;
        text-align: justify; }
    .desktop .page-about > div .education {
      margin-left: 1%; }
      .desktop .page-about > div .education > a > div {
        background: #33BBB1; }
    .desktop .page-about > div .skills {
      margin-left: 1%; }
      .desktop .page-about > div .skills > a > div {
        background: rgba(211, 84, 0, 0.51); }
    .desktop .page-about > div .career {
      margin-left: 4%; }
      .desktop .page-about > div .career > a > div {
        background: #75A8BB; }
    .desktop .page-about > div .references.list-box {
      margin-left: 1%;
      width: 99%; }
      .desktop .page-about > div .references.list-box > a > div {
        background: #889599; }
    .desktop .page-about > div .languages {
      margin-left: 4%; }
      .desktop .page-about > div .languages > a > div {
        background: rgba(41, 128, 185, 0.5); }
    .desktop .page-about > div .list-box {
      padding-top: 0px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      background: white;
      display: inline-block;
      width: 47%;
      vertical-align: top;
      margin-bottom: 20px; }
      .desktop .page-about > div .list-box > a > div {
        color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 1.5em;
        text-align: center;
        padding: 10px 0; }
      .desktop .page-about > div .list-box ul {
        margin: 10px 20px 20px 20px; }
        .desktop .page-about > div .list-box ul li {
          margin-bottom: 10px; }
          .desktop .page-about > div .list-box ul li .ed-title {
            font-weight: bolder; }
          .desktop .page-about > div .list-box ul li .ed-time {
            font-size: 0.9em; }
  .desktop header.page-front-header {
    min-width: 900px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.29); }
    .desktop header.page-front-header * {
      color: white; }
    .desktop header.page-front-header div, .desktop header.page-front-header form {
      height: 50px; }
    .desktop header.page-front-header .left {
      font-size: 2em;
      display: inline-block;
      margin-left: 60px; }
      .desktop header.page-front-header .left > a {
        text-decoration: none; }
    .desktop header.page-front-header .right {
      float: right;
      display: inline-block; }
      .desktop header.page-front-header .right div {
        display: inline-block; }
        .desktop header.page-front-header .right div input {
          color: black; }
        .desktop header.page-front-header .right div input[type=text],
        .desktop header.page-front-header .right div input[type=password] {
          width: 13em;
          border: 0;
          padding: .2em;
          margin-right: .3em;
          position: relative;
          bottom: 5px; }
        .desktop header.page-front-header .right div label {
          font-size: .7em;
          color: #E6E6E6;
          position: relative;
          top: 15px;
          right: 280px; }
        .desktop header.page-front-header .right div input[type=checkbox] {
          position: relative;
          top: 17px;
          right: 145px; }
        .desktop header.page-front-header .right div input[type=submit] {
          background: none;
          border: 0;
          font-weight: 700;
          color: #fff;
          font-size: 1.4em;
          cursor: pointer;
          position: relative;
          right: 200px; }
  .desktop .bottom-links div {
    display: inline-block;
    width: 19%;
    max-width: 19%;
    text-align: center;
    margin-top: 15px; }
  .desktop .page-front {
    padding-left: 20%;
    padding-right: 20%;
    height: auto; }
    .desktop .page-front + .footer {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      height: 50px; }
    .desktop .page-front .pull {
      width: 960px;
      margin: 20px auto; }
    .desktop .page-front #displayMsg {
      display: block;
      position: relative;
      top: 50px;
      text-align: center;
      line-height: 50px;
      background-color: rgba(255, 255, 255, 0.9); }
    .desktop .page-front #sign_up {
      border-radius: 10px;
      color: #34495e; }
    .desktop .page-front .newest-jobs {
      margin-top: 480px; }
      .desktop .page-front .newest-jobs h2 {
        font-size: 1.5em;
        color: white;
        border-bottom: 1px solid white;
        margin-bottom: 10px; }
      .desktop .page-front .newest-jobs li {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);
        height: 50px;
        padding: 5px;
        margin: 5px;
        line-height: 50px;
        text-align: center; }
    .desktop .page-front .circles {
      color: #34495e;
      position: absolute;
      margin-top: 160px;
      padding: 2% 5%;
      padding-bottom: 1%;
      line-height: 2em;
      font-size: 1.2em;
      height: 400px;
      width: 400px;
      margin-left: -200px;
      left: 25%;
      max-width: 40%;
      min-width: 400px; }
      .desktop .page-front .circles a {
        color: inherit;
        text-decoration: none; }
        .desktop .page-front .circles a div {
          background: rgba(241, 90, 36, 0.7);
          border-radius: 5px;
          display: inline-block;
          padding: 5px 15px;
          font-weight: bold;
          font-size: 1.3em; }
    .desktop .page-front .form {
      color: #34495e;
      position: absolute;
      text-align: center;
      margin-top: 130px;
      left: 75%;
      margin-left: -200px;
      width: 400px;
      height: 270px; }
      .desktop .page-front .form h1 {
        font-size: 2.5em;
        font-weight: bold;
        color: #34495e; }
      .desktop .page-front .form fieldset {
        margin: .5em auto;
        width: 375px; }
      .desktop .page-front .form input {
        width: 100%;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        border-radius: 5px;
        border: 1px solid #E6E6E6;
        background: white; }
        .desktop .page-front .form input.half {
          width: 40%; }
          .desktop .page-front .form input.half:first-child {
            float: left; }
          .desktop .page-front .form input.half:last-child {
            float: right; }
        .desktop .page-front .form input[type=text], .desktop .page-front .form input[type=password] {
          color: #6D6869;
          background-color: #fff;
          padding: .8em;
          border: 1px solid #E6E6E6;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          font-size: 1em; }
        .desktop .page-front .form input[name=email] {
          width: 93%; }
        .desktop .page-front .form input[type=submit] {
          color: #34495e;
          font-size: 2em;
          font-weight: bold;
          border: 0;
          background: none;
          cursor: pointer; }
          .desktop .page-front .form input[type=submit]:hover {
            text-decoration: underline; }
      .desktop .page-front .form input:focus {
        box-shadow: 0 0 5px #0096C9;
        border: 1px solid #0096C9; }
  .desktop .page-noticeboard {
    padding-right: 25%; }
    .desktop .page-noticeboard > div {
      background: #FFFFFF;
      margin-left: auto;
      width: 90%;
      min-height: 100%;
      padding-bottom: 30px; }
      .desktop .page-noticeboard > div#notification {
        min-height: 0px; }
      .desktop .page-noticeboard > div .search {
        background-color: #ECF0F1;
        margin: 50px auto;
        padding-left: 30px;
        bottom: 2em;
        position: fixed;
        top: 0px;
        right: 0px;
        padding-right: 30px;
        width: 20%;
        min-width: 300px;
        overflow-x: scroll; }
        .desktop .page-noticeboard > div .search input[type=text] {
          padding: 5px;
          border-radius: 10px;
          outline: none;
          width: 95%; }
        .desktop .page-noticeboard > div .search p:nth-child(2), .desktop .page-noticeboard > div .search p:nth-child(3) {
          position: relative;
          top: 0.5em;
          display: inline; }
          .desktop .page-noticeboard > div .search p:nth-child(2) select, .desktop .page-noticeboard > div .search p:nth-child(3) select {
            width: 22%; }
        .desktop .page-noticeboard > div .search p:nth-child(2)::before {
          content: "Years Experience:"; }
        .desktop .page-noticeboard > div .search p:nth-child(4)::before {
          content: "Degree Required:"; }
        .desktop .page-noticeboard > div .search p:nth-child(3)::before {
          content: "–"; }
        .desktop .page-noticeboard > div .search p:nth-child(2) label, .desktop .page-noticeboard > div .search p:nth-child(3) label, .desktop .page-noticeboard > div .search p:nth-child(4) label, .desktop .page-noticeboard > div .search p:nth-child(5) label {
          display: none; }
        .desktop .page-noticeboard > div .search p:nth-child(4) select {
          position: relative;
          top: 2em;
          right: 11em; }
        .desktop .page-noticeboard > div .search p:nth-child(5) {
          position: relative;
          left: 9.5em;
          top: 3px; }
        .desktop .page-noticeboard > div .search p:nth-child(5)::before {
          content: "\2013"; }
        .desktop .page-noticeboard > div .search p:nth-child(5) {
          margin-top: 0; }
        .desktop .page-noticeboard > div .search input[type=submit] {
          margin: 0 auto;
          display: block;
          background-color: #0096c9;
          color: white;
          border: 0;
          border-radius: 10px;
          padding: 10px;
          font-weight: bold;
          font-size: 1.4em; }
        .desktop .page-noticeboard > div .search p {
          margin-top: 1.5em; }
        .desktop .page-noticeboard > div .search #id_min_years_experience {
          margin-left: 0.5em; }
        .desktop .page-noticeboard > div .search #id_industries, .desktop .page-noticeboard > div .search #id_locations {
          border: 1px solid gray;
          height: 100px;
          overflow-y: scroll;
          margin-bottom: 20px; }
      .desktop .page-noticeboard > div .welcome {
        text-align: center;
        font-size: 2em;
        padding-top: 80px; }
      .desktop .page-noticeboard > div .notice-content {
        padding: 5px;
        width: 80%;
        margin: 30px auto; }
      .desktop .page-noticeboard > div .notice-content > p {
        text-align: center; }
      .desktop .page-noticeboard > div .notice {
        background: #E9F6FC;
        min-height: 100px;
        height: 100px;
        margin: 15px;
        padding: 10px;
        padding-right: 0px;
        line-height: 1.5;
        color: #6D6869;
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden; }
        .desktop .page-noticeboard > div .notice .icon {
          display: inline-block;
          font-size: 4em;
          font-weight: bolder;
          margin: 10px 20px 10px 10px;
          vertical-align: top;
          background: #85D5B7;
          height: 80px;
          width: 80px;
          text-align: center;
          color: white;
          line-height: 1.3; }
        .desktop .page-noticeboard > div .notice .container {
          display: inline-block;
          margin: 5px 0 0 0;
          height: 100px;
          white-space: nowrap;
          width: 62%; }
          .desktop .page-noticeboard > div .notice .container div {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%; }
          .desktop .page-noticeboard > div .notice .container div.owner {
            height: 2em; }
          .desktop .page-noticeboard > div .notice .container .deadline {
            color: #0096C9; }
        .desktop .page-noticeboard > div .notice strong {
          color: #5A6870;
          font-size: 1.5em;
          font-weight: bolder; }
        .desktop .page-noticeboard > div .notice em {
          color: #5A6870;
          font-weight: bold; }
        .desktop .page-noticeboard > div .notice a[href] {
          color: #0096C9;
          font-style: italic;
          font-weight: bold;
          font-size: 1.5em; }
        .desktop .page-noticeboard > div .notice a[href].blog {
          color: #666666;
          font-style: normal;
          font-size: 1.5em;
          font-weight: bold;
          line-height: 4em; }
        .desktop .page-noticeboard > div .notice .apply {
          width: 20%;
          text-align: center;
          height: 121px;
          float: right;
          background: #74AECB;
          background-size: 60px 60px;
          vertical-align: top;
          margin-top: -11px; }
          .desktop .page-noticeboard > div .notice .apply a[href] {
            line-height: 121px;
            color: white;
            font-style: normal;
            font-weight: bolder;
            font-size: 1.75em; }
    .desktop .page-noticeboard #overlay {
      position: fixed;
      background: rgba(0, 0, 0, 0.6);
      z-index: 99;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%; }
    .desktop .page-noticeboard #notification {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 400px;
      height: auto;
      margin-left: -200px;
      margin-top: -75px;
      z-index: 100;
      border-radius: 20px;
      text-align: center; }
      .desktop .page-noticeboard #notification .title {
        color: #c0392b;
        margin: 20px auto; }
      .desktop .page-noticeboard #notification .body {
        margin: 20px auto; }
        .desktop .page-noticeboard #notification .body a {
          text-decoration: none;
          color: #0096C9; }
      .desktop .page-noticeboard #notification button {
        display: inline-block;
        background: #a6a6a6;
        color: #FFFFFF;
        padding: 3px 5px;
        border-radius: 3px;
        border: none;
        margin: 0 auto 10px auto; }
  .desktop .page-settings {
    height: auto;
    padding: 0 10%;
    text-align: center;
    /*
      .tooltip:hover .tip-text:after {
        border: 8px solid transparent;
        border-top-color: #1b1b1b;
        content: ' ';
        left: 45%;
        height: 0;
        position: absolute;
        top: 51px;
        width: 0;
        z-index: 105;
      }
    */ }
    .desktop .page-settings .icon-holder {
      position: fixed;
      top: 100px;
      right: 50px; }
      .desktop .page-settings .icon-holder > div {
        font-size: 0.6em;
        border: 1px solid #0096C9;
        border-radius: 2px;
        margin-bottom: 0.5em;
        padding: 5px; }
      .desktop .page-settings .icon-holder > *:hover {
        opacity: 0.8; }
    .desktop .page-settings .tooltip .tip-text {
      color: #FFF;
      margin-left: -54px;
      margin-top: -25px;
      opacity: 0;
      padding: 10px;
      position: absolute;
      text-align: center;
      height: 0;
      width: 0; }
    .desktop .page-settings .tooltip:hover .tip-text {
      height: 2em;
      width: auto;
      border: 1px solid #161616;
      margin-top: -45px;
      opacity: 1;
      text-indent: 0em;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #343434; }
    .desktop .page-settings .tooltip:hover .tip-text:before {
      border: 9px solid transparent;
      border-top-color: #161616;
      content: ' ';
      left: 44.3%;
      height: 0;
      position: absolute;
      top: 52px;
      width: 0;
      z-index: 100; }
    .desktop .page-settings > p {
      position: relative;
      left: 5%; }
    .desktop .page-settings .personality p {
      margin-top: 30px;
      display: inline-block;
      width: 90%;
      text-align: left;
      padding-left: 2em;
      line-height: 1.5em; }
      .desktop .page-settings .personality p:before {
        content: "";
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-style: inset;
        border-width: 1px;
        position: relative;
        right: 20px;
        width: 100%; }
    .desktop .page-settings .personality label {
      width: 50%;
      display: inline-block; }
    .desktop .page-settings .personality ul {
      display: block;
      padding: 10px; }
    .desktop .page-settings .personality li {
      display: inline-block;
      width: 236px; }
    .desktop .page-settings #nav {
      padding-top: 0;
      position: fixed;
      left: 0;
      top: 100px;
      width: 8em;
      background-color: #ecf0f1; }
      .desktop .page-settings #nav a {
        display: block;
        margin: 0 0;
        padding: 20px 0;
        font-weight: bold;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #5491ac; }
        .desktop .page-settings #nav a.selected {
          background-color: #5491ac;
          color: white; }
        .desktop .page-settings #nav a:hover:not(.selected) {
          background-color: #eee; }
        .desktop .page-settings #nav a:hover {
          text-decoration: none; }
        .desktop .page-settings #nav a:first-child {
          margin-top: 0;
          border-bottom: none; }
        .desktop .page-settings #nav a:last-child {
          margin-bottom: 0;
          border-top: none; }
    .desktop .page-settings .item-list {
      padding-left: 5%;
      padding-right: 5%; }
    .desktop .page-settings .form-container {
      position: relative;
      left: 10%;
      width: 80%;
      padding-bottom: 100px;
      padding-top: 100px;
      background: #FFFFFF; }
      .desktop .page-settings .form-container img {
        height: 80px;
        width: 80px;
        margin-left: -40px;
        left: 50%;
        position: relative; }
      .desktop .page-settings .form-container .settings-box {
        margin-bottom: 50px; }
        .desktop .page-settings .form-container .settings-box .change-password {
          background-color: #f5f5f5;
          margin: 0;
          border-radius: 3px 3px 0 0;
          border: 1px solid #d8d8d8;
          border-bottom: 0;
          padding: 10px 10px 11px;
          font-size: 1.7em;
          text-shadow: 0 1px 0 #fff; }
        .desktop .page-settings .form-container .settings-box .delete-account {
          background-color: #df3e3e;
          border: 1px solid #a00;
          color: #fff;
          text-shadow: 0 -1px 0 #900;
          font-size: 1.7em;
          padding: 10px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; }
        .desktop .page-settings .form-container .settings-box div {
          padding: 10px;
          background: #fff;
          border: 1px solid #d8d8d8;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          color: #666;
          font-size: 1em; }
          .desktop .page-settings .form-container .settings-box div #savePassword {
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-size: 1.3em;
            width: 200px;
            border-radius: 3px; }
          .desktop .page-settings .form-container .settings-box div a {
            width: 200px;
            font-size: 1.3em;
            border-radius: 3px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background: #efefef;
            border-color: #e1e1e1;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
            color: #cb7f7f; }
      .desktop .page-settings .form-container form table {
        width: 100%;
        border-spacing: 20px;
        border-collapse: separate; }
        .desktop .page-settings .form-container form table tbody tr {
          margin-top: 50px; }
        .desktop .page-settings .form-container form table tbody td {
          width: 48%;
          padding: 0 1.5%; }
          .desktop .page-settings .form-container form table tbody td textarea {
            resize: none;
            width: 95%;
            height: 200px;
            margin-top: 15px;
            border-radius: 5px; }
          .desktop .page-settings .form-container form table tbody td input[type=text], .desktop .page-settings .form-container form table tbody td input[type=email], .desktop .page-settings .form-container form table tbody td input[type=file], .desktop .page-settings .form-container form table tbody td select {
            float: right;
            border-radius: 5px;
            border: 1px solid darkgray;
            padding: 3px 0 3px 3px;
            outline: none;
            background: #FFFFFF; }
          .desktop .page-settings .form-container form table tbody td ul {
            border: 1px solid darkgray;
            padding: 3px 0 3px 3px;
            padding: 2px;
            border-radius: 5px;
            height: 200px;
            overflow-y: scroll; }
          .desktop .page-settings .form-container form table tbody td #id_profile_photo {
            float: none;
            margin-left: 10px;
            border: none; }
    .desktop .page-settings .complete {
      margin: 0 auto;
      min-width: 600px;
      width: 80%;
      color: #5491ac;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1em; }
    .desktop .page-settings ul:not(.errorlist) + p {
      display: none; }
    .desktop .page-settings input[type='submit'] {
      font-family: inherit;
      color: white;
      background: #0096C9;
      font-size: 0.6em;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      height: 2em;
      padding: 0.5em 0.2em;
      margin-bottom: 0.5em;
      min-width: 2em; }
    .desktop .page-settings #saveMain, .desktop .page-settings #savePersonality {
      margin-bottom: 100px;
      width: 20%;
      font-size: 1em;
      margin-left: 40%;
      margin-right: 40%; }
    .desktop .page-settings a.dangerous {
      margin-top: 20px;
      padding: 10px;
      font-size: 0.6em;
      background-color: gray;
      color: white; }
    .desktop .page-settings div.photo > img {
      height: 150px;
      width: 150px;
      display: block;
      margin: 0 auto;
      border-radius: 50%; }
    .desktop .page-settings .main {
      text-align: left;
      padding-left: 5%;
      padding-right: 5%; }
      .desktop .page-settings .main textarea {
        width: 40%; }
      .desktop .page-settings .main p {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 50px;
        margin-left: 25%; }
        .desktop .page-settings .main p label {
          clear: both;
          display: inline-block;
          min-width: 300px;
          padding: 3px 0px 3px 3px; }
        .desktop .page-settings .main p:nth-child(5) label {
          position: relative;
          bottom: 5em; }
        .desktop .page-settings .main p > select, .desktop .page-settings .main p > input {
          -webkit-transition: all 0.30s ease-in-out;
          -moz-transition: all 0.30s ease-in-out;
          -ms-transition: all 0.30s ease-in-out;
          -o-transition: all 0.30s ease-in-out;
          outline: none;
          padding: 3px 0px 3px 3px;
          margin-right: 10px;
          border-radius: 5px;
          border: 1px solid #DDDDDD;
          background: white; }
        .desktop .page-settings .main p > select:active, .desktop .page-settings .main p > input:active {
          box-shadow: 0 0 5px #0096C9;
          border: 1px solid #0096C9; }
    .desktop .page-settings .joomahblue {
      color: #0096C9; }
  .desktop .header {
    height: 70px;
    width: 100%;
    background-color: #2AABE3; }
    .desktop .header h2 {
      text-align: center;
      color: white; }
  .desktop .application {
    width: 100%;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 50px;
    padding-top: 30px !important;
    padding-bottom: 10px; }
    .desktop .application tbody {
      width: 100%;
      display: inline-block; }
    .desktop .application tr {
      width: 100%;
      text-align: center;
      display: inline-block;
      margin-left: auto;
      margin-right: auto; }
    .desktop .application td {
      padding: 10px;
      margin: 5px;
      display: inline-block; }
    .desktop .application p {
      font-size: 12px; }
    .desktop .application .data {
      border-radius: 5px;
      background-color: #e6e6e6;
      border: 1px solid #c8c8c8;
      float: right;
      margin-right: 10px;
      max-width: 60%; }
    .desktop .application:not(.data) {
      vertical-align: middle;
      text-align: left; }
  .desktop #application-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px; }
    .desktop #application-form input, .desktop #application-form div {
      margin-top: 20px; }
    .desktop #application-form input[type='submit'] {
      background-color: #0fd1aa;
      color: white;
      border: 1px solid #0fd1aa;
      padding: 5px;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px; }
  .desktop .form-container {
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    background: #FFFFFF; }
    .desktop .form-container img {
      height: 80px;
      width: 80px;
      margin-left: -40px;
      left: 50%;
      position: relative; }
  .desktop .complete {
    margin: 0 auto;
    width: 80%;
    color: #5491ac;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em; }
  .desktop #saveMain {
    margin-bottom: 150px;
    width: 250px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto; }
  .desktop input[type='file'] {
    font-size: 12px;
    border: none; }
  .desktop label {
    width: 20%; }
  .desktop .item-list-apply {
    margin-left: 10px;
    margin-right: 10px; }
  .desktop textarea {
    width: 90%;
    height: 300px; }
  .desktop .infobox {
    position: relative; }
  .desktop #id_skills {
    height: 200px; }
  .desktop .page-blog > div {
    padding-left: 20%;
    padding-right: 20%; }
    .desktop .page-blog > div > a {
      border-radius: 10px;
      border: 1px solid black;
      padding: 10px;
      color: black;
      display: block;
      margin-bottom: 20px; }
      .desktop .page-blog > div > a:hover {
        text-decoration: none;
        opacity: 0.6; }
      .desktop .page-blog > div > a h1 {
        font-size: 1.5em;
        margin-bottom: 5px;
        font-weight: bold; }
  .desktop .page-blog-entry .back {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 1.5em; }
  .desktop .page-blog-entry .title {
    display: block;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em; }
  .desktop .page-blog-entry .blog-content {
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px; }
  .desktop.page-apply-register {
    height: auto;
    min-width: 900px; }
    .desktop.page-apply-register header {
      padding-top: 0px;
      position: static; }
      .desktop.page-apply-register header div {
        font-size: 2em;
        color: #FFFFFF;
        text-align: center; }
    .desktop.page-apply-register #register, .desktop.page-apply-register #register2 {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .desktop.page-apply-register #register div.call, .desktop.page-apply-register #register2 div.call {
        margin: 40px 0;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 20px;
        background: #29BB9C;
        font-size: 1.5em;
        color: white;
        border-radius: 5px; }
      .desktop.page-apply-register #register fieldset, .desktop.page-apply-register #register2 fieldset {
        display: inline-block;
        width: 60%;
        padding: 10px 20px;
        border-radius: 5px;
        background: #FFFFFF; }
        .desktop.page-apply-register #register fieldset table, .desktop.page-apply-register #register2 fieldset table {
          width: 100%; }
          .desktop.page-apply-register #register fieldset table td, .desktop.page-apply-register #register2 fieldset table td {
            border-radius: 5px;
            float: right;
            max-width: 60%;
            padding: 10px 0; }
            .desktop.page-apply-register #register fieldset table td input, .desktop.page-apply-register #register2 fieldset table td input {
              border-radius: 3px;
              padding: 3px 0px 3px 3px;
              outline: none;
              border: 1px solid #ecf0f1; }
          .desktop.page-apply-register #register fieldset table tr:last-child td, .desktop.page-apply-register #register2 fieldset table tr:last-child td {
            padding-bottom: 0px; }
          .desktop.page-apply-register #register fieldset table tr:not(:last-child), .desktop.page-apply-register #register2 fieldset table tr:not(:last-child) {
            border-bottom: 1px solid #ecf0f1; }
      .desktop.page-apply-register #register .legal, .desktop.page-apply-register #register2 .legal {
        width: 60%;
        font-size: 0.7em;
        margin: 10px auto; }
      .desktop.page-apply-register #register input[type=submit], .desktop.page-apply-register #register2 input[type=submit] {
        background: #29BB9C;
        border: 1px solid #29BB9C;
        font-size: 1.4em;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 3px; }
      .desktop.page-apply-register #register h3, .desktop.page-apply-register #register2 h3 {
        margin: 20px; }
      .desktop.page-apply-register #register h4, .desktop.page-apply-register #register2 h4 {
        margin-top: 40px; }
  .desktop #about-header {
    background-color: #344A5D;
    text-align: center; }
    .desktop #about-header #signin {
      float: left;
      padding-left: 30px;
      font-size: 16pt;
      font-weight: 500; }
    .desktop #about-header #register {
      float: right;
      padding-right: 30px;
      font-size: 16pt;
      font-weight: 500; }
    .desktop #about-header .title {
      color: white;
      font-weight: 1000;
      font-size: 24px;
      margin-right: 30px; }
    .desktop #about-header div {
      display: inline-block; }
      .desktop #about-header div a {
        padding: 10px; }
  .desktop #info {
    width: 100%;
    margin: 100px auto 100px auto;
    background: #FFFFFF;
    padding: 10px 20px; }
    .desktop #info #info-title {
      margin: 20px;
      font-size: 2em;
      text-align: center;
      color: #0096C9; }
    .desktop #info .titles {
      margin-bottom: 10px;
      font-size: 1.3em; }
    .desktop #info .jobseeker-blurb {
      color: #29BB9C;
      margin-bottom: 40px; }
      .desktop #info .jobseeker-blurb span {
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.3; }
    .desktop #info .employer-blurb {
      color: #0096C9;
      margin-bottom: 40px; }
      .desktop #info .employer-blurb span {
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.3; }
    .desktop #info .team {
      border-top: solid 1px rgba(0, 16, 0, 0.35);
      padding-top: 30px;
      border-bottom: solid 1px rgba(0, 16, 0, 0.35);
      padding-bottom: 30px;
      margin-bottom: 30px;
      text-align: center; }
      .desktop #info .team .titles {
        color: #f47c4f; }
      .desktop #info .team .members div {
        margin-top: 20px;
        color: #5C6D7E; }
        .desktop #info .team .members div span {
          font-weight: bold; }

/* Mobile pages */
.mobile {
  /* Blog page */
  /* Terms page */ }
  .mobile {
    font-size: medium; }
  .mobile html, .mobile body {
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
    height: 100%; }
  .mobile .wrapper {
    min-height: 100%; }
  .mobile header,
  .mobile footer {
    height: auto;
    padding: 0.4em;
    text-align: center;
    background-color: #0096C9;
    color: #fff; }
    .mobile header .left,
    .mobile footer .left {
      float: left; }
    .mobile header .right,
    .mobile footer .right {
      float: right; }
    .mobile header h1,
    .mobile footer h1 {
      font-size: 2em; }
    .mobile header div,
    .mobile footer div {
      font-size: 1.6em; }
  .mobile header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .mobile .content {
    padding-top: 80px; }
  .mobile .push {
    height: 2.4em; }
  .mobile .wrapper {
    margin-bottom: -2.4em; }
  .mobile.page-landing header .landing-header, .mobile .page-landing header .landing-header {
    display: inline-block; }
  .mobile.page-landing .content, .mobile .page-landing .content {
    padding-top: 60px; }
  .mobile.page-landing .content-div, .mobile .page-landing .content-div {
    border-bottom: 1px solid #6D6869;
    margin: 0px auto 0px auto;
    padding: 10px 0px 10px 0px;
    width: 90%; }
    .mobile.page-landing .content-div div, .mobile .page-landing .content-div div {
      text-align: center;
      padding: 5px 5%; }
      .mobile.page-landing .content-div div > a, .mobile .page-landing .content-div div > a {
        color: white;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        width: 50%; }
    .mobile.page-landing .content-div.register > div > a, .mobile .page-landing .content-div.register > div > a {
      background-color: #E74C3C; }
    .mobile.page-landing .content-div.create-cv > div > a, .mobile .page-landing .content-div.create-cv > div > a {
      background-color: #29ABE2; }
    .mobile.page-landing .content-div.signin > div > a, .mobile .page-landing .content-div.signin > div > a {
      background-color: #1ABC9C; }
    .mobile.page-landing .content-div.whatis h4, .mobile .page-landing .content-div.whatis h4 {
      font-family: bolder; }
    .mobile.page-landing .content-div.whatis > div > div, .mobile .page-landing .content-div.whatis > div > div {
      font-size: 0.8em; }
    .mobile.page-landing .content-div.blog, .mobile .page-landing .content-div.blog {
      padding: 0px; }
      .mobile.page-landing .content-div.blog > div > a, .mobile .page-landing .content-div.blog > div > a {
        width: 100%;
        padding: 0px;
        color: #0096C9;
        font-size: 0.7em; }
  .mobile.page-form, .mobile .page-form {
    text-align: center; }
    .mobile.page-form.page-register, .mobile .page-form.page-register {
      background-color: #34495E; }
    .mobile.page-form.page-signin, .mobile.page-form.page-setup, .mobile .page-form.page-signin, .mobile .page-form.page-setup {
      background-color: #E6E6E6; }
      .mobile.page-form.page-signin h2, .mobile.page-form.page-setup h2, .mobile .page-form.page-signin h2, .mobile .page-form.page-setup h2 {
        color: #6D6869; }
      .mobile.page-form.page-signin h3.join, .mobile.page-form.page-setup h3.join, .mobile .page-form.page-signin h3.join, .mobile .page-form.page-setup h3.join {
        color: white; }
        .mobile.page-form.page-signin h3.join > a, .mobile.page-form.page-setup h3.join > a, .mobile .page-form.page-signin h3.join > a, .mobile .page-form.page-setup h3.join > a {
          padding: 0.4em;
          margin-top: 20px;
          border: none;
          background-color: #1abc9c;
          color: white;
          font-size: 1.7em; }
      .mobile.page-form.page-signin fieldset.rounded, .mobile.page-form.page-setup fieldset.rounded, .mobile .page-form.page-signin fieldset.rounded, .mobile .page-form.page-setup fieldset.rounded {
        background-color: #fff; }
        .mobile.page-form.page-signin fieldset.rounded input, .mobile.page-form.page-setup fieldset.rounded input, .mobile .page-form.page-signin fieldset.rounded input, .mobile .page-form.page-setup fieldset.rounded input {
          border-bottom: 1px solid #E6E6E6; }
    .mobile.page-form.page-settings label, .mobile .page-form.page-settings label {
      font-weight: bolder;
      display: block;
      padding: 10px; }
    .mobile.page-form.page-settings input::-webkit-file-upload-button, .mobile .page-form.page-settings input::-webkit-file-upload-button {
      -webkit-appearance: none;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 5px;
      font-size: 18px;
      text-align: center;
      border: none;
      background-color: #54bbe8;
      color: white; }
    .mobile.page-form.page-settings input[type="file"], .mobile .page-form.page-settings input[type="file"] {
      width: 273px;
      font-size: 18px;
      line-height: 18px;
      padding: 5px; }
    .mobile.page-form.page-settings button#forgotPassword, .mobile .page-form.page-settings button#forgotPassword {
      padding-right: 20px;
      padding-left: 20px;
      height: 40px;
      margin-top: 30px;
      font-size: 24px;
      border-radius: 5px;
      text-align: center;
      border: none;
      background-color: #54bbe8;
      color: white; }
    .mobile.page-form.page-settings select, .mobile .page-form.page-settings select {
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
      background: #54bbe8 url(../img/select-arrow.png) no-repeat 95% center;
      width: 80%;
      min-width: 100px;
      -webkit-appearance: none;
      max-width: 500px;
      border-radius: 10px;
      padding: 5px;
      text-align: center;
      border: none;
      color: white; }
    .mobile.page-form.page-settings p, .mobile .page-form.page-settings p {
      border-bottom-color: #6D6869;
      border-bottom-width: 1px;
      border-bottom-style: ridge;
      width: 100%;
      padding-bottom: 20px;
      margin-left: auto;
      margin-right: auto; }
    .mobile.page-form.page-settings fieldset, .mobile .page-form.page-settings fieldset {
      width: 100%;
      padding-bottom: 15px;
      margin-left: auto;
      margin-right: auto; }
    .mobile.page-form.page-settings select[multiple="multiple"], .mobile.page-form.page-settings textarea, .mobile .page-form.page-settings select[multiple="multiple"], .mobile .page-form.page-settings textarea {
      width: 80%;
      max-width: 500px;
      padding: 10px;
      text-align: center;
      background: white;
      color: black; }
    .mobile.page-form.page-settings input[type="submit"], .mobile .page-form.page-settings input[type="submit"] {
      padding: 0.4em;
      padding-right: 30px;
      padding-left: 30px;
      border-radius: 10px;
      margin-top: 20px;
      border: none;
      background-color: #d35400;
      color: white;
      font-size: 2em; }
    .mobile.page-form.page-settings *:nth-child(3) select, .mobile .page-form.page-settings *:nth-child(3) select {
      display: inline-block;
      width: auto;
      max-width: 30%; }
    .mobile.page-form h2, .mobile .page-form h2 {
      font-size: 1.2em;
      color: white; }
      .mobile.page-form h2.left, .mobile .page-form h2.left {
        text-align: left;
        margin: 1em 0 -0.5em 0; }
      .mobile.page-form h2.right, .mobile .page-form h2.right {
        text-align: right;
        margin: -0.5em 0 1em 0; }
    .mobile.page-form h3, .mobile .page-form h3 {
      font-size: 0.8em;
      color: #999999; }
    .mobile.page-form h4, .mobile .page-form h4 {
      font-size: 0.6em;
      color: #999999; }
    .mobile.page-form input,
    .mobile.page-form label,
    .mobile.page-form select, .mobile .page-form input,
    .mobile .page-form label,
    .mobile .page-form select {
      font-size: 1.6em; }
    .mobile.page-form h3,
    .mobile.page-form h4, .mobile .page-form h3,
    .mobile .page-form h4 {
      margin: 0.4em 0; }
    .mobile.page-form a, .mobile .page-form a {
      color: #0096C9; }
    .mobile.page-form fieldset, .mobile .page-form fieldset {
      margin: 1em 0; }
      .mobile.page-form fieldset.rounded, .mobile .page-form fieldset.rounded {
        background-color: #E6E6E6;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em; }
        .mobile.page-form fieldset.rounded input, .mobile.page-form fieldset.rounded select, .mobile .page-form fieldset.rounded input, .mobile .page-form fieldset.rounded select {
          width: 80%;
          max-width: 90%;
          padding: 0.5em;
          border: none;
          border-bottom: 1px solid #6D6869;
          background-color: transparent;
          color: #34495E; }
          .mobile.page-form fieldset.rounded input:last-child, .mobile.page-form fieldset.rounded select:last-child, .mobile .page-form fieldset.rounded input:last-child, .mobile .page-form fieldset.rounded select:last-child {
            border-bottom: none; }
    .mobile.page-form input[type=submit], .mobile .page-form input[type=submit] {
      -webkit-appearance: none;
      padding: 0.4em;
      margin-top: 20px;
      border: none;
      background-color: #0096C9;
      color: white;
      font-size: 2em; }
  .mobile .page-history li {
    margin: 0.8em 0;
    border: 1px solid #6D6869;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em; }
    .mobile .page-history li h3 {
      padding: 0.2em 1em;
      font-size: 1.6em; }
      .mobile .page-history li h3:first-child {
        border-bottom: 1px solid #6D6869; }
  .mobile .item-list #remove-item, .mobile .item-list #add-item {
    float: none; }
  .mobile .item-list select {
    max-width: 80%; }
  .mobile.page-home {
    background-color: #F2F2F2;
    text-align: center; }
    .mobile.page-home .logo {
      width: 60%; }
    .mobile.page-home .buttons {
      margin: 3em auto; }
      .mobile.page-home .buttons a {
        display: block;
        font-size: 2em;
        margin: 0.5em auto;
        padding: 0.2em;
        width: 80%;
        color: #fff;
        -moz-border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em; }
      .mobile.page-home .buttons .register {
        background-color: #E74C3C; }
      .mobile.page-home .buttons .signin {
        background-color: #16A085; }
    .mobile.page-home .call {
      font-size: 1.3em;
      color: #34495E; }
  .mobile .page-notice li {
    padding: 1em;
    color: #4D4D4D;
    border-bottom: 1px solid #E6E6E6;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .mobile .page-notice li:first-child {
      border-top: 1px solid #6D6869; }
    .mobile .page-notice li img {
      margin: -1em 0.5em -1em 0;
      height: 2em;
      vertical-align: middle; }
  .mobile .page-notice li:nth-child(even) {
    background: #ECF0F1; }
  .mobile.page-section .content h2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.6em;
    color: #0096C9; }
  .mobile.page-section header a {
    display: inline-block; }
    .mobile.page-section header a .arrow {
      margin-right: 0.2em;
      display: inline-block;
      height: 0;
      width: 0;
      border-right: 0.3em solid #fff;
      border-top: 0.3em solid transparent;
      border-bottom: 0.3em solid transparent; }
  .mobile .page-start .profile > * {
    display: inline-block;
    vertical-align: middle; }
  .mobile .page-start .profile img {
    width: 35%;
    max-width: 150px; }
  .mobile .page-start .profile h2 {
    margin: 0.2em 0.5em;
    font-size: 1.3em;
    color: #34495E; }
  .mobile .page-start .profile .info {
    width: 60%; }
  .mobile .page-start .links {
    margin: 1em; }
    .mobile .page-start .links a {
      display: block;
      margin: 0.6em 0;
      border: 1px solid #0096C9;
      padding: 0.6em;
      color: #0096C9;
      font-size: 1.6em;
      text-align: center;
      -moz-border-radius: 0.5em;
      -webkit-border-radius: 0.5em;
      border-radius: 0.5em; }
  .mobile #overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; }
  .mobile #notification {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 220px;
    height: auto;
    margin-left: -110px;
    margin-top: -75px;
    z-index: 100;
    border-radius: 20px;
    text-align: center;
    background: #FFFFFF;
    font-size: 12px; }
    .mobile #notification .title {
      color: #c0392b;
      margin: 15px auto 10px auto; }
    .mobile #notification .body {
      margin: 10px auto; }
      .mobile #notification .body a {
        text-decoration: none;
        color: #0096C9; }
    .mobile #notification button {
      display: inline-block;
      background: #a6a6a6;
      color: #FFFFFF;
      padding: 3px 5px;
      border-radius: 3px;
      border: none;
      margin: 0 auto 10px auto; }
  .mobile.page-register form label {
    display: none; }
  .mobile.page-register form p input {
    margin-left: 0px;
    text-align: center; }
  .mobile.page-register form ul {
    position: absolute;
    width: 96%; }
  .mobile .mobile_application tbody {
    width: 100%;
    display: inline-block; }
  .mobile .mobile_application tr {
    width: 100%;
    display: inline-block; }
  .mobile .mobile_application td {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto; }
  .mobile .mobile_application .data {
    border-radius: 5px;
    background-color: #e6e6e6;
    border: 1px solid #c8c8c8;
    float: right;
    max-width: 60%; }
  .mobile .mobile_application:not(.data) {
    vertical-align: middle;
    text-align: left; }
  .mobile #mobile_application-form {
    margin: 2em; }
    .mobile #mobile_application-form fieldset {
      margin: 1em 0; }
      .mobile #mobile_application-form fieldset.rounded {
        background-color: #E6E6E6;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em; }
        .mobile #mobile_application-form fieldset.rounded input, .mobile #mobile_application-form fieldset.rounded select {
          width: 100%;
          padding: 0.5em;
          border: none;
          border-bottom: 1px solid #6D6869;
          background-color: transparent;
          color: #34495E; }
          .mobile #mobile_application-form fieldset.rounded input:last-child, .mobile #mobile_application-form fieldset.rounded select:last-child {
            border-bottom: none; }
    .mobile #mobile_application-form input[type=text],
    .mobile #mobile_application-form input[type=password],
    .mobile #mobile_application-form input[type=submit] {
      display: block;
      width: 100%; }
    .mobile #mobile_application-form label {
      color: #fff; }
    .mobile #mobile_application-form label + input {
      margin-left: 2em; }
    .mobile #mobile_application-form select.standalone {
      background-color: #E6E6E6;
      -moz-border-radius: 0.5em;
      -webkit-border-radius: 0.5em;
      border-radius: 0.5em;
      width: 70%;
      color: #34495E;
      padding: 0.25em; }
    .mobile #mobile_application-form input[type=submit] {
      padding: 0.4em;
      border: none;
      background-color: #0096C9;
      color: white;
      font-size: 2em; }
  .mobile .page-blog > div {
    padding-left: 20%;
    padding-right: 20%; }
    .mobile .page-blog > div > a {
      border-radius: 10px;
      border: 1px solid black;
      padding: 10px;
      color: black;
      display: block;
      margin-bottom: 20px; }
      .mobile .page-blog > div > a:hover {
        text-decoration: none;
        opacity: 0.6; }
      .mobile .page-blog > div > a h1 {
        font-size: 1.5em;
        margin-bottom: 5px;
        font-weight: bold; }
  .mobile .page-blog-entry .blog-content {
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
    top: 20px; }
  .mobile #personality-quiz * {
    margin: 10px;
    text-align: center; }
  .mobile form.search input {
    display: block; }
  .mobile form.search table, .mobile form.search input {
    margin-right: auto;
    margin-left: auto; }
  .mobile form.search tr > td {
    padding: 10px 0; }
  .mobile form.search tr:first-child th {
    display: none; }
  .mobile form.search tr:first-child td input {
    width: 200%; }
  .mobile .page-terms {
    padding: 80px 10px 0px 10px; }
    .mobile .page-terms h1 {
      font-size: 18px !important; }
    .mobile .page-terms h2 {
      font-size: 14px !important;
      padding-top: 10px; }
    .mobile .page-terms p {
      font-size: 10px !important;
      padding-bottom: 5px;
      text-align: justify; }
