$white: #fff;
$black: #000;
$joomahgreen: #29BB9C;
$joomahblue: #0096C9;
$joomahred: rgb(219, 47, 47);

/* $joomahgrey: #626366; */
$joomahgrey: #6D6869;

$joomahlite: #E6E6E6;

$joomahorange: #e67e22;


/* New landing theme */
$landing-bg: #ecf0f1;
$landing-header: #2980b9;
$landing-footer: #34495e;
$l-circle0: #99d5b7;
$l-circle1: #76c3dd;
$l-circle2: #eb888b;

/* flat ui colors */
$flatui-turqoise: #1abc9c;
$flatui-greensea: #16a085;
$flatui-sunflower: #f1c40f;
$flatui-orange: #f39c12;
$flatui-emerald: #2ecc71;
$flatui-nephritis: #27ae60;
$flatui-carrot: #e67e22;
$flatui-pumpkin: #d35400;
$flatui-peterriver: #3498db;
$flatui-belizehole: #2980b9;
