<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="keywords" content="Job vacancies Ghana,latest jobs in Ghana, employers in Ghana, jobs in Ghana, graduate jobs in Ghana, aviation jobs in Ghana, mtn Ghana, oil and gas jobs in Ghana, accounting jobs in Ghana, jobs in Ghana banks, engineering jobs in Ghana, teaching jobs in Ghana, Job vacancy Ghana, careers Ghana, Ghana recruitment agencies, Graduate Jobs in Ghana, Jobs in Ghana, Vacancies,  ghanaian jobs, Current Jobs Ghana, newest jobs ghana, recruitment ghana,">
    <meta name="description" content="JóòMah, the place to find jobs near you. Join Top Jobs in Ghana - Ghana's Leading Job Site.">
    <title>JóòMah: Applicant Screening Made Easy</title>

    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
  </head>
  <body style="font-family: 'Raleway', sans-serif; text-align: center;">
    <h1>Metrics</h1>
    <h2>Weekly Additions</h2>
    <div id="visualization-new" style="display: block; margin: 0 auto; width: 500px; height: 400px;"></div>
    <h2>Weekly Totals</h2>
    <div id="visualization-total" style="display: block; margin: 0 auto; width: 500px; height: 400px;"></div>
    <h2>Employer List</h2>
    <ul>
      {% for emp in employers %}
        <li>{{ emp }}</li>
      {% endfor %}
    </ul>
    <h2>Jobseeker Industries</h2>
    <div id="sek-ind" style="display: block; margin: 0 auto; width: 80%; height: 400px;"></div>
    <h2>Available Industries</h2>
    <div id="job-ind" style="display: block; margin: 0 auto; width: 80%; height: 400px;"></div>
    <script type="text/javascript">
      // Initialize Data
      var all_new, all_total, job_ind, sek_ind;

      // Draw graphs!
      function drawVisualization() {
        var key = ['x','Employers','Users','Jobs','Applications'];
        new_data = [key].concat(all_new);
        total_data = [key].concat(all_total);
        // Create and draw the visualization.
        new google.visualization.LineChart(document.getElementById('visualization-new')).
            draw(google.visualization.arrayToDataTable(new_data), {curveType: "function",
                        width: 500, height: 400,
                        vAxis: {minValue: 10}}
                );
        new google.visualization.LineChart(document.getElementById('visualization-total')).
            draw(google.visualization.arrayToDataTable(total_data), {curveType: "function",
                        width: 500, height: 400,
                        vAxis: {minValue: 10}}
                );
        new google.visualization.ColumnChart(document.getElementById('sek-ind')).
            draw(google.visualization.arrayToDataTable(sek_ind), {curveType: "function",
                        width: '80%', height: 400 }
                );
        new google.visualization.ColumnChart(document.getElementById('job-ind')).
            draw(google.visualization.arrayToDataTable(job_ind), {curveType: "function",
                        width: '80%', height: 400 }
                );
      }

      // Load all graph data
      function loadData(){ 
        $.get('/metrics/all/new/').success(function(r){ all_new = r; });
        $.get('/metrics/all/total/').success(function(r){ all_total = r; });
        $.get('/metrics/joblistings/industry/').success(function(f){ job_ind = f; });
        $.get('/metrics/jobseekers/industry/').success(function(f){ sek_ind = f; });
        $(document).ajaxStop(drawVisualization);
      }

      // Load and set callbacks
      google.load('visualization', '1', {packages: ['corechart']});
      google.setOnLoadCallback(loadData);
      </script>
  </body>
</html>
