$white: #fff;
$black: #000;
$joomahgreen: #29BB9C;
$joomahblue: #0096C9;

/* $joomahgrey: #626366; */
$joomahgrey: #6D6869;

$joomahlite: #E6E6E6;

$joomahorange: #e67e22;


/* New landing theme */
$landing-bg: #ecf0f1;
$landing-header: #2980b9;
$landing-footer: #34495e;
$l-circle0: #99d5b7;
$l-circle1: #76c3dd;
$l-circle2: #eb888b;

