@font-face {
    font-family: 'icomoon';
    src:url('/static/fonts/icomoon.eot?94kt6s');
    src:url('/static/fonts/icomoon.eot?#iefix94kt6s') format('embedded-opentype'),
        url('/static/fonts/icomoon.woff?94kt6s') format('woff'),
        url('/static/fonts/icomoon.ttf?94kt6s') format('truetype'),
        url('/static/fonts/icomoon.svg?94kt6s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2em;
    color: $joomahblue;
    cursor: pointer;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
    content: "\e600";
    &:hover {
        opacity: .8;
    }
}
.icon-minus {
    font-size: 1.8em;
    &:before {
        content: "\e601";
    }
}
